/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.blf-r {
  /* Tag.body */
  display: grid;
  grid-template-rows: 4rem min-content min-content;
  grid-template-areas:
    "blf-y-ho"
    "blf-y-mo"
    "blf-y-fo";
}
.blf-y-ho {
  /* Tag.header */
  grid-area: blf-y-ho;
  position: relative;
}
.blf-y-mo {
  /* Tag.main */
  grid-area: blf-y-mo;
  position: relative;
  min-height: calc(100vh - 4rem);
}
.blf-y-fo {
  /* Tag.footer */
  grid-area: blf-y-fo;
  position: relative;
}
@media (min-width: 768px) {
  .blf-r {
    grid-template-rows: 8rem min-content min-content;
  }
  .blf-y-mo {
    min-height: calc(100vh - 8rem);
  }
}
@media (min-width: 1280px) {
  .blf-r {
    grid-template-rows: 4rem min-content min-content;
  }
  .blf-y-mo {
    min-height: calc(100vh - 4rem);
  }
}
/* =============== :FACOOYA: =============== */
/* NOTE
 * PLF: Primary Layout Framework
 * PHO, M, F: Primary Header Object, Main, Footer
 * TOC: Terms Of Copyright
 * TOU: Terms Of Use
 * LOA: List Of Authors
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* =============== ;FACOOYA; =============== */
