/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
.npmsc {
  padding: 32px 0;
}
/* ================================================== */
.npmsc-nav {

}
.npmsc-nav .list {
  display: none;
  flex-flow: column;
  gap: 12px;
  list-style: none;
}
.npmsc-nav .item {
  border: 2px solid #222222;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}
.npmsc-nav .link {
  text-decoration: none;
}
.npmsc-nav .text {
  color: #222222;
  font-weight: bold;
  font-size: 1.125rem;
}
.npmsc-nav .sub-text {
  color: #555555;
  font-size: 1rem;
  margin-top: 4px;
  margin-left: 8px;
}
/* ================================================== */
@media (min-width: 768px) {}
/* ================================================== */
@media (min-width: 1280px) {
  .npmsc {
    max-width: 1280px;
    margin: 0 auto;
  }
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */