/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* = = = = = LAYOUT: Core = = = = = */
.core-layout {
  /* Positioning */
  position: relative;
  /* Grid */
  display: grid;
  grid-template-rows: 4rem 1fr 20rem;
  /* Box Model */
  height: 100%;
}
.home-core-layout {
  grid-template-areas:
    "tbc tbc tbc"
    "home home home"
    "bbc bbc bbc";
}
.part-core-layout {
  /* Grid !!! */
  grid-template-areas:
    "tpc tpc tpc"
    "part part part"
    "bpc bpc bpc";
}
.doc-core-layout {
  grid-template-areas:
    "tbc tbc tbc"
    "doc doc doc"
    "bbc bbc bbc";
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* - - - Area: tpc - - - */
.tpc-layout {
  /* Positioning */
  grid-area: tpc; /* Cascade: *-core-layout */
  position: fixed;
  z-index: 10; /* Delete !!! */
  /* Grid */
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 4rem;
  gap: 0rem 1rem;
  grid-template-areas:
    "dni logo sni";
  /* Box Model */
  width: 100%;
}
/* - - - CASCADE: tbc-layout - - - */
#tbc-logo { grid-area: logo; }
#tbc-dni-container { grid-area: dni; }
#tbc-sni-container { grid-area: sni; }
.dnc-root { grid-area: dnc; }
/* - - - Area: bbc - - - !!!! bbc-lib.css */
.bpc-layout {
  /* Positioning */
  grid-area: bpc;
  /* Grid */
  display: grid;
  /* Box Model */
  box-sizing: border-box;
  margin: 1rem 0rem 0rem 0rem;
  /* !!! */
  background: #222222;
}
/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */
@media screen and (min-width: 768px) {
  .core-layout {
    grid-template-rows: 8.125rem 1fr 20rem;
  }
  .tpc-layout {
    grid-template-columns: 1fr 4rem;
    grid-template-rows: 4rem 4.125rem;
    grid-template-areas:
      "logo sni"
      ". .";
  }

  #tbc-dni-container { display: none; }
}
@media (min-width: 1280px) {
  .core-layout {
    grid-template-rows: 4rem 1fr 20rem;
  }
  .tpc-layout {
    grid-template-columns: 12rem 1fr 4rem;
    grid-template-rows: 4rem;
    grid-template-areas:
      "logo . sni";
    /* !!! auto Add = sub-nav-title . = dnc-root*/
    /*grid-template-columns: 12rem 1fr 4rem;*/
  }
  
}
/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */
/* $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ */
/* DESCRIPTION
 * &{/wsr/share/lib/tbc-lib.css} (.tbc-layout, #tbc-logo, #tbc-*-container)
 * &{/wsr/share/lib/dnc-lib.css} (#dev-nav-cmp)
 *
 * e.g., <body class="home-core-layout">...</body>
 * e.g., <header class="tbc-layout">...</header>
 * e.g., *-core-layout -> tbc-layout, section-*-layout, bbc-layout
 *   tbc-layout -> tbc-logo, dni-container, sni-container, dev-nav-cmp
 *     dev-nav-cmp, sub-nav-cmp -> flex
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */