/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* = = = Layout: Part = = = */
.section-part-r, .part-rbrs {
  /* Grid */
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem 0rem;
  grid-template-areas:
    "part-layout"
    "chapter-layout";
}
.part-layout {
  /* Positioning */
  grid-area: part-layout;
  /* Grid */
  display: grid;
  grid-template-rows: min-content auto;
  gap: 1rem 0rem;
  grid-template-areas:
      "part-title"
      "part-tab-container";
  /* Box Model */
  margin: 0rem 1rem;
}
.chapter-layout {
  /* Positioning */
  grid-area: chapter-layout;
  /* Grid */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
    "chapter-container";
  /* Box Model */
  margin: 0rem 1rem;
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.part-title {
  /* Apply: flex-center */
  /* Positioning */
  grid-area: part-title;
  position: relative;
  /* Box Model */
  box-sizing: border-box;
}
.part-tab-container {
  /* Positiong */
  /* Apply: flex-center */
  grid-area: part-tab-container;
  /* Grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 1rem 1rem;
}
/* = = = */
.chapter-container {
  /* Positionging */
  grid-area: chapter-container;
  /* Grid */
  /* [JS] display: grid */
  display: none;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 0.5rem 0.5rem;
}
/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */
@media (min-width: 768px) {
  .part-layout, .chapter-layout {
    margin: 0rem 1.5rem;
  }
  .part-tab-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .chapter-container { /* !!! [JS] Setting */
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .part-layout, .chapter-layout {
    margin: 0rem 2rem;
  }
  .part-tab-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */
/* $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ */
/* DESCRIPTION
 * &{/wsr/share/opt/part-opt.css}
 *
 * e.g., section-part-layout -> part-layout, chapter-layout
 *   part-layout -> part-title, part-tab-container
 *   chapter-layout -> chapter-container
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */
