/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* =============== :Fixed: =============== */
:root {
  --transition-primary: 300ms ease;
  --transition-secondary: 300ms linear;

  --nc-transition-slide: 300ms ease;
  --nc-transition-dropdown: 300ms ease;

  --duration-primary: 300ms;
  --timing-primary: ease;
  --timing-secondary: linear;
}
:root {
  --facooya-bold-white:
    0.25px 0px var(--white),
    -0.25px 0px var(--white),
    0px 0.25px var(--white),
    0px -0.25px var(--white);
  --facooya-bold-black:
    0.25px 0px var(--black),
    -0.25px 0px var(--black),
    0px 0.25px var(--black),
    0px -0.25px var(--black);
  --bold-white:
    0.25px 0 #ffffff,
    -0.25px 0 #ffffff,
    0 0.25px #ffffff,
    0 -0.25px #ffffff;
}
:root {
  --tpnc-height: 4rem;
  --dnc-height: 4rem;

  --mdt-snc-width: 80%;
  --tddt-snc-width: 20rem;
  --tpnc-snio-width: 4rem;
  --ddt-tpnc-lio-width: 12rem;
}
:root {
  --background-color-primary: #222222;
  --background-color-secondary: #333333;

  --web-background: #222222;
  --nc-background: #222222;
  --transparent: #00000000;
  --translucent: #77777777;
  --white: #FFFFFF;
  --black: #000000;

  --facooya-primary: #90EE90;
  --facooya-secondary: #87CEEB;
}
/* =============== ;Fixed; =============== */
/* =============== :Mode: =============== */
:root {
  --background-primary: #FFFFFF;
  --background-invert-primary: #222222;

  --font-color-primary: #000000;

  --enabled-color: #000000;
  --disabled-color: #999999;
}
.dark-mode {
  --background-primary: #333333;
  --background-invert-primary: #FFFFFF;
  --font-color-primary: #FFFFFF;
}
/* =============== ;Mode; =============== */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
