/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* =============== :Handler: =============== */
/* ==========----- :cl-ddt-npmhc-exa-tno-handler: -----========== */
.npmhc-t-tno-text.cl-ddt-npmhc-e-tno-handler {
  color: var(--black);
}
/* ==========----- ;cl-ddt-npmhc-exa-tno-handler; -----========== */
/* ==========----- :cl-adt-npmhc-on-hash-change-handler: -----========== */
.npmhc-t-tno-text.cl-adt-npmhc-on-hash-change-handler {
  color: var(--black);
}
.npmhc-t-tno-gro.cl-adt-npmhc-on-hash-change-handler {
  border-color: var(--black);
}
.npmsc-y.cl-adt-npmhc-on-hash-change-handler {
  display: grid;
}
/* ==========----- ;cl-adt-npmhc-on-hash-change-handler; -----========== */
/* =============== ;Handler; =============== */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
