/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ========== NPTLC ========== */
.npmhc-r {
  --npmhc-bgro-background-primary: #222222;
}
.npmhc-r {
  /* Tag.header */
  /* Position */
  grid-area: npmhc-r;
  /* Grid */
  display: grid;
  grid-template-rows: min-content auto;
  gap: 1rem 0rem;
  grid-template-areas:
    "npmhc-y-tlo"
    "npmhc-y-tno";
  /* Layout */
  margin: 0rem 1rem;
}
/* =====----- BEPTP -----===== */
.npmhc-y-tlo {
  /* Tag.div */
  /* ----- Position ----- */
  grid-area: npmhc-y-tlo;
  position: relative;
  box-sizing: border-box;
  /* !!! v1.1.14a [tmp] */
  cursor: default;
  user-select: none;
}
.npmhc-z-tlo-text {
  /* Tag.h1 */
  /* ----- Layout ----- */
  padding: 1rem 1rem;
  /* ----- Typographic ----- */
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.npmhc-z-tlo-bgro {
  /* Tag.div */
  /* ----- Layout ----- */
  width: 100%;
  height: 0.5rem;
  /* ----- Visual ----- */
  background-color: var(--npmhc-bgro-background-primary);
  border-radius: 0.25rem;
}
/* ==========----------========== */
/* =====----- TNO -----===== */
.npmhc-y-tno {
  /* Tag.nav */
  /* Position */
  grid-area: npmhc-y-tno;
}
.npmhc-z-tno {
  /* Tag.ul */
  /* Grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 1rem 1rem;
  /* Visual */
  list-style-type: none;
}
.npmhc-e-tno {
  /* Tag.li */
  /* Position */
  position: relative;
  /* Grid */
  display: grid;
  align-items: center;
  justify-content: center;
  /* Layout */
  padding: 1rem;
  box-sizing: border-box;
  /* Visual */
  cursor: pointer;
}
.npmhc-p-tno {
  /* Tag.a */
  text-decoration: none;
}
.npmhc-t-tno-text {
  /* Tag.h2 */
  /* Position */
  position: relative;
  z-index: 2;
  /* Typography */
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  color: var(--npmo-disabled-color);
  transition:
    color var(--npmo-transition-fade);
}
.npmhc-t-tno-gro {
  /* Tag.div */
  /* ----- Position ----- */
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  z-index: 1;
  /* ----- Visual ----- */
  border: 0.25rem solid var(--npmo-disabled-color);
  border-radius: 1.5rem;
  transition:
    border var(--npmo-transition-fade);
}
/* ==========----------========== */
/* ============================== */
@media (min-width: 768px) {
  .npmhc-z-tno {
    /* Tag.ul */
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  
}
/* ============================== */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
