/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 *
 * Code style
 */
/* --- Style --- */
.import{
  color:#CCCCCC;
}
.text{
  color:#50CF00;
}
.comment{
  color:#008000;
}
.number{
  color:#6897BB;
}
.skip{
  color:#888888;
  background-color:#444444;
}
/* ------------------------------ */
/* --- Color --- */
.orange{
  color:#CC7832;
}
.pear{
  color:#FFE68D;
}
.yellow{
  color:#CCC539;
}
.purple{
  color:#B896CA;
}
.blue{
  color:#0090FF;
}
/* ------------------------------ */
/* --- Bold --- */
.white_bold{
  color:#FFFFFF;
  font-weight:bold;
}
/* ------------------------------ */
