/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 *
 * Console style
 */
.code_title{
  padding:0.5rem 1rem;
  display:inline-block;
  margin-top:0.5rem;
  background:#000000;
  color:#FFFFFF;
}
.code{
  padding:0rem 1rem;
  margin-bottom:0.5rem;
  line-height:1.5rem;
  background:#222222;
  color:#FFFFFF;
}
.code_text{
  overflow-x:auto;
  font-size:1rem;
  white-space:pre;
}

.text{
  color:#80FF00;
}
.comment{
  color:#008000;
}
.file{
  color:#FF8000;
}
.directory{
  font-weight:bold;
  color:#0080FF;
}
.root{
  font-weight:bold;
  color:#00FFFF;
}
