/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 *
 * Document page (doc-page)
 */
/*=== All Setting ===*/
html{
  width:100%;
  height:100%;
  background-color:#FFFFFF;/*- White -*/
  /*- Scroll Menu Smooth -*/
  scroll-behavior:smooth;
  scroll-padding:4.5rem;
}
*{
  padding:0;
  margin:0;
  /*- Mobile Mode Click Color Change None -*/
  -webkit-tap-highlight-color:#00000000;
}
li{
  list-style:none;
}
a{
  text-decoration:none;
  font-weight:bold;
  color:#000000;/*- Black -*/
}
/*==============================*/
/*@@@ Desktop & Mobile @@@*/
/**** Top Bar ****/
#top_bar{ /* Top Bar Height : 4rem */
  /*--- Size ---*/
  width:100%;
  height:3.875rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:flex;
  position:fixed;
  background:#000000;
  /*------------------------------*/
  border-bottom:solid 0.125rem #FFFFFF;
}
/*=== Menu Graphic ===*//*!!!*/
#tbg_related_menu_graphic, #tbg_facooya_menu_graphic{
  /*--- Size ---*/
  width:3rem;
  height:2rem;
  margin-top:1rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:flex;
  position:relative;
  /*------------------------------*/
  cursor:pointer;
}
/* --- Related menu graphic --- */
#tbg_related_menu_graphic{
  float:left;
  margin-left:1rem;
}
#tbg_facooya_menu_graphic{
  float:right;
  margin-right:1rem;
}
/*------------------------------*/
.tbg_related_menu_line_graphic, .tbg_facooya_menu_line_graphic{
  /*--- Size ---*/
  width:100%;
  height:0.25rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:block;
  position:absolute;
  background:#FFFFFF;
  /*------------------------------*/
  border-radius:2rem;
}
/*==============================*/
#tbg_facooya{
  /*--- Size ---*/
  width:100%;
  padding-top:1rem;
  padding-bottom:1rem;
  line-height:2rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:inline-block;
  position:relative;
  background:#000000;
  /*------------------------------*/
  /*--- Text ---*/
  text-align:center;
  font-size:2rem;
  color:#FFFFFF;
  /*------------------------------*/
}
#tbg_facooya_link{
  cursor:pointer;
  color:#FFFFFF;
}
/*==============================*/
/* === Related, Facooya Menu Style === */
#related_menu_section, #facooya_menu_section{
  /*--- Size ---*/
  width:20rem;
  top:4rem;
  bottom:0rem;
  /*------------------------------*/
  /*--- Display ---*/
  position:fixed;
  overflow-y:scroll;
  background:#000000;
  /*------------------------------*/
  /*right:-20rem;
  transition:right 300ms;*/
  text-align:center;
}
.related_menu_container, .facooya_menu_container{
  height:5rem;
  line-height:5rem;
  display:block;
  overflow:hidden;
  border-bottom:solid 0.125rem #FFFFFF;
  cursor:pointer;
  -webkit-user-select:none;
}
.related_menu_container_name, .facooya_menu_container_name{
  font-size:1.5rem;
  border-color:#00FF00;
  color:#FFFFFF;
}
/* !!! */
.related_menu_item, .facooya_menu_item_name_link{
  display:block;
  color:#FFFFFF;
  border-top:dashed 0.125rem #AAAAAA;
  -webkit-user-select:none;
  -webkit-user-drag:none;
}
/*==============================*/

/*!!! Test !!!*/
#scroll_menu{
  /*--- Size ---*/
  width:2rem;
  height:2rem;
  margin-right:1.5rem;
  margin-top:1rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:flex;
  position:relative;
  cursor:pointer;
  /*------------------------------*/
}
.scroll_menu_line{
  /*--- Size ---*/
  width:100%;
  height:0.25rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:block;
  position:absolute;
  background:#FFFFFF;
  border-radius:2rem;
  /*------------------------------*/
  transition:300ms;
}
/*- !!!!!!!! Go to JS!!!! -*/
/*.scroll_menu_line:first-child{
  top:1rem;
  transform:translateY(-20%) rotate(45deg);
}
.scroll_menu_line:last-child{
  bottom:1rem;
  transform:translateY(20%) rotate(-45deg);
}
#scroll_menu:hover .scroll_menu_line:first-child{
  transform-origin:left;
  transform:translateY(-20%) rotate(-45deg);
}
#scroll_menu:hover .scroll_menu_line:last-child{
  transform-origin:left;
  transform:translateY(20%) rotate(45deg);
}*/
/*!!! !!!!!!!!!!! !!!*/
/********************************/

/* !!!!! TEST !!!!! */
/*=== Scroll Menu ===*/
#scroll_menu_section{
  /*--- Size ---*/
  width:20rem;
  top:4rem;
  bottom:0rem;
  /*------------------------------*/
  /*--- Display ---*/
  position:fixed;
  overflow-y:scroll;
  background:#000000;
  right:-20rem;
  /*------------------------------*/
  text-align:center;
  transition:right 300ms;
}
#scroll_menu_title{
  display:block;
  background:#000000;
  color:#909090;
  font-size:1.5rem;
  line-height:4rem;
  font-weight:bold;
}
.scroll_link{
  display:block;
  font-size:1rem;
  background:#909090;
  border-left:solid 0.25rem #00FFFF;
  transition:300ms;
  line-height:3rem;
  font-weight:normal;
}
.scroll_link:hover{
  border-left:solid 1rem #00FFFF;
  font-weight:bold;
}
/*==============================*/
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*=== Section ===*/
#document_frame{
  padding:1rem;
  padding-top:5rem;
  padding-bottom:6rem;
  /* !!! */
  transition:300ms;
}
#document_title{
  /*--- Size ---*/
  width:100%;
  padding-bottom:1rem;
  /*------------------------------*/
  /*--- Text ---*/
  font-size:2rem;
  font-weight:bold;
  text-align:center;
  /*------------------------------*/
  border-bottom:solid 0.5rem #000000;
}
/*--- code_frame ---*/
#code_frame{
  padding-top:1rem;
}
/*------------------------------*/

/*==============================*/
/*=== Reference Link ===*/
.reference_link_title{
  border-bottom:solid 0.25rem #000000;
}
.reference_link{
  font-size:1rem;
  line-height:1.5rem;
  margin-top:0.5rem;
}
.reference_link>a{
  text-decoration:underline;
}
/*==============================*/

/*=== Bottom Bar ===*/
#bottom_bar{
  /*--- Size ---*/
  width:100%;
  bottom:0;
  line-height:1.385rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  position:fixed;
  /*------------------------------*/
  text-align:center;
  border-top:solid 0.125rem #FFFFFF;
}
#prev_line, #next_line{
  font-size:1rem;
  color:#FFFFFF;
}
#prev_line{
  float:left;
}
#next_line{
  float:right;
}
#prev, #part, #next{
  padding-top:1rem;
  padding-bottom:1rem;
  padding-left:1rem;
  padding-right:1rem;
  color:#FFFFFF;
  background:#000000;
  font-weight:normal;
  transition:300ms;
}
/*!!! PC*/
#prev:hover, #next:hover, #part:hover{
  font-weight:bold;
  background:#303030;
}
/*==============================*/

.result{
  width:15rem;
}
/*==============================*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media all and (min-width:1000px){

}
@media all and (max-width:999px){
  .result{
    width:100%;
  }
}
