/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 *
 * Document page (doc-page)
 */
/* === All Setting === */
html{
  width:100%;
  height:100%;
  background-color:#FFFFFF;
  scroll-behavior:smooth;
  scroll-padding:4.5rem;
}
*{
  padding:0;
  margin:0;
  /* - Mobile Mode Click Color Change None - */
  -webkit-tap-highlight-color:#00000000;
}
li{
  list-style:none;
}
a{
  text-decoration:none;
  font-weight:bold;
  color:#000000;
  -webkit-user-select:none;
  -webkit-user-drag:none;
}
/* ============================== */
/* *** Desktop & Mobile *** */
/* === Top Bar === */
#top_bar{ /* + Top Bar Height : 4rem + */
  /* --- Size - */
  /*width:100%;
  height:3.875rem;*/
  /* --- Display -*/
  /*display:flex;
  position:fixed;
  background:#000000;
  border-bottom:solid 0.125rem #FFFFFF;*/
  /* --- Size - */
  width:100%;
  height:3.875rem;
  /* --- Display -*/
  display:grid;
  grid-template-columns:4rem 1fr 4rem 4rem;
  grid-column-gap:1rem;
  position:fixed;
  background:#000000;
  border-bottom:solid 0.125rem #00FF00;
}
#top_bar_graphic_section{ /* + Height : 4rem + */
  /* --- Size - */
  width:100%;
  height:3.875rem;
  /* --- Display -*/
  display:grid;
  grid-template-columns:4rem 1fr 4rem 4rem;
  grid-column-gap:1rem;
  position:fixed;
  background:#000000;
  border-bottom:solid 0.125rem #00FF00;
}
/* --- TBG Menu Graphic --- */
/* --- Related, Facooya Graphic Container - */
#tbg_related_menu_graphic, #tbg_facooya_menu_graphic{
  /* --- Size -+ 25%=1rem + */
  width:75%;
  height:50%;
  margin-top:25%;
  /* --- Display - */
  display:flex;
  position:relative;
  cursor:pointer;
}
#tbg_related_menu_graphic{
  margin-left:1rem;
}
#tbg_facooya_menu_graphic{
  margin-right:1rem;
}
/* --- Related, Facooya Line Graphic - */
.tbg_related_menu_line_graphic, .tbg_facooya_menu_line_graphic{
  /* --- Size -+ width:100%=3rem height:12.5%=0.25rem + */
  width:100%;
  height:12.5%;
  /* --- Display - */
  display:block;
  position:absolute;
  background:#FFFFFF;
  border-radius:0.125rem;
}
/* ------------------------------ */
/* --- TBG Name --- */
#tbg_facooya{
  /* --- Size - */
  width:100%;
  line-height:3.875rem;
  /* --- Display - */
  display:inline-block;
  position:relative;
  background:#000000;
  /* --- Text - */
  text-align:center;
  font-size:2rem;
  color:#FFFFFF;
}
#tbg_facooya_link{
  cursor:pointer;
  color:#FFFFFF;
}
/* ------------------------------ */
/* ============================== */
/* === Menu Style === */
#related_menu_section, #facooya_menu_section, #scroll_menu_section{
  /* --- Size - */
  width:20rem;
  top:4rem;
  bottom:0rem;
  /* --- Display - */
  position:fixed;
  overflow-y:scroll;
  background:#000000;
  text-align:center;
}
/* === Related, Facooya Menu = */
.related_menu_container, .facooya_menu_container{
  height:5rem;
  line-height:5rem;
  display:block;
  overflow:hidden;
  border-bottom:solid 0.125rem #FFFFFF;
  cursor:pointer;
  -webkit-user-select:none;
}
.related_menu_container_name, .facooya_menu_container_name{
  font-size:1.5rem;
  border-color:#00FF00;
  color:#FFFFFF;
}
.related_menu_item, .facooya_menu_item_name_link{
  display:block;
  color:#FFFFFF;
  border-top:dashed 0.125rem #AAAAAA;
}
/* === Scroll Menu = */
#tbg_scroll_menu_graphic{
  /* --- Size -+ 25%=1rem */
  margin:25%;
  /* --- Display - */
  display:flex;
  position:relative;
  cursor:pointer;
}
.tbg_scroll_menu_line_graphic{
  /* --- Size -+ Dynamic Size + */
  width:75%;
  height:12.5%;
  /* --- Display - */
  display:block;
  position:absolute;
  background:#FFFFFF;
  border-radius:0.125rem;
}
#scroll_menu_container{
  display:block;
  line-height:3rem;
  background:#000000;
}
#scroll_menu_container_name{
  display:block;
  font-size:1.25rem;
  font-weight:bold;
  color:#909090;
  border-color:#00FF00;
}
.scroll_menu_item{
  display:block;
  border-left:solid 0.25rem #00FFFF;
  line-height:2.5rem;
  font-size:1rem;
  font-weight:normal;
  background:#909090;
  transition:300ms;
}
.scroll_menu_item:hover{ /* + Mobile Touch + */
  border-left:solid 1rem #00FFFF;
  font-weight:bold;
}
/* ============================== */
/* === Document Frame === */
#document_frame{
  padding:1rem;
  padding-top:4.5rem;
  padding-bottom:3.5rem;
  transition:300ms;
}
#document_title{
  /* --- Size - */
  width:50%;
  margin-right:25%;
  margin-left:25%;
  padding-bottom:0.5rem;
  /* --- Text - */
  font-size:1.75rem;
  font-weight:bold;
  text-align:center;
  border-bottom:solid 0.375rem #000000;
}
/* ============================== */
/* === Code Frame === */
#code_frame{
  padding-top:1rem;
}
.code_title{
  border-bottom:solid 0.25rem #000000;
  padding-left:1rem;
}
.code_name{
  padding:0.5rem 1rem;
  display:inline-block;
  margin-top:0.5rem;
  background:#000000;
  color:#FFFFFF;
  border-radius:1rem 1rem 0rem 0rem;
}
.code_text{
  overflow-x:auto;
  font-size:1rem;
  white-space:pre;
  color:#DDDDDD;
}
.code_file_container, .code_result_container{
  padding:0rem 1rem;
  line-height:1.5rem;
  background:#222222;
  color:#FFFFFF;
  border-radius:0rem 1rem 1rem 1rem;
}
.code_file_container{
  margin-bottom:0.5rem;
}
.code_result_container{
  margin-bottom:2rem;
}
/* ============================== */
/* === Reference Link Box === */
#reference_title{
  font-size:2rem;
  font-weight:bold;
  padding-left:1rem;
  border-bottom:solid 0.25rem #000000;
}
.reference_container{
  /* --- Size - */
  width:100%;
  line-height:2rem;
  padding-top:0.5rem;
}
.reference_item{
  padding-left:1.5rem;
  padding-top:0.5rem;
  display:block;
  font-size:1.25rem;
  border-bottom:solid 0.125rem #333333;
}
.reference_item>div{ /* - description - */
  padding-left:1rem;
  /* --- Text - */
  font-size:1rem;
  font-weight:normal;
  color:#555555;
}
/* ============================== */
/* === Bottom Bar === */
#bottom_bar{
  /* --- Size - */
  width:100%;
  bottom:0;
  line-height:2.875rem;
  /* --- Display - */
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  position:fixed;
  text-align:center;
  border-top:solid 0.125rem #FFFFFF;
}
#prev_line, #next_line{
  font-size:1rem;
  color:#FFFFFF;
}
#prev_line{
  float:left;
}
#next_line{
  float:right;
}
#prev, #part, #next{
  padding-left:1rem;
  padding-right:1rem;
  color:#FFFFFF;
  background:#000000;
  font-weight:normal;
  transition:300ms;
}
/* ============================== */
#tbg_scroll_menu_graphic:hover .tbg_scroll_menu_line_graphic:first-child{
  /* + {100/(Width/Height)/2}% {100/(2/0.25)/2}%=6.25% + */
  /* + Height*100/Width/2=HalfLineHeight% + */
  /* origin: Top Bottom transform: r- r+ , 2rem/0.25rem = 8, 100 / 8 = 12.5/2 = 6.25*//*
  top:50%;
  transform-origin:top;
  transform:translateY(-50%) translateX(-35%) rotate(-45deg);
  *//*
  top:50%;
  transform-origin:right;
  transform:translateX(-50%) translateY(35%) rotate(45deg);*/
  /*top:43.75%; Right Arrow
  transform-origin:93.75% 50%;
  transform:rotate(45deg);*/
  /*top:43.75%; Left Arrow
  transform-origin:6.25% 50%;
  transform:rotate(45deg);*/
  /*width:0.25rem; Up Arrow
  height:2rem;
  top:12.5%;
  transform-origin:50% 6.25%;
  transform:rotate(-45deg);*/
  /*width:0.25rem;
  height:2rem;
  top:-12.5%;
  transform-origin:50% 93.75%;
  transform:rotate(-45deg);

  background:#00FF00;
  transition:300ms;*/
}
#tbg_scroll_menu_graphic:hover .tbg_scroll_menu_line_graphic:last-child{
  /* Top r+ Bottom r- *//*
  top:50%;
  transform-origin:top;
  transform:translateY(-50%) translateX(35%) rotate(45deg);
  *//*
  top:50%;
  transform-origin:right;
  transform:translateX(-50%) translateY(-35%) rotate(-45deg);*/
  /*top:43.75%;
  transform-origin:93.75% 50%;
  transform:rotate(-45deg);*/
  /*top:43.75%;
  transform-origin:6.25% 50%;
  transform:rotate(-45deg);*/
  /*width:0.25rem;
  height:2rem;
  top:12.5%;
  transform-origin:50% 6.25%;
  transform:rotate(45deg);*/
  /*width:0.25rem;
  height:2rem;
  top:-12.5%;
  transform-origin:50% 93.75%;
  transform:rotate(45deg);

  background:#FF0000;
  transition:300ms;*/
}
/*Bottom Infor !!! Bottom Bar Trayangle Line*/
/* ****************************** */
@media all and (min-width:1000px){ /* Desktop Mode */
  /*document_title*/
  /*.tbg_scroll_menu_line_graphic{
    width:75%;
    height:12.5%;
  }*/
  #prev:hover, #next:hover, #part:hover{
    font-weight:bold;
    background:#303030;
  }
  .result{
    width:15rem;
  }
}
@media all and (max-width:999px){ /* Mobile Mode */
  /*.tbg_scroll_menu_line_graphic{
    width:12.5%;
    height:75%;
  }*/
  .result{
    width:100%;
  }
  /*#document_title{
    width:100%;
  }*/
}
