/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 *
 * Information (doc-page)
 */
/*=== All Setting ===*/
html{
  width:100%;
  height:100%;
  background-color:#FFFFFF;/*- White -*/
  /*- Scroll Menu Smooth -*/
  scroll-behavior:smooth;
  scroll-padding:4.5rem;
}
*{
  padding:0;
  margin:0;
  /*- Mobile Mode Click Color Change None -*/
  -webkit-tap-highlight-color:#00000000;
}
li{
  list-style:none;
}
a{
  text-decoration:none;
  font-weight:bold;
  color:#000000;/*- Black -*/
}
/*==============================*/
/*@@@ Desktop & Mobile @@@*/
/**** Top Bar ****/
#top_bar{ /* Top Bar Height : 4rem */
  /*--- Size ---*/
  width:100%;
  height:3.875rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:flex;
  position:fixed;
  background:#000000;
  /*------------------------------*/
  border-bottom:solid 0.125rem #FFFFFF;
}
#name{
  /*--- Size ---*/
  width:100%;
  padding-top:1rem;
  padding-bottom:1rem;
  line-height:2rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:inline-block;
  position:relative;
  background:#000000;
  /*------------------------------*/
  /*--- Text ---*/
  text-align:center;
  font-size:2rem;
  color:#FFFFFF;
  /*------------------------------*/
}
#name_link{
  cursor:pointer;
  color:#FFFFFF;
}
/*=== Right Menu Graphic ===*/
#right_menu{
  /*--- Size ---*/
  width:3rem;
  height:2rem;
  margin-top:1rem;
  margin-right:1rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:flex;
  position:relative;
  float:right;
  /*------------------------------*/
  cursor:pointer;
}
.right_menu_line{
  /*--- Size ---*/
  width:100%;
  height:0.25rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:block;
  position:absolute;
  background:#FFFFFF;
  /*------------------------------*/
  border-radius:2rem;
}
/*==============================*/
/*!!! Test !!!*/
#scroll_menu{
  /*--- Size ---*/
  width:2rem;
  height:2rem;
  margin-right:1.5rem;
  margin-top:1rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:flex;
  position:relative;
  cursor:pointer;
  /*------------------------------*/
}
.scroll_menu_line{
  /*--- Size ---*/
  width:100%;
  height:0.25rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:block;
  position:absolute;
  background:#FFFFFF;
  border-radius:2rem;
  /*------------------------------*/
  transition:300ms;
}
/*- !!!!!!!! Go to JS!!!! -*/
/*.scroll_menu_line:first-child{
  top:1rem;
  transform:translateY(-20%) rotate(45deg);
}
.scroll_menu_line:last-child{
  bottom:1rem;
  transform:translateY(20%) rotate(-45deg);
}
#scroll_menu:hover .scroll_menu_line:first-child{
  transform-origin:left;
  transform:translateY(-20%) rotate(-45deg);
}
#scroll_menu:hover .scroll_menu_line:last-child{
  transform-origin:left;
  transform:translateY(20%) rotate(45deg);
}*/
/*!!! !!!!!!!!!!! !!!*/

/*=== Left Menu Graphic ===*/
#left_menu{
  /*--- Size ---*/
  width:3rem;
  height:2rem;
  margin-top:1rem;
  margin-left:1rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:flex;
  position:relative;
  float:left;
  /*------------------------------*/
  cursor:pointer;
}
.left_menu_line{
  /*--- Size ---*/
  width:100%;
  height:0.25rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:block;
  position:absolute;
  background:#FFFFFF;
  /*------------------------------*/
  border-radius:2rem;
}
/*==============================*/
/********************************/
/*=== Right Menu ===*/
#menu{
  /*--- Size ---*/
  width:20rem;
  top:4rem;
  bottom:0rem;
  /*------------------------------*/
  /*--- Display ---*/
  position:fixed;
  overflow-y:scroll;
  background:#000000;
  /*------------------------------*/
  right:-20rem;
  transition:right 300ms;
  text-align:center;
}
.menu_box{
  /*--- Size ---*/
  height:5rem;
  line-height:5rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:block;
  overflow:hidden;
  border-bottom:solid 0.125rem #FFFFFF;
  /*------------------------------*/
}
.menu_title,.sub_menu_title{
  /*--- Display ---*/
  display:block;
  /*------------------------------*/
  color:#FFFFFF;
}
.menu_title{
  font-size:1.5rem;
  border-color:#00FF00;
}
.sub_menu_title{
  border-top:dashed 0.125rem #AAAAAA;
}
/*==============================*/
/*=== Left Menu ===*/
#detail_menu{
  /*--- Size ---*/
  width:20rem;
  top:4rem;
  bottom:0rem;
  /*------------------------------*/
  /*--- Display ---*/
  position:fixed;
  overflow-y:scroll;
  background:#000000;
  left:-20rem;
  /*------------------------------*/
  text-align:center;
  transition:left 300ms;
}
.detail_menu_box{
  height:5rem;
  line-height:5rem;
  display:block;
  overflow:hidden;
  border-bottom:solid 0.125rem #FFFFFF;
}
.detail_menu_title,.detail_sub_menu_title{
  display:block;
  color:#FFFFFF;
}
.detail_menu_title{
  font-size:1.5rem;
  border-color:#00FF00;
}
.detail_sub_menu_title{
  border-top:dashed 0.125rem #AAAAAA;
}
/*==============================*/
/* !!!!! TEST !!!!! */
/*=== Scroll Menu ===*/
#scroll_menu_section{
  /*--- Size ---*/
  width:20rem;
  top:4rem;
  bottom:0rem;
  /*------------------------------*/
  /*--- Display ---*/
  position:fixed;
  overflow-y:scroll;
  background:#000000;
  right:-20rem;
  /*------------------------------*/
  text-align:center;
  transition:right 300ms;
}
#scroll_menu_title{
  display:block;
  background:#000000;
  color:#909090;
  font-size:1.5rem;
  line-height:4rem;
  font-weight:bold;
}
.scroll_link{
  display:block;
  font-size:1rem;
  background:#909090;
  border-left:solid 0.25rem #00FFFF;
  transition:300ms;
  line-height:3rem;
  font-weight:normal;
}
.scroll_link:hover{
  border-left:solid 1rem #00FFFF;
  font-weight:bold;
}
/*==============================*/
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*=== Section ===*/
#section{
  padding:1rem;
  padding-top:5rem;
  padding-bottom:6rem;
  /* !!! */
  transition:300ms;
}
#section_title{
  /*--- Size ---*/
  width:100%;
  padding-bottom:1rem;
  /*------------------------------*/
  /*--- Text ---*/
  font-size:2rem;
  font-weight:bold;
  text-align:center;
  /*------------------------------*/
  border-bottom:solid 0.5rem #000000;
}
/*--- Contents ---*/
#contents{
  padding-top:1rem;
}
/*------------------------------*/
/*==============================*/
/*=== Reference Link ===*/
.reference_link_title{
  border-bottom:solid 0.25rem #000000;
}
.reference_link{
  font-size:1rem;
  line-height:1.5rem;
  margin-top:0.5rem;
}
.reference_link>a{
  text-decoration:underline;
}
/*==============================*/
/*=== Footer ===*/
#footer_bottom{
  /*--- Size ---*/
  width:100%;
  bottom:0;
  line-height:1.385rem;
  /*------------------------------*/
  /*--- Display ---*/
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  position:fixed;
  /*------------------------------*/
  text-align:center;
  /* !!! */
  transition:300ms;
  border-top:solid 0.125rem #FFFFFF;
}
#previous_line,#prev_line{
  float:left;
  font-size:1rem;
  color:#FFFFFF;
}
#next_line{
  float:right;
  font-size:1rem;
  color:#FFFFFF;
}
#prev:hover, #next:hover, #main:hover{
  font-weight:bold;
  background:#303030;
}
#prev,#previous,#next,#home,#main{
  padding-top:1rem;
  padding-bottom:1rem;
  padding-left:1rem;
  padding-right:1rem;
  color:#FFFFFF;
  background:#000000;
  font-weight:normal;
  transition:150ms;
}
#home::before{
  content:'= ';
}
#home::after{
  content:' =';
}
#main::before{
  content:'= ';
}
#main::after{
  content:' =';
}
.result{
  width:15rem;
}
/*==============================*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media all and (min-width:1000px){

}
@media all and (max-width:999px){
  .result{
    width:100%;
  }
}
