/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 *
 * Web style
 */
.code_title{
  padding:0.5rem 1rem;
  display:inline-block;
  margin-top:0.5rem;
  background:#000000;
  color:#FFFFFF;
}
.code{
  padding:0rem 1rem;
  margin-bottom:0.5rem;
  line-height:1.5rem;
  background:#222222;
  color:#FFFFFF;
}
.code_text{
  overflow-x:auto;
  font-size:1rem;
  white-space:pre;
}
.css{
  color:#FFFF00;
}
.text{
  color:#80FF00;
}
.comment{
  color:#008000;
}
.tag{
  color:#FF8000;
}
.attribute{
  color:#0080FF;
}
.number{
  color:#00FFFF;
}
/*=== Restore ===*/
.restore_a:-webkit-any-link{
  color:-webkit-link;
  cursor:pointer;
  text-decoration:underline;
  font-weight:normal;
}
.restore_ol{
  list-style-type: decimal;
}
.restore_ul{
  list-style-type:disc;
}
.restore_ol::marker{
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px;
  text-align: start;
  text-align-last: start;
}
.restore_ul::marker{
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px;
  text-align: start;
  text-align-last: start;
}
/*=============================*/
