/* SPDX-License-Identifier: MIT
 *
 * Copyright 2025-2026 Facooya and Fanone Facooya
 */

.drawer-menu {
	--item-br-background: #90ee90;
	--sub-item-br-background: #87ceeb;
}

.drawer-menu {
	position: fixed;
	top: 64px;
	right: round(nearest, -80%, 1px);
	z-index: 99;

	/* Layout */
	width: round(nearest, 80%, 1px);
	height: calc(100% - 64px);

	/* Visual */
	background: #1d1d1d;

	/* Scroll */
	overflow-y: scroll;
	overscroll-behavior: contain;
	scrollbar-width: none;

	/* Select */
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.drawer-menu .content {
	/* For Mst */
	/* Position */
	position: fixed;
	top: 64px;
	right: round(nearest, -80%, 1px);

	/* Layout */
	width: round(nearest, 80%, 1px);
	height: calc(100% - 64px);

	/* Visual */
	background: #1d1d1d;
	transform: translateX(0);
	transition: transform 300ms ease;

	/* Scroll */
	overflow-y: scroll;
	overscroll-behavior: contain;
	scrollbar-width: none;

	/* Select */
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.drawer-menu .list {
	list-style: none;
}

/* Item */
.drawer-menu .item {
	background-color: #1d1d1d;
	transition: background-color 300ms;
}

.drawer-menu .item-box {
	position: relative;
	height: 64px;
	line-height: 64px;
	text-align: center;
	cursor: pointer;
}

/* Inner Container */
.drawer-menu .item-label {
	/* Hover Reset: margin-right */
	display: inline-block;
	/* Layout */
	width: 70%;
	overflow: hidden;
	vertical-align: middle;
	/* Text */
	font-weight: bold;
	color: #dddddd;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.drawer-menu .item-arrow-icon {
	/* Hover Reset: margin-right, transform, transition */
	/* Position */
	position: absolute;
	/* top(26px) = itemTextH(64px) / 2 - height(12px) / 2 */
	top: 26px;
	right: 0;
	/* Layout */
	width: 12px;
	height: 12px;
	margin-right: 24px;
	/* Visual */
	background: #dddddd;
	mask-image: url("./icons/wide-caret.svg");
	transform: rotate(180deg);
	transition: transform 300ms;
}

.drawer-menu .item-bottom-line {
	/* Position */
	position: absolute;
	top: round(nearest, 85%, 1px);
	left: round(nearest, 5%, 1px);
	/* Layout */
	width: round(nearest, 90%, 1px);
	height: 2px;
	/* Visual */
	background: var(--item-br-background);
	border-radius: 1px;

	transform: scaleX(0);
	transition: transform 300ms ease;
}

/* Sub List */
.drawer-menu .sub-list {
	position: relative;
	/* Layout */
	height: 0;
	overflow: hidden;
	/* Visual */
	opacity: 0;
	list-style: none;
	transition: height 300ms, opacity 300ms;
}

/* :Sub Item: */
.drawer-menu .sub-item {
	height: 64px;
	padding: 0 10%;
}

.drawer-menu .sub-item-box {
	position: relative;
	display: block;
	height: 100%;
	text-align: center;
	text-decoration: none;
}

/* Inner Container */
.drawer-menu .sub-item-label {
	/* Hover Reset: transition */
	display: inline-block;
	line-height: 64px;
	max-width: round(nearest, 90%, 1px);
	overflow: hidden;
	/* Text */
	color: #eeeeee;
	white-space: nowrap;
	text-overflow: ellipsis;
	transform: translateX(0);
	transition: transform 300ms ease;
}

.drawer-menu .sub-item-arrow-icon {
	position: absolute;
	/* top(28px) = labelH(64px) / 2 - height(8px) / 2 */
	top: 28px;
	left: 100%;
	width: 8px;
	height: 8px;
	opacity: 0;
	background-color: #ffffff;
	mask-image: url("./icons/caret.svg");
	transform: translateX(16px) scale(0, 0) rotate(90deg);
	transition: transform 300ms ease, opacity 300ms ease;
}

.drawer-menu .sub-item-bottom-line {
	position: absolute;
	top: 70%;

	width: 0;
	height: 2px;

	background-color: var(--sub-item-br-background);
	border-radius: 1px;

	transform: scaleX(0);
	transform-origin: left;
	transition: transform 300ms ease;
}

/* ;Sub Item; */
.drawer-menu .scroll-lock {
	position: absolute;
	z-index: 2;
	top: 0px;
	width: 100%;
	height: calc(100% + 1px);
	background: #00000000;
	pointer-events: none;
}

.drawer-menu .fog {
	position: fixed;
	z-index: 3;
	right: 0;

	width: round(nearest, 80%, 1px);
	height: 0;

	transform: scaleY(0);
	transition: transform 300ms ease;
	pointer-events: none;
	opacity: 0; /* js */
}

.drawer-menu .fog-top {
	top: 64px;
	background-image: linear-gradient(#1d1d1d, #00000000);
	transform-origin: top;
}

.drawer-menu .fog-bottom {
	bottom: 0;
	background-image: linear-gradient(#00000000, #1d1d1d);
	transform-origin: bottom;
}

@media (min-width: 768px) {
	.drawer-menu .content {
		top: 128px;
		right: -320px;
		height: calc(100% - 128px);
		width: 320px;
	}

	.drawer-menu .fog {
		width: 320px;
	}

	.drawer-menu .fog-top {
		top: 128px;
	}
}

@media (min-width: 1280px) {
	.drawer-menu .content {
		top: 64px;
		height: calc(100% - 64px);
	}

	.drawer-menu .fog-top {
		top: 64px;
	}
}

/* ClassList */
.drawer-menu .fog-top.active {
	transform: scaleY(1);
}
.drawer-menu .fog-bottom.active {
	transform: scaleY(1);
}

/* Item Open*/
.drawer-menu .item.open {
	background: #333333;
}

.drawer-menu .item-label.open {
}

.drawer-menu .item-arrow-icon.open {
	transform: scale(1, 1) rotate(360deg) !important;
}

.drawer-menu .item-bottom-line.open {
	transform: scaleX(1);
}

.drawer-menu .sub-list.open {
	opacity: 1;
}

/* Item Hover Lock */
.drawer-menu .item-label.hover-lock{
	transform: translateX(-12px);
}

.drawer-menu .item-arrow-icon.hover-lock{
	transform: scale(1, 1) rotate(180deg) translateX(0);
	opacity: 1;
}

.drawer-menu .item-bottom-line.hover-lock{
	transform: scaleX(1);
}

/* Sub Item Active */
.drawer-menu .sub-item-label.active {
	transform: translateX(-8px);
}

.drawer-menu .sub-item-arrow-icon.active {
	opacity: 1;
	transform: translateX(0) scale(1, 1) rotate(90deg);
}

.drawer-menu .sub-item-bottom-line.active {
	transform: scaleX(1);
}

@media (hover: hover) {
	/* Item */
	.drawer-menu .item-label {
		transform: translateX(0);
		transition: transform 300ms ease;
	}

	.drawer-menu .item-arrow-icon {
		opacity: 0;
		transform: scale(0, 0) rotate(180deg) translateX(-32px);
		transition: transform 300ms ease, opacity 300ms ease;
	}

	/* Hover */
	.drawer-menu .item-box:hover .item-label {
		transform: translateX(-12px);
	}

	.drawer-menu .item-box:hover .item-arrow-icon {
		transform: scale(1, 1) rotate(180deg) translateX(0);
		opacity: 1;
	}

	.drawer-menu .item-box:hover .item-bottom-line {
		transform: scaleX(1);
	}

	.drawer-menu .sub-item-box:hover .sub-item-label {
		transform: translateX(-8px);
	}

	.drawer-menu .sub-item-box:hover .sub-item-arrow-icon {
		transform: translateX(0) scale(1, 1) rotate(90deg);
		opacity: 1;
	}

	.drawer-menu .sub-item-box:hover .sub-item-bottom-line {
		transform: scaleX(1);
	}
}
