/* SPDX-License-Identifier: MIT
 *
 * Copyright 2025-2026 Facooya and Fanone Facooya
 */

.main-menu {
	--item-br-background: #90ee90;
	--sub-item-br-background: #87ceeb;
}

/* M.ST: Mobile Screen Type */
.main-menu .scroll-lock {
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	height: calc(100% + 1px);
	background: #00000000;
	pointer-events: none;
}

.main-menu {
	position: fixed;
	top: 64px;
	left: round(nearest, -80%, 1px);
	z-index: 99;

	/* Layout */
	width: round(nearest, 80%, 1px);
	height: calc(100% - 64px);

	/* Visual */
	background: #1d1d1d;
	transition: transform 300ms ease;

	/* Scroll */
	overflow-y: scroll;
	overscroll-behavior: contain;
	scrollbar-width: none;

	/* Select */
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.main-menu .content {
	/* For Mobile Screen Type: top, left, width, height, overflow, transition */
	/* Position */
	position: fixed;
	top: 64px;
	left: round(nearest, -80%, 1px);

	/* Layout */
	width: round(nearest, 80%, 1px);
	height: calc(100% - 64px);

	/* Visual */
	background: #1d1d1d;
	transform: translateX(0);
	transition: transform 300ms ease;

	/* Scroll */
	overflow-y: scroll;
	overscroll-behavior: contain;
	scrollbar-width: none;

	/* Select */
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

/* List */
.main-menu .list {
	list-style: none;
}

/* :Item: */
.main-menu .item {
	/* Only Mst transition: background-color */
	background-color: #1d1d1d;
	transition: background-color 300ms;
}

.main-menu .item-box {
	position: relative;
	height: 64px;
	line-height: 64px;
	/*	*/
	text-align: center;
	cursor: pointer;
}

/* inner box */
.main-menu .item-label {
	/* Hover Reset: margin-right */
	display: inline-block;
	/* Layout */
	width: round(nearest, 70%, 1px);
	overflow: hidden;
	vertical-align: middle;
	/* Text */
	font-weight: bold;
	color: #dddddd;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.main-menu .item-arrow-icon {
	/* Hover Reset: margin-right, transform, transition */
	/* Position */
	position: absolute;
	/* top(26px) = itemTextH(64px) / 2 - height(12px) / 2 */
	top: 26px;
	right: 0;
	/* Layout */
	width: 12px;
	height: 12px;
	margin-right: 24px;
	/* Visual */
	background: #dddddd;
	mask-image: url("./icons/wide-caret.svg");
	transform: rotate(180deg);
	transition: transform 300ms;
}

.main-menu .item-bottom-line {
	/* Position */
	position: absolute;
	top: round(nearest, 85%, 1px);
	left: round(nearest, 5%, 1px);
	/* Layout */
	width: round(nearest, 90%, 1px);
	height: 2px;
	/* Visual */
	background: var(--item-br-background);
	border-radius: 1px;
	transform: scaleX(0);
	transition: transform 300ms ease;
}

.main-menu .item-box-scroll-lock {
	/* Only Tdst */
	display: none;
	z-index: auto;
}

.main-menu .item-chevron-wrapper {
	/* Only Tdst */
	display: none;
}

/* ;Item; */
/* Sub List */
.main-menu .sub-list {
	position: relative;
	/* Layout */
	height: 0;
	overflow: hidden;
	/* Visual */
	opacity: 0;
	list-style: none;
	transition: height 300ms, opacity 300ms;
}

/* :Sub Item: */
.main-menu .sub-item {
	height: 64px;
	padding: 0 10%;
}

.main-menu .sub-item-box {
	position: relative;
	display: block;
	height: 100%;
	text-align: center;
	text-decoration: none;
}

/* inner box */
.main-menu .sub-item-label {
	/* Hover Reset: transition */
	display: inline-block;
	line-height: 64px;
	max-width: round(nearest, 90%, 1px);
	overflow: hidden;
	/* Text */
	color: #eeeeee;
	white-space: nowrap;
	text-overflow: ellipsis;
	transform: translateX(0);
	transition: transform 300ms ease;
}

.main-menu .sub-item-arrow-icon {
	position: absolute;
	/* top(28px) = labelH(64px) / 2 - height(8px) / 2 */
	top: 28px;
	left: 100%;
	width: 8px;
	height: 8px;
	opacity: 0;
	background-color: #ffffff;
	mask-image: url("./icons/caret.svg");
	transform: translateX(16px) scale(0, 0) rotate(90deg);
	transition: transform 300ms ease, opacity 300ms ease;
}

.main-menu .sub-item-bottom-line {
	position: absolute;
	top: round(nearest, 70%, 1px);

	width: 0;
	height: 2px;

	background: var(--sub-item-br-background);
	border-radius: 1px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 300ms ease;
}

/* ;Sub Item; */
/* :Etc: */
/* Fog Only Mobile Screen Type */
.main-menu .fog {
	position: fixed;
	z-index: 3;
	left: 0;

	width: round(nearest, 80%, 1px);
	height: 0;

	transform: scaleY(0);
	transition: transform 300ms ease;
	pointer-events: none;
	opacity: 0; /* js */
}

.main-menu .fog-top {
	top: 64px;
	background-image: linear-gradient(#1d1d1d, #00000000);
	transform-origin: top;
}

.main-menu .fog-bottom {
	bottom: 0;
	background-image: linear-gradient(#00000000, #1d1d1d);
	transform-origin: bottom;
}

/* M.ST: ClassList */
.main-menu .fog-top.active {
	transform: scaleY(1);
}
.main-menu .fog-bottom.active {
	transform: scaleY(1);
}

/* Item Open */
.main-menu .item.open {
	background-color: #333333;
}

.main-menu .item-label.open {
}

.main-menu .item-arrow-icon.open {
	/* .main-menu .item-box:hover .item-arrow-icon = 40
	 * .main-menu .item-arrow-icon.open = 30 */
	transform: scale(1, 1) rotate(360deg) !important;
}

.main-menu .item-bottom-line.open {
	transform: scaleX(1);
}

.main-menu .sub-list.open {
	opacity: 1;
}

/* Item Hover Lock */
.main-menu .item-label.hover-lock {
	transform: translateX(-12px);
}

.main-menu .item-arrow-icon.hover-lock {
	transform: scale(1, 1) rotate(180deg) translateX(0);
	opacity: 1;
}

.main-menu .item-bottom-line.hover-lock {
	transform: scaleX(1);
}

/* Sub Item Active	*/
.main-menu .sub-item-label.active {
	transform: translateX(-8px);
}

.main-menu .sub-item-arrow-icon.active {
	opacity: 1;
	transform: translateX(0) scale(1, 1) rotate(90deg);
}

.main-menu .sub-item-bottom-line.active {
	transform: scaleX(1);
}

/* M.ST: Hover */
@media (hover: hover) {
	.main-menu .item-label {
		transform: translateX(0);
		transition: transform 300ms ease;
	}

	.main-menu .item-arrow-icon {
		opacity: 0;
		transform: scale(0, 0) rotate(180deg) translateX(-32px);
		transition: transform 300ms ease, opacity 300ms ease;
	}

	.main-menu .item-box:hover .item-label {
		transform: translateX(-12px);
	}

	.main-menu .item-box:hover .item-arrow-icon {
		opacity: 1;
		transform: scale(1, 1) rotate(180deg) translateX(0);
	}

	.main-menu .item-box:hover .item-bottom-line {
		transform: scaleX(1);
	}

	.main-menu .sub-item-box:hover .sub-item-label {
		transform: translateX(-8px);
	}

	.main-menu .sub-item-box:hover .sub-item-arrow-icon {
		transform: translateX(0) scale(1, 1) rotate(90deg);
		opacity: 1;
	}

	.main-menu .sub-item-box:hover .sub-item-bottom-line {
		transform: scaleX(1);
	}
}

/* T.ST: Tablet Screen Type */
@media (min-width: 768px) {
	.main-menu {
		left: 0;
		width: auto;
	}

	.main-menu .content {
		/* Reset */
		left: auto;
		height: auto;
		transition: none;
		overflow: visible;
		/* Apply */
		width: 100%;
		padding: 0 16px;
	}

	.main-menu .list {
		position: relative;
		display: flex;
		width: 100%;
	}

	/* Item */
	.main-menu .item {
		position: relative;
		/* width: listWidth(100%) / itemCount(4) */
		width: 25%;
	}

	.main-menu .item-box {
		position: relative;
		width: 100%;
		overflow: scroll;
		scrollbar-width: none;
		overscroll-behavior: contain;
	}

	.main-menu .item-box-scroll-lock {
		/* Only Tdst */
		display: block;
		z-index: auto;
	}

	/* Sub List */
	.main-menu .sub-list {
		position: absolute;
		top: 64px;
		left: round(nearest, 50%, 1px);
		width: 320px;
		clip-path: inset(0 25% 100% 25% round 0 0 16px 16px);

		opacity: 1;
		border-radius: 0 0 16px 16px;
		background: #1d1d1d;

		overflow: scroll;
		scrollbar-width: none;
		overscroll-behavior: contain;

		transform: translateX(-50%);
		transition: transform 300ms ease, clip-path 300ms ease;
	}

	.main-menu .item:first-child .sub-list {
		/* align-x-left */
		/* JS: transform */
		clip-path: inset(0 50% 100% 0 round 0 0 16px 16px);
	}

	.main-menu .item:last-child .sub-list {
		/* align-x-right */
		/* JS: transform */
		clip-path: inset(0 0 100% 50% round 0 0 16px 16px);
	}

	.main-menu .sub-list .sub-item {
		opacity: 0;
		transition: opacity 300ms ease;
	}
	.main-menu .sub-list.open .sub-item {
		opacity: 1;
	}

	/* Chevron */
	.main-menu .item-chevron-wrapper {
		/* Only td.st */
		position: absolute;
		/* top = 64px(topBarHeight) + 8px(buffer) */
		top: 72px;
		left: 50%;

		display: inline-block;
		width: 32px;
		height: 32px;
		background-image: radial-gradient(circle, #777777, #00000000 70%);
		opacity: 0;
		translate: 0 0;
		transform: translateX(-50%) scale(0, 0);
		border-radius: 16px;
		pointer-events: none;
		transition: translate 300ms linear, transform 300ms linear, opacity 300ms ease;
	}

	.main-menu .item-chevron {
		display: inline-block;
		width: 16px;
		height: 16px;
		/* marginX(8px) = (chevronWrapperWidth(32px) - width(16px)) / 2
		 * marginY(8px) = (chevronWrapperHeight(32px) - height(16px)) / 2 */
		margin: 8px;
		background: #ffffff;
		mask: url("./icons/chevron.svg") no-repeat center;
	}

	.main-menu .item-chevron-bottom {
		transform: rotate(180deg);
	}

	/* Etc */
	.main-menu .fog {
		/* Only Mobile Screen Type = display: block; */
		display: none;
	}

	/* T.ST: ClassList */
	.main-menu .item.open {
		background-color: #1d1d1d;
	}

	.main-menu .sub-list.open {
		clip-path: inset(0 0 0 0 round 0 0 16px 16px) !important;
	}

	/* Chevron Active */
	.main-menu .item-chevron-top-wrapper.active {
		opacity: 1;
		/* JS: translate */
		transform: translateX(-50%) scale(1, 1);
	}

	.main-menu .item-chevron-bottom-wrapper.active {
		opacity: 1;
		/* JS: translate */
		transform: translateX(-50%) scale(1, 1);
	}

	/* T.ST: Hover */
	@media (hover: hover) {}
}


/* D.ST: Desktop Screen Type */
@media (min-width: 1280px) {
	.main-menu .content {
		top: 0;
		/* left: htbcLogoWidth(256px) */
		left: 256px;
		/* right: htbcSnrWidth(64px) */
		right: 64px;
		/* total(320px) = HtbcLogoW(256px) + HtbcSnrW(64px)
		 * width = 100% - total(320px) */
		width: calc(100% - 320px);
		transition: width 300ms ease;
	}

	.main-menu .item {
		max-width: 240px;
	}

	.main-menu .item:first-child .sub-list {
		/* Revert: left, transform */
		left: 50%;
		transform: translateX(-50%);
		clip-path: inset(0 25% 100% 25% round 0 0 16px 16px);
	}

	.main-menu .item:last-child .sub-list {
		/* Revert: left, transform */
		left: 50%;
		transform: translateX(-50%);
		clip-path: inset(0 25% 100% 25% round 0 0 16px 16px);
		transition: clip-path 300ms ease, transform 300ms ease;
	}

	/* D.ST: ClassList */
	.main-menu .item:last-child .sub-list.align-x-right {
		/* JS: transform */
		clip-path: inset(0 0 100% 50% round 0 0 16px 16px);
	}

	/* D.ST: Hover */
	@media (hover: hover) {
		/* Reset */
		/* item box hover */
		.main-menu .item-box:hover .item-label {
			transform: translateX(0);
		}

		/* SS */
		.main-menu .item-box {
			cursor: default;
		}

		.main-menu .item-arrow-icon {
			display: none;
		}

		.main-menu .item:hover .item-bottom-line {
			transform: scaleX(1);
		}

		.main-menu .item:hover .sub-list {
			clip-path: inset(0 round 0 0 16px 16px) !important;
		}

		.main-menu .item:hover .sub-item {
			opacity: 1;
		}
	}
}
