/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.fasc-r {
  grid-area: fasc;
  display: grid;
  /* grid-template-areas:
    "y-fo . ."
    "y-to y-to y-to"
    "y-smo . ."; */
  grid-template-areas:
    "y-fo"
    "y-to"
    "y-smo";
  gap: 1rem;
  /* justify-content: left; */
  /* grid-template-columns: 1fr 1fr 1fr; */
}
/* ================================================== */
.fasc-y-fo {
  /* Tag.div */
  grid-area: y-fo;
  /* white-space: nowrap; */
  /* margin: 0rem 0rem 1rem 0rem; */
}
.fasc-z-fo {
  /* Tag.a */
  /* display: grid;
  grid-template-areas:
    "fo-dev-logo fo-ta-icon fo-icon";
  justify-content: start; */
  display: inline-flex;
}
.fasc-e-fo {
  /* Tag.span */
  mask-size: contain;
  mask-repeat: no-repeat;
  background: var(--white);
}
.fasc-e-fo-dev-logo {
  /* Tag.span */
  /* grid-area: fo-dev-logo; */
  width: 6rem;
  height: 3rem;
  mask-image: url("../../res/svg/logo-2w.svg");
}
.fasc-e-fo-ta-icon {
  /* Tag.span */
  /* grid-area: fo-ta-icon; */
  width: 0.75rem;
  height: 0.75rem;
  mask-image: url("../../res/svg/a.svg");
  margin: 0rem 1rem 0rem 0rem;
  align-self: end;
}
.fasc-e-fo-icon {
  /* Tag.span */
  /* grid-area: fo-icon; */
  width: 3rem;
  height: 3rem;
  mask-image: url("../../res/svg/b.svg");
}
/* ================================================== */
.fasc-y-to {
  grid-area: y-to;
  /* margin: 1rem 0rem 0rem 0rem; */
}
.fasc-z-to {
  color: #FFFFFF;
}
.fasc-z-to-dev {
  text-decoration: none;
  font-weight: bold;
}
/* .fasc-z-to-ys:hover {
  border-bottom: 0.0625rem solid #FFFFFF;
} */
/* ================================================== */
.fasc-y-smo {
  /* Tag.ul */
  grid-area: y-smo;
  display: inline-flex;
  gap: 1.5rem;
  list-style-type: none;
  /* align-items: end; */
  /*  */
  /* width: calc(8.4rem + 2rem); */
  /* margin: 1rem 0rem 0rem 0rem; */
  /* white-space: nowrap; */
}
/* .fasc-z-smo {
  height: 1.8rem;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #FFFFFF;
  align-items: center;
} */
/* .fasc-z-smo {
  /* Tag.li 
  display: inline-block;
  margin: 0rem 1.5rem 0rem 0rem;
} */
.fasc-p-smo {
  width: 1.8rem;
  height: 1.8rem;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #FFFFFF;
  /* align-items: center; */
}
.fasc-p-smo-a-icon {
  mask-image: url("../../res/svg/a.svg");
}
.fasc-p-smo-b-icon {
  mask-image: url("../../res/svg/b.svg");
}
.fasc-p-smo-c-icon {
  mask-image: url("../../res/svg/c.svg");
}
@media (min-width: 768px) {
  .fasc-r {
    max-width: 30rem;
  }
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */