/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.fasc-r {
  grid-area: fasc;
  display: grid;
  grid-template-areas:
    "y-fo . ."
    "y-text y-text y-text"
    "y-smo . .";
  justify-content: left;
  grid-template-columns: 1fr 1fr 1fr;
}
/* ================================================== */
.fasc-y-fo {
  /* Tag.div */
  grid-area: y-fo;
  margin: 0rem 0rem 1rem 0rem;
}
.fasc-z-fo {
  /* Tag.a */
  display: grid;
  grid-template-areas:
    "fo-dev-logo fo-ta-icon fo-icon";
  justify-content: start;
}
.fasc-e-fo {
  mask-size: contain;
  mask-repeat: no-repeat;
  background: var(--white);
}
.fasc-e-fo-dev-logo {
  grid-area: fo-dev-logo;
  width: 6rem;
  height: 3rem;
  mask-image: url("../../../svg/logo-2w.svg");
}
.fasc-e-fo-ta-icon {
  grid-area: fo-ta-icon;
  width: 0.75rem;
  height: 0.75rem;
  mask-image: url("../../../svg/a.svg");
  margin-right: 1rem;
  align-self: end;
}
.fasc-e-fo-icon {
  grid-area: fo-icon;
  width: 3rem;
  height: 3rem;
  mask-image: url("../../../svg/b.svg");
}
/* ================================================== */
.fasc-y-smo {
  /* Tag.ul */
  grid-area: y-smo;
  display: grid;
  grid-template-areas:
    "z-a z-b z-c";
  grid-template-columns: repeat(3, 1.8rem);
  gap: 1.5rem;
  list-style-type: none;
  align-items: end;
  /*  */
  width: calc(8.4rem + 2rem);
}
/* .fasc-z-smo {
  height: 1.8rem;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #FFFFFF;
  align-items: center;
} */
/* .fasc-z-smo-a-icon {
  grid-area: z-a;
  mask-image: url("../../res/social/a-icon.svg");
}
.fasc-z-smo-b-icon {
  grid-area: z-b;
  mask-image: url("../../res/social/b-icon.svg");
}
.fasc-z-smo-c-icon {
  grid-area: z-c;
  mask-image: url("../../res/social/c-icon.svg");
} */
/*  */
.fasc-z-smo-a {
  grid-area: z-a;
}
.fasc-z-smo-b {
  grid-area: z-b;
}
.fasc-z-smo-c {
  grid-area: z-c;
}
.fasc-p-smo {
  height: 1.8rem;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #FFFFFF;
  align-items: center;
}
.fasc-p-smo-a-icon {
  mask-image: url("../../../svg/a.svg");
}
.fasc-p-smo-b-icon {
  mask-image: url("../../../svg/b.svg");
}
.fasc-p-smo-c-icon {
  mask-image: url("../../../svg/c.svg");
}
/* ================================================== */
.fasc-y-text {
  grid-area: y-text;
  color: #FFFFFF;
  /*  */
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .fasc-r {
    max-width: 30rem;
  }
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */