/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 *
 * Chapter
 */
.chapter-container {
  margin: 0rem 2rem;
  grid-area: chapter-container;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
}
.chapter-item {
  position: relative;
  padding: 1rem 0rem;
  border-bottom: 0.125rem solid #333333;
}
.chapter-item-title {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
}
.chapter-item-info {
  color: #333333;
  padding-left: 1.5rem;
}
/* !!! JS */ 
.chapter-container:nth-child(2), .chapter-container:nth-child(3) {
  display: none;
}
/* DESCRIPTION
 * e.g., ?
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */
