/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 *
 * Part
 */
#part-title {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0rem 10rem;

  grid-area: part-title;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;

  border-bottom: 0.5rem solid #333333;
  /* !!!  Tag add class="part-title-border" */
}
#part-tab-container {
  grid-area: part-tab-container;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem 1rem;
  padding: 0rem 2rem;
}
.part-tab-item {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 0rem 2rem;

  position: relative;
  height: 4rem;
  cursor: pointer;

  font-weight: normal;
  color: #999999;
  border-bottom: 0.25rem solid #999999;
}
.part-tab-item:hover {
  font-weight: bold;
  color: #333333;
  border-bottom: 0.25rem solid #333333;
}
@media screen and (max-width: 600px) {
  #part-tab-container {
    grid-template-columns: 1fr 1fr;
    padding: 0rem 1rem;
  }
  #part-title {
    margin: 0rem 1rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {

}
@media screen and (min-width: 1025px) {

}
/* DESCRIPTION
 * e.g., ?
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */
