/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.hecc-r {
  --hecc-duration-primary: var(--duration-primary);
  --hecc-timing-primary: var(--timing-primary);
  --hecc-timing-secondary: var(--timing-secondary);
}
/* PBO */
.hecc-y-pbo {
  /* Position */
  position: relative;
  top: var(--tpnc-height);
  z-index: 1;
}
.hecc-z-pbo {
  position: fixed;
  width: 0.25rem;
  background: linear-gradient(
    180deg,
    var(--nc-background) 10%,
    #555555 20%
  );
  border-radius: 0rem 0rem 0.125rem 0.125rem;
}
.hecc-z-pbo-lgro {
  left: 0%;
  transition:
    height var(--hecc-duration-primary) var(--hecc-timing-secondary);
}
.hecc-z-pbo-rgro {
  right: 0%;
  transition:
    height var(--hecc-duration-primary) var(--hecc-timing-secondary),
    right var(--nc-transition-slide);
}
/* NOO */
.hecc-y-noo {
  position: fixed;
  top: var(--tpnc-height); /* TPC.height = 4rem */
  left: -20%;
  z-index: 100; /* FIXME: part.section.z-index < this.z-index */
  width: 20%;
  height: calc(100% - var(--tpnc-height));
  background-color: var(--translucent);

  transition:
    left var(--nc-transition-slide);
  
  overflow-y: scroll;
  overscroll-behavior: contain;
  /*  */
  scrollbar-width: none;
}
.hecc-z-noo-sdo {
  position: relative;
  z-index: 101;
  height: calc(100% + 1px);
  background-color: var(--transparent);
}
@media (min-width: 768px) {
  .hecc-y-noo {
    display: none;
  }
  .hecc-y-pbo {
    top: 8rem;
    width: 0.5rem;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
  }
}
@media (min-width: 1280px) {
  .hecc-y-pbo {
    top: var(--tpnc-height);
  }
}
/* NOTE
 * PBO: Progress Bar Object
 * NOO: Navigate Overlay Object
 */
/* AUTHORSHIP
 * Founder: Facooya
 */