/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
/* Item Open */
.hdnc-list .item.open {
  background-color: #333333;
}
.hdnc-list .item-text.open {
  text-shadow: var(--bold-white);
}
.hdnc-list .item-rr.open {
  /* .hdnc-list .item-container:hover .item-rr = 40
   * .hdnc-list .item-rr.open = 30 */
  transform: scale(1, 1) rotate(360deg) !important;
}
.hdnc-list .item-br.open {
  left: 5%;
  width: 90%;
}
.hdnc-list .sub-list.open {
  opacity: 1;
}
/* ================================================== */
/* Item Hover Lock */
.hdnc-list .item-text.hover-lock {
  margin-right: 32px;
  text-shadow: var(--bold-white);
}
.hdnc-list .item-rr.hover-lock {
  margin-right: 24px;
  transform: scale(1, 1) rotate(180deg);
  opacity: 1;
}
.hdnc-list .item-br.hover-lock {
  left: 5%;
  width: 90%;
}
/* ================================================== */
/* Sub Item Active  */
.hdnc-list .sub-item-text.active {
  margin-right: 12px;
}
.hdnc-list .sub-item-rr.active {
  opacity: 1;
  transform: scale(1, 1);
}
/* ================================================== */
@media (min-width: 768px) {
  .hdnc-list .item.open {
    background-color: #222222;
  }
  /* -------------------------------------------------- */
  .hdnc-list .sub-list.open {
    width: 320px;
  }
  /* ================================================== */
  /* Chevron Active */
  .hdnc-list .item-chevron-tr-wrapper.active {
    opacity: 1;
    transform: scale(1, 1);
  }
  .hdnc-list .item-chevron-br-wrapper.active {
    opacity: 1;
    transform: scale(1, 1);
  }
  /* -------------------------------------------------- */

}
/* ================================================== */
@media (min-width: 1280px) {}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */