/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.hdnc-sge-util {
  position: absolute;
  top: 0px;
  width: 100%;
  height: calc(100% + 1px);
  background: #00000000;
  pointer-events: none;
}
.hdnc {
  --hdnc-duration-primary: var(--duration-primary);
  --hdnc-timing-primary: var(--timing-primary);
  --hdnc-timing-secondary: var(--timing-secondary);
  /*  */
  --hdnc-background: var(--nc-background);
  --hdnc-font-color-primary: #FFFFFF;
  --hdnc-font-color-secondary: #FFFFFF;
  --hdnc-rgro-color: #FFFFFF;
  /*  */
  --hdnc-background-color-secondary: var(--background-color-secondary);
  /*  */
  --mdt-hdnc-top: var(--tpnc-height);
  --tdt-hdnc-top: calc(var(--tpnc-height) + var(--dnc-height));
  --ddt-hdnc-top: var(--tpnc-height);
  --mdt-hdnc-width: 80%;
  --tdt-hdnc-width: 20rem;
  --ddt-hdnc-width: 20rem;
}
.hdnc {
  position: fixed;
  top: 4rem;
  left: -80%;
  z-index: 100;
  /* Layout */
  width: 80%;
  height: calc(100% - 4rem);
  overflow-y: scroll;
  overscroll-behavior: contain;
  /* Visual */
  background: #222222;
  transition: left 300ms ease;
  /*  */
  scrollbar-width: none;
  /*  */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  /* Dynamic: top, left, width, height, overflow, transition */
}
/*  */
.hdnc-list {
  list-style: none;
}
.hdnc-item {
  background: #222222;
  transition: background-color 300ms ease;
}
.hdnc-item-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;

  cursor: pointer;
}
.hdnc-item-text {
  white-space: nowrap;
  color: #FFFFFF;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  width: 70%;
}
.hdnc-item-rr {
  position: absolute;
  right: 0rem;

  mask-image: url("../../res/icon/dropdown-arrow.svg");

  background: #FFFFFF;
  width: 0.7rem;
  height: 0.7rem;
}
.hdnc-item-br {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 0%;
  height: 0.125rem;
  background: var(--facooya-primary);
  border-radius: 0.0625rem;
  transition: left 300ms ease, width 300ms ease;
}
/* ---------- */
.hdnc-sub-list {
  position: relative;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  height: 0rem;
  opacity: 0;

  list-style: none;
  transition: height 300ms ease, opacity 300ms ease;
  /*  */
}
.hdnc-sub-item {
  height: 4rem;
  padding: 0% 10%;
}
.hdnc-sub-item-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;

  text-decoration: none;
}
.hdnc-sub-item-text {
  color: #FFFFFF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*  */
  text-align: center;
  max-width: 90%;
}
.hdnc-sub-item-lr {
  width: 0.5rem;
  height: 0.5rem;
  transform: scale(0, 0);
  background: #FFFFFF;
  border-radius: 0.1rem;
  transition: transform 300ms ease;
}
.hdnc-sub-item-rr {
  position: absolute;
  left: 100%;
  width: 0.5rem;
  height: 0.5rem;
  mask-image: url("../../res/icon/link-arrow.svg");
  background: #FFFFFF;
}
.hdnc-sub-item-br {
  position: absolute;
  top: 70%;
  width: 0rem;
  height: 0.125rem;
  background: var(--facooya-secondary);
  border-radius: 0.0625rem;
  transition: left 300ms ease, width 300ms ease;
}
/* ---------- */
.hdnc-sge {
  z-index: 2;
}
.hdnc-fog {
  position: fixed;
  z-index: 3;

  width: 80%;
  height: 0px;
  
  transition: height 300ms ease;
  pointer-events: none;
}
.hdnc-fog-tr {
  top: 64px;
  background: linear-gradient(#222222, #00000000);
}
.hdnc-fog-br {
  bottom: 0px;
  background: linear-gradient(#00000000, #222222);
}
/*  */
.hdnc-chevron-wrapper {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  /*  */
  position: absolute;
  top: 72px; /* htbcHeight(64px) + buffer(8px) */
  left: 0px;
  /*  */
  width: 32px;
  height: 32px;
  background: radial-gradient(circle, #777777, #00000000 70%);
  /*  */
  opacity: 0;
  transform: scale(0, 0);
  border-radius: 16px;
  /*  */
  pointer-events: none;
  transition:
    transform 300ms linear,
    top 300ms ease,
    left 300ms ease,
    opacity 300ms ease;
}
.hdnc-chevron {
  width: 16px;
  height: 16px;
  /*  */
  mask-image: url("../../res/icon/chevron.svg");
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  background: #FFFFFF;
}
.hdnc-chevron-br {
  transform: rotate(180deg);
}
.hdnc-item-container-sge {
  display: none;
  /*  */
  /* position: absolute;
  top: 0px;
  width: 100%;
  height: calc(100% + 1px);
  background: #00000000;
  pointer-events: none; */
}
/*  */
.hdnc-sub-list-sge {
  display: none;
  /*  */
  /* position: absolute;
  top: 0px;
  width: 100%;
  height: calc(100% + 1px);
  background: #00000000;
  pointer-events: none; */
}
/*  */
@media (min-width: 768px) {
  /* .hdnc-chevron-br-wrapper {
    display: none;
  } */
  /*  */
  .hdnc {
    /* Reset */
    left: auto;
    width: 100%;
    height: auto;
    transition: none;
    overflow-y: visible;
    /* Box Model */
    padding: 0rem 1rem;
  }
  .hdnc-list {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .hdnc-item {
    position: relative;
    width: 25%;
    display: flex;
    justify-content: center;
  }
  .hdnc-item-container {
    width: 100%;
    position: relative;
    overflow: auto;
    scrollbar-width: none;
    overscroll-behavior: contain;
  }
  .hdnc-sub-list {
    position: absolute;
    top: 4rem;
    width: 10rem;
    opacity: 1;
    border-radius: 0rem 0rem 1rem 1rem;
    background: #222222;
    /*  */
    overflow: auto;
    scrollbar-width: none;
    overscroll-behavior: contain;
    /*  */
    transition:
      width 300ms ease,
      height 300ms ease,
      max-height 300ms ease;
  }
  .hdnc-item:first-child .hdnc-sub-list {
    left: 0px;
  }
  .hdnc-item:last-child .hdnc-sub-list {
    right: 0px;
    transition:
      width 300ms ease,
      height 300ms ease,
      max-height 300ms ease;
  }
  /*  */
  .hdnc-fog {
    display: none;
  }
  /*  */
  .hdnc-chevron-wrapper {
    display: flex;
  }
  /*  */
  .hdnc-item-container-sge, .hdnc-sub-list-sge {
    display: block;
  }
}
@media (min-width: 1280px) {
  .hdnc {
    top: 0rem;
    left: 16rem;
    right: 4rem;
    width: calc(100% - 16rem - 4rem);
    transition: width 300ms ease;
  }
  .hdnc-list {
    justify-content: start;
  }
  /*  */
  .hdnc-item {
    max-width: 15rem;
  }
  .hdnc-item-container {
    cursor: default;
  }
  /*  */
  .hdnc-item:first-child .hdnc-sub-list {
    /* Reset: left */
    left: auto;
  }
  .hdnc-item:last-child .hdnc-sub-list {
    /* Reset: right */
    /* Default: transform translateX JS */
    right: auto;
    transition:
      transform 300ms ease,
      width 300ms ease,
      height 300ms ease,
      max-height 300ms ease;
  }
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */