/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
@media (hover: hover) {
  .hdnc-list .item-container {
    cursor: default;
  }
  .hdnc-list .item-text {
    transition:
      margin-right 300ms,
      text-shadow 300ms;
  }
  .hdnc-list .item-rr {
    margin-right: 0;
    opacity: 0;
    transform: scale(0, 0) rotate(180deg);
    transition:
      margin-right 300ms,
      opacity 300ms,
      transform 300ms;
  }
  /* -------------------------------------------------- */
  .hdnc-list .sub-item-text {
    transition:
      text-shadow 300ms,
      margin-right 300ms;
  }
  /* ================================================== */
  .hdnc-list .item-container:hover .item-text {
    margin-right: 32px;
    text-shadow: var(--bold-white);
  }
  .hdnc-list .item-container:hover .item-rr {
    margin-right: 24px;
    opacity: 1;
    transform: scale(1, 1) rotate(180deg);
  }
  .hdnc-list .item-container:hover .item-br {
    left: 5%;
    width: 90%;
  }
  /* -------------------------------------------------- */
  .hdnc-list .sub-item-container:hover .sub-item-text {
    margin-right: 12px;
    text-shadow: var(--bold-white);
  }
  /* ================================================== */
  @media (min-width: 768px) {}
  /* ================================================== */
  @media (min-width: 1280px) {
    /* Reset */
    /* Item Container Hover */
    .hdnc-list .item-container:hover .item-text {
      margin-right: 0;
      text-shadow: none;
    }
    .hdnc-list .item-container:hover .item-br {
      left: auto;
      width: auto;
    }
    /* ================================================== */
    /* SS */
    .hdnc-list .item-rr {
      display: none;
    }
    .hdnc-list .item-text {
      /* Reset: margin-right */
      margin-right: 0;
      transition: text-shadow 300ms;
    }
    /* ================================================== */
    .hdnc-list .item:hover .item-text {
      text-shadow: var(--bold-white);
    }
    .hdnc-list .item:hover .item-br {
      left: 5%;
      width: 90%;
    }
    .hdnc-list .item:hover .sub-list {
      width: 320px;
    }
  }
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */