/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
@media (hover: none) {
  .hdnc-item-text {
    margin-right: 32px;
  }
  .hdnc-item-rr {
    margin-right: 32px;
    transform: rotate(180deg);
    transition: transform 300ms ease;
  }
  .hdnc-sub-item-text {
    transition: margin 300ms ease;
  }
  .hdnc-sub-item-rr {
    opacity: 0;
    transform: scale(0, 0);
    transition:
      left 300ms ease,
      margin 300ms ease,
      opacity 300ms ease,
      transform 300ms ease;
  }
}
@media (hover: hover) {
  .hdnc-item-text {
    transition:
      text-shadow 300ms ease,
      margin 300ms ease;
  }
  .hdnc-item-rr {
    margin: 0px;
    opacity: 0;
    transform: scale(0, 0) rotate(180deg);
    transition:
      margin 300ms ease,
      opacity 300ms ease,
      transform 300ms ease;
  }
  .hdnc-sub-item-text {
    transition:
      text-shadow 300ms ease,
      margin 300ms ease;
  }
  .hdnc-sub-item-rr {
    opacity: 0;
    transform: scale(0, 0);
    transition:
      left 300ms ease,
      margin 300ms ease,
      opacity 300ms ease,
      transform 300ms ease;
  }
  /*  */
  .hdnc-item-container:hover .hdnc-item-text {
    text-shadow: var(--facooya-bold-white);
    margin-right: 32px;
  }
  .hdnc-item-container:hover .hdnc-item-rr {
    margin-right: 32px;
    opacity: 1;
    transform: scale(1, 1) rotate(180deg);
  }
  .hdnc-item-container:hover .hdnc-item-br {
    left: 5%;
    width: 90%;
  }
  /* ============================== */
  .hdnc-sub-item-container:hover .hdnc-sub-item-text {
    margin-right: 12px;
    text-shadow: var(--facooya-bold-white);
  }
  /* ============================== */
  @media (min-width: 768px) {

  }
  @media (min-width: 1280px) {
    .hdnc-item-rr {
      display: none;
    }
    .hdnc-item:hover .hdnc-item-text {
      margin: 0px;
      text-shadow: var(--facooya-bold-white);
    }
    .hdnc-item:hover .hdnc-item-br {
      left: 5%;
      width: 90%;
    }
    .hdnc-item:hover .hdnc-sub-list {
      width: 320px;
    }
  }
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 * I: Interaction
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */