/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
.hdnc {
  --item-br-background: #90ee90;
  --sub-item-br-background: #87ceeb;
}
/* -------------------------------------------------- */
.hdnc-sge-group {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 1px);
  background: #00000000;
  pointer-events: none;
}
/* -------------------------------------------------- */
.hdnc {
  /* For Mst: top, left, width, height, overflow, transition */
  /* Position */
  position: fixed;
  top: 64px;
  left: -80%;
  z-index: 100;
  /* Layout */
  width: 80%;
  height: calc(100% - 64px);
  /* Visual */
  background: #222222;
  transition: left 300ms;
  /* Scroll */
  overflow-y: scroll;
  overscroll-behavior: contain;
  scrollbar-width: none;
  /* Select */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.hdnc-sge {
  z-index: 2;
}
/* ================================================== */
/* List */
.hdnc-list {
  list-style: none;
}
/* ================================================== */
/* :Item: */
.hdnc-list .item {
  /* Only Mst transition: background-color */
  background: #222222;
  transition: background-color 300ms;
}
.hdnc-list .item-container {
  position: relative;
  height: 64px;
  line-height: 64px;
  /*  */
  text-align: center;
  cursor: pointer;
}
/* -------------------------------------------------- */
/* Inner Container */
.hdnc-list .item-text {
  /* Hover Reset: margin-right */
  display: inline-block;
  /* Layout */
  width: 70%;
  overflow: hidden;
  vertical-align: middle;
  /* Text */
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hdnc-list .item-rr {
  /* Hover Reset: margin-right, transform, transition */
  /* Position */
  position: absolute;
  /* top(26px) = itemTextH(64px) / 2 - height(12px) / 2 */
  top: 26px;
  right: 0;
  /* Layout */
  width: 12px;
  height: 12px;
  margin-right: 24px;
  /* Visual */
  background: #ffffff;
  mask-image: url("../../res/icon/dropdown-arrow.svg");
  transform: rotate(180deg);
  transition: transform 300ms;
}
.hdnc-list .item-br {
  /* Position */
  position: absolute;
  top: 85%;
  left: 50%;
  /* Layout */
  width: 0;
  height: 2px;
  /* Visual */
  background: var(--item-br-background);
  border-radius: 1px;
  transition: left 300ms, width 300ms;
}
.hdnc-list .item-container-sge {
  /* Only Tdst */
  display: none;
}
/* -------------------------------------------------- */
.hdnc-list .item-chevron-wrapper {
  /* Only Tdst */
  display: none;
}
/* ;Item; */
/* ================================================== */
/* Sub List */
.hdnc-list .sub-list {
  position: relative;
  /* Layout */
  height: 0;
  overflow: hidden;
  /* Visual */
  opacity: 0;
  list-style: none;
  transition: height 300ms, opacity 300ms;
}
.hdnc-list .sub-list-sge {
  /* display: none; Only Mst */
  display: none;
}
/* ================================================== */
/* :Sub Item: */
.hdnc-list .sub-item {
  height: 64px;
  padding: 0 10%;
}
.hdnc-list .sub-item-container {
  position: relative;
  display: block;
  height: 100%;
  /*  */
  text-align: center;
  text-decoration: none;
}
/* -------------------------------------------------- */
/* Inner Container */
.hdnc-list .sub-item-text {
  /* Hover Reset: transition */
  display: inline-block;
  line-height: 64px;
  max-width: 90%;
  overflow: hidden;
  /* Text */
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: margin-right 300ms;
}
.hdnc-list .sub-item-rr {
  position: absolute;
  /* top(28px) = textH(64px) / 2 - height(8px) / 2 */
  top: 28px;
  left: 100%;
  /*  */
  width: 8px;
  height: 8px;
  /*  */
  opacity: 0;
  background-color: #ffffff;
  mask-image: url("../../res/icon/link-arrow.svg");
  transform: scale(0, 0);
  transition:
    left 300ms,
    margin-right 300ms,
    opacity 300ms,
    transform 300ms;
}
.hdnc-list .sub-item-br {
  position: absolute;
  top: 70%;

  width: 0;
  height: 2px;

  background: var(--sub-item-br-background);
  border-radius: 1px;
  transition: left 300ms, width 300ms;
}
/* ;Sub Item; */
/* ================================================== */
/* :Etc: */
/* Fog Only Mst */
.hdnc-fog {
  position: fixed;
  z-index: 3;

  width: 80%;
  height: 0;
  
  transition: height 300ms;
  pointer-events: none;
}
.hdnc-fog-tr {
  top: 64px;
  background-image: linear-gradient(#222222, #00000000);
}
.hdnc-fog-br {
  bottom: 0;
  background-image: linear-gradient(#00000000, #222222);
}
/* ;Etc; */
/* ================================================== */
@media (min-width: 768px) {
  .hdnc {
    /* Reset */
    left: auto;
    height: auto;
    transition: none;
    overflow: visible;
    /* Apply */
    width: 100%;
    padding: 0 16px;
  }
  /* ================================================== */
  .hdnc-list {
    position: relative;
    display: flex;
    width: 100%;
  }
  /* ================================================== */
  /* Item */
  .hdnc-list .item {
    position: relative;
    /* width: listWidth(100%) / itemCount(4) */
    width: 25%;
  }
  .hdnc-list .item-container {
    position: relative;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    overscroll-behavior: contain;
  }
  .hdnc-list .item-container-sge {
    /* Only Tdst */
    display: block;
  }
  /* ================================================== */
  /* Sub List */
  .hdnc-list .sub-list {
    position: absolute;
    top: 64px;
    left: 50%;
    width: 160px;
    opacity: 1;
    border-radius: 0 0 16px 16px;
    background: #222222;
    /*  */
    overflow: scroll;
    scrollbar-width: none;
    overscroll-behavior: contain;
    /*  */
    transform: translateX(-50%);
    transition:
      width 300ms,
      height 300ms,
      max-height 300ms;
  }
  .hdnc-list .item:first-child .sub-list {
    /* align-x-left */
    left: 0%;
    transform: translateX(-0%);
  }
  .hdnc-list .item:last-child .sub-list {
    /* align-x-right */
    left: 100%;
    transform: translateX(-100%);
  }
  .hdnc-list .sub-list-sge {
    /* Only Tdst */
    display: block;
  }
  /* ================================================== */
  /* Chevron */
  /* Only Tdst */
  .hdnc-list .item-chevron-wrapper {
    /* Only Tdst */
    position: absolute;
    /* top = 64px(htbcHeight) + 8px(buffer) */
    top: 72px;
    display: inline-block;
    /*  */
    width: 32px;
    height: 32px;
    background-image: radial-gradient(circle, #777777, #00000000 70%);
    /*  */
    opacity: 0;
    transform: scale(0, 0);
    border-radius: 16px;
    /*  */
    pointer-events: none;
    transition:
      transform 300ms linear,
      top 300ms,
      left 300ms,
      opacity 300ms;
  }
  .hdnc-list .item-chevron {
    display: inline-block;
    width: 16px;
    height: 16px;
    /* marginX(8px) = (chevronWrapperW(32px) - width(16px)) / 2
     * marginY(8px) = (chevronWrapperH(32px) - height(16px)) / 2 */
    margin: 8px;
    /*  */
    background: #ffffff;
    mask: url("../../res/icon/chevron.svg") no-repeat center;
  }
  .hdnc-list .item-chevron-br {
    transform: rotate(180deg);
  }
  /* ================================================== */
  /* Etc */
  .hdnc-fog {
    /* Only Mst = display: block; */
    display: none;
  }
}
/* ================================================== */
@media (min-width: 1280px) {
  .hdnc {
    top: 0;
    /* left: htbcLogoWidth(256px) */
    left: 256px;
    /* right: htbcSnrWidth(64px) */
    right: 64px;
    /* total(320px) = HtbcLogoW(256px) + HtbcSnrW(64px)
     * width = 100% - total(320px) */
    width: calc(100% - 320px);
    transition: width 300ms;
  }
  /* ================================================== */
  .hdnc-list .item {
    max-width: 240px;
  }
  .hdnc-list .item:first-child .sub-list {
    /* Revert: left, transform */
    left: 50%;
    transform: translateX(-50%);
  }
  .hdnc-list .item:last-child .sub-list {
    /* Revert: left, transform */
    /* .align-x-right IN htbc-cl.css
     * .align-x-right => left, transform
     * transition => .align-x-right */
    left: 50%;
    transform: translateX(-50%);
    transition:
      width 300ms,
      height 300ms,
      max-height 300ms,
      left 300ms,
      transform 300ms;
  }
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */