/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.display-block {
  display: block;
}
.left-0 {
  left: 0%;
}
.left-80 {
  left: 80%;
}
.left-100 {
  left: 100%;
}
.right-0 {
  right: 0%;
}
.right-20rem {
  right: 20rem;
}
.margin-right-20rem {
  margin-right: 20rem;
}
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */