/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* =============== :Handler: =============== */
/* ==========----- :cl-mdt-hdnc-z-po-handler: -----========== */
.hdnc-y.cl-mdt-hdnc-z-po-handler {
  background-color: var(--hdnc-background-color-secondary);
}
.hdnc-e-po-text.cl-mdt-hdnc-z-po-handler {
  font-weight: bold;
}
.hdnc-e-po-rgro.cl-mdt-hdnc-z-po-handler {
  transform: rotate(180deg);
}
.hdnc-e-po-bgro.cl-mdt-hdnc-z-po-handler {
  left: 15%;
  width: 70%;
}
.hdnc-t.cl-mdt-hdnc-z-po-handler {
  opacity: 1;
}
/* ==========----- ;cl-mdt-hdnc-z-po-handler; -----========== */
/* ==========----- :cl-tdt-hdnc-z-po-handler: -----========== */
.hdnc-e-po-bgro.cl-tdt-hdnc-z-po-handler {
  left: 10%;
  width: 80%;
}
.hdnc-e.cl-tdt-hdnc-z-po-handler {
  width: var(--hdnc-e-width-secondary);
}
.hdnc-e.cl-tdt-hdnc-z-po-handler-nth-1 {
  left: 0%;
}
.hdnc-e.cl-tdt-hdnc-z-po-handler-nth-4 {
  right: 0%;
}
.hdnc-t.cl-tdt-hdnc-z-po-handler {
  opacity: 1;
}
/* ==========----- ;cl-tdt-hdnc-z-po-handler; -----========== */
/* ==========----- :cl-ddt-hdnc-y-handler: -----========== */
.hdnc-e-po-text.cl-ddt-hdnc-y-handler {
  font-weight: bold;
}
.hdnc-e-po-bgro.cl-ddt-hdnc-y-handler {
  left: 10%;
  width: 80%;
}
.hdnc-e.cl-ddt-hdnc-y-handler {
  width: var(--hdnc-e-width-secondary);
}
.hdnc-e.cl-ddt-hdnc-y-handler-nth-4 {
  right: 0%;
}
.hdnc-t.cl-ddt-hdnc-y-handler {
  opacity: 1;
}
/* ==========----- ;cl-ddt-hdnc-y-handler; -----========== */
/* ==========----- :cl-ddt-hdnc-p-handler: -----========== */
.hdnc-g-text.cl-ddt-hdnc-p-handler {
  font-weight: bold;
}
.hdnc-g-rgro.cl-ddt-hdnc-p-handler {
  margin: 0rem 0rem 0rem 1rem;
  border-top: 0.25rem solid var(--transparent);
  border-bottom: 0.25rem solid var(--transparent);
  border-left: 0.5rem solid var(--white);
  opacity: 1;
}
/* ==========----- ;cl-ddt-hdnc-p-handler; -----========== */
/* ==========----- :cl-mdt-hdnc-z-sfro-handler: -----========== */
.hdnc-z-eco-sfro-tgro.cl-mdt-hdnc-z-sfro-handler {
  height: 5rem;
}
.hdnc-z-eco-sfro-bgro.cl-mdt-hdnc-z-sfro-handler {
  height: 5rem;
}
/* ==========----- ;cl-mdt-hdnc-z-sfro-handler; -----========== */
/* =============== ;Handler; =============== */
/* =============== :FACOOYA: =============== */
/* NOTE
 * CL: Class List
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* =============== ;FACOOYA; =============== */
