/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.hdnc-r {
  --hdnc-duration-primary: var(--duration-primary);
  --hdnc-timing-primary: var(--timing-primary);
  --hdnc-timing-secondary: var(--timing-secondary);
  /*  */
  --hdnc-background: var(--nc-background);
  --hdnc-font-color-primary: #FFFFFF;
  --hdnc-font-color-secondary: #FFFFFF;
  --hdnc-rgro-color: #FFFFFF;
  --hdnc-background-color-secondary: var(--background-color-secondary);
  --hdnc-e-width-primary: 10rem;
  --hdnc-e-width-secondary: 18rem;
}
.hdnc-r {
  /* Positioning */
  position: fixed;
  top: var(--tpnc-height); /* TPC.height = 4rem */
  left: -80%;
  z-index: 100; /* FIXME: Part section < Temp */
  /* Grid */
  display: grid;
  grid-auto-rows: min-content; /* hdnc-z: 4rem + hdnc-e: auto, !!! template-rows? */
  /* Layout */
  width: 80%;
  height: calc(100% - var(--tpnc-height)); /* 4rem = TPC.height */
  overflow-y: scroll;
  overscroll-behavior: contain;
  /* Visual */
  background-color: var(--nc-background);
  transition: 
    left var(--hdnc-duration-primary) var(--hdnc-timing-primary);
}
.hdnc-y-eco {
  position: absolute;
  top: 0rem;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.hdnc-z-eco-sfro {
  position: fixed;
  z-index: 1;
  width: 80%;
  pointer-events: none;
  transition: height 300ms ease;
}
.hdnc-z-eco-sfro-tgro {
  top: 4rem;
  height: 0rem;
  background: linear-gradient(
    var(--hdnc-background),
    var(--transparent)
  );
}
.hdnc-z-eco-sfro-bgro {
  bottom: 0rem;
  height: 0rem;
  background: linear-gradient(
    var(--transparent),
    var(--hdnc-background)
  );
}
.hdnc-z-eco-sdo {
  /* ios snc scroll bug fix */
  /* Position */
  position: absolute;
  /* .hdnc-y-mgpt < .hdnc-y */
  z-index: 2;
  top: 0rem;
  /* Layout */
  width: 100%;
  height: calc(100% + 1px);
  /* Visual */
  background: var(--transparent);
}
/* !!!!! :v1.1.17a [test] (scroll-fog): !!!!! */
.hdnc-z-eco-tfo {
  position: fixed;
  top: 4rem;
  z-index: 1;
  width: 100%;
  height: 0rem;
  background: linear-gradient(
    var(--snc-background),
    var(--transparent)
  );
  pointer-events: none;
  transition: height 300ms ease;
}
.hdnc-z-eco-bfo {
  position: fixed;
  bottom: 0rem;
  z-index: 1;
  width: 100%;
  height: 0rem;
  background: linear-gradient(
    var(--transparent),
    var(--snc-background)
  );
  pointer-events: none;
  transition: height 300ms ease;
}
/* !!!!! ;v1.1.17a [test] (scroll-fog); !!!!! */
/* = = = = = hdnc-Y = = = = = */
.hdnc-y {
  /* Position */
  position: relative;
  /* .hdnc-y-mgpt < .hdnc-y */
  z-index: 2;
  /* Grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem auto;
  grid-template-areas:
    "hdnc-z-po"
    "hdnc-z";
  /* Layout */
  box-sizing: border-box;
  /* Visual */
  background-color: var(--nc-background);
  list-style-type: none;
  cursor: pointer;
  transition:
    background-color var(--hdnc-duration-primary) var(--hdnc-timing-secondary);
}
/* = = = = = hdnc-Z-BEPT = = = = = */
.hdnc-z-po {
  grid-area: hdnc-z-po;
  position: relative;

  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-columns: 1fr min-content;
  grid-template-areas:
    "hdnc-e-po-text hdnc-e-po-rgro"
}
.hdnc-e-po-text {
  grid-area: hdnc-e-po-text;
  justify-self: center;
  color: var(--hdnc-font-color-primary);
}
.hdnc-e-po-rgro {
  grid-area: hdnc-e-po-rgro;
  margin: 0rem 1.5rem 0rem 0rem;
  border-top: 0.5rem solid var(--hdnc-rgro-color);
  border-right: 0.4rem solid var(--transparent);
  border-left: 0.4rem solid var(--transparent);
  transform: rotate(0deg);
  transition:
    border var(--hdnc-duration-primary) var(--hdnc-timing-primary),
    transform var(--hdnc-duration-primary) var(--hdnc-timing-primary);
}
.hdnc-e-po-bgro {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 0%;
  height: 0.125rem;
  background-color: var(--facooya-primary);
  border-radius: 0.0625rem; /* height / 2 */
  transition:
    left var(--hdnc-duration-primary) var(--hdnc-timing-primary),
    width var(--hdnc-duration-primary) var(--hdnc-timing-primary);
}
/* = = = = = hdnc-Z ~ hdnc-P = = = = = */
.hdnc-z {
  grid-area: hdnc-z;
  position: relative;
  display: grid;
}
.hdnc-e {
  position: relative;
  list-style-type: none; /* .lstfc */
  /* Refresh visible shield */
  /* grid-template-rows: [JS] */
  display: grid;
  grid-auto-rows: 0rem;

  overflow: hidden;
  transition:
    grid-template-rows var(--hdnc-duration-primary) var(--hdnc-timing-primary);
}
.hdnc-p {
  position: relative;
}
/* = = = = = hdnc-T = = = = = */
.hdnc-t {
  /* Position */
  position: relative;
  width: 100%;
  height: 100%;
  /* Grid */
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "hdnc-g-text hdnc-g-rgro";
  /* Visual */
  opacity: 0;
  text-decoration: none;
  transition:
    opacity var(--hdnc-duration-primary) var(--hdnc-timing-primary);
}
.hdnc-g-text {
  grid-area: hdnc-g-text;
  color: var(--hdnc-font-color-secondary);
  font-weight: normal;
  /* transition: opacity 300ms; */
}
.hdnc-g-rgro {
  grid-area: hdnc-g-rgro;
  margin: 0rem 0rem 0rem 0.5rem;
  border-top: 0.25rem solid var(--transparent);
  border-bottom: 0.25rem solid var(--transparent);
  border-left: 0.5rem solid var(--hdnc-rgro-color);
  /* transition: opacity 300ms ease; */
}
.hdnc-g-bgro {
  position: absolute;
  top: 70%;
  height: 0.125rem;
  background-color: var(--facooya-secondary);
  border-radius: 0.0625rem;
  /* transition: opacity 300ms ease; */
}
@media (min-width: 768px) {
  .hdnc-r {
    /* Reset */
    left: auto;
    width: 100%;
    height: auto;
    transition: none;
    overflow-y: visible;
    /* Grid */
    grid-template-columns: repeat(4, 1fr);
    /* Box Model */
    box-sizing: border-box;
    padding: 0rem 1rem;
  }
  .hdnc-e-po-rgro {
    display: none;
  }
  .hdnc-e {
    /* Position */
    position: absolute;
    /* Layout */
    width: 10rem;
    /* Grid */
    justify-self: center;
    grid-template-columns: 1fr;
    /* grid-template-rows: [JS] !!! */
    /* Visual */
    border-radius: 0rem 0rem 1rem 1rem;
    background-color: var(--hdnc-background);
    transition:
      grid-template-rows var(--hdnc-duration-primary) var(--hdnc-timing-primary), 
      width var(--hdnc-duration-primary) var(--hdnc-timing-primary);
  }
}
@media (min-width: 1280px) {
  .hdnc-r {
    top: 0rem;
    left: 12rem;
    right: 4rem;
    grid-template-columns: repeat(4, minmax(8rem, 15rem));
    width: calc(100% - 12rem - 4rem);
    transition:
      width var(--hdnc-duration-primary) var(--hdnc-timing-primary);
  }
  .hdnc-y {
    cursor: default;
  }
  .hdnc-g-text {
    white-space: nowrap;
  }
  .hdnc-g-rgro {
    margin: 0rem;
    border-top: 0rem solid var(--transparent);
    border-bottom: 0rem solid var(--transparent);
    border-left: 0rem solid var(--transparent);
    opacity: 0;
    /* Reset: transition(mobile) */
    transition:
      margin var(--hdnc-duration-primary) var(--hdnc-timing-primary),
      border var(--hdnc-duration-primary) var(--hdnc-timing-primary),
      opacity var(--hdnc-duration-primary) var(--hdnc-timing-secondary);
  }
  .hdnc-g-bgro {
    /* Position */
    top: 75%;
    /* Layout */
    width: 0%;
    /* Visual */
    /* Reset: opacity(mobile), transition(mobile) */
    transition:
      width var(--hdnc-duration-primary) var(--hdnc-timing-primary);
  }
}
/* =============== :FACOOYA: =============== */
/* NOTE
 * CL: Class List
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* =============== ;FACOOYA; =============== */