/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.dnc-r-bptg {
  /* Positioning */
  position: fixed;
  top: 4rem; /* TPC.height = 4rem */
  left: -80%;
  z-index: 100; /* FIXME: Part section < Temp */
  /* Grid */
  display: grid;
  grid-auto-rows: min-content; /* dnc-z: 4rem + dnc-e: auto, !!! template-rows? */
  /* Layout */
  width: 80%;
  height: calc(100% - 4rem); /* 4rem = TPC.height */
  overflow-y: scroll;
  overscroll-behavior: contain;
  /* Visual */
  background-color: #222222;
  transition: 
    left 300ms ease;
}
/* !!! v1.1.12a [test] (scroll) */
.dnc-y-sdo { /* ios snc scroll bug fix */
  /* Position */
  position: absolute;
  /* .dnc-y-mgpt < .dnc-y */
  z-index: 1;
  top: 0rem;
  /* Layout */
  width: 100%;
  height: calc(100% + 1px);
  /* Visual */
  background: #00000000;
}
/* = = = = = dnc-Y = = = = = */
.dnc-y {
  /* Position */
  position: relative;
  /* .dnc-y-mgpt < .dnc-y */
  z-index: 2;
  /* Grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem auto;
  grid-template-areas:
    "dnc-z-alptg"
    "dnc-z";
  /* Layout */
  box-sizing: border-box;
  /* Visual */
  background-color: #222222;
  list-style-type: none;
  cursor: pointer;
  transition: background-color 300ms linear;
}
/* = = = = = dnc-Z-BEPT = = = = = */
.dnc-z-alptg {
  grid-area: dnc-z-alptg;
  position: relative;

  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-columns: 1fr min-content;
  grid-template-areas:
    "dnc-e-alptg-title dnc-e-alptg-rgro"
}
.dnc-e-alptg-title {
  grid-area: dnc-e-alptg-title;
  justify-self: center;
  color: #FFFFFF;
}
.dnc-e-alptg-rgro {
  grid-area: dnc-e-alptg-rgro;
  margin: 0rem 1.5rem 0rem 0rem;
  border-top: 0.5rem solid #FFFFFF;
  border-right: 0.4rem solid #00000000;
  border-left: 0.4rem solid #00000000;
  transform: rotate(0deg);
  transition:
    border 300ms ease,
    transform 300ms ease;
}
.dnc-e-alptg-bgro {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 0%;
  height: 0.125rem;
  background-color: #90EE90;
  border-radius: 0.0625rem; /* height / 2 */
  transition:
    left 300ms,
    width 300ms;
}
/* = = = = = dnc-Z ~ dnc-P = = = = = */
.dnc-z {
  grid-area: dnc-z;
  position: relative;
  display: grid;
}
.dnc-e {
  position: relative;
  list-style-type: none; /* .lstfc */
  /* Refresh visible shield */
  /* grid-template-rows: [JS] */
  display: grid;
  grid-auto-rows: 0rem;

  overflow: hidden;
  transition: grid-template-rows 300ms;
}
.dnc-p {
  position: relative;
}
/* = = = = = dnc-T = = = = = */
.dnc-t {
  /* Position */
  position: relative;
  width: 100%;
  height: 100%;
  /* Grid */
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "dnc-g-title dnc-g-rgro";
  /* Visual */
  opacity: 0;
  text-decoration: none;
  transition: opacity 300ms ease;
}
.dnc-g-title {
  grid-area: dnc-g-title;
  color: #FFFFFF;
  font-weight: 400;
  /* transition: opacity 300ms; */
}
.dnc-g-rgro {
  grid-area: dnc-g-rgro;
  margin: 0rem 0rem 0rem 0.5rem;
  border-top: 0.25rem solid #00000000;
  border-bottom: 0.25rem solid #00000000;
  border-left: 0.5rem solid #FFFFFF;
  /* transition: opacity 300ms ease; */
}
.dnc-g-bgro {
  position: absolute;
  top: 70%;
  height: 0.125rem;
  background-color: #87CEEB;
  border-radius: 0.0625rem;
  /* transition: opacity 300ms ease; */
}
@media (min-width: 768px) {
  .dnc-r-bptg {
    /* Reset */
    left: auto;
    width: 100%;
    height: auto;
    transition: none;
    overflow-y: visible;
    /* Grid */
    grid-template-columns: repeat(5, 1fr);
    /* Box Model */
    box-sizing: border-box;
    padding: 0rem 1rem;
  }
  .dnc-e-alptg-rgro {
    display: none;
  }
  .dnc-e {
    /* Position */
    position: absolute;
    /* Layout */
    width: 10rem;
    /* Grid */
    justify-self: center;
    grid-template-columns: 1fr;
    /* grid-template-rows: [JS] !!! */
    /* Visual */
    border-radius: 0rem 0rem 1rem 1rem;
    background-color: #222222;
    transition:
      grid-template-rows 300ms, 
      width 300ms;
  }
  
}
@media (min-width: 1280px) {
  .dnc-r-bptg {
    top: 0rem;
    left: 12rem;
    right: 4rem;
    grid-template-columns: repeat(5, minmax(8rem, 15rem));
    width: calc(100% - 12rem - 4rem);
    transition: width 300ms ease;
  }
  .dnc-y {
    cursor: default;
  }
  .dnc-g-title {
    white-space: nowrap;
  }
  .dnc-g-rgro {
    margin: 0rem;
    border-top: 0rem solid #00000000;
    border-bottom: 0rem solid #00000000;
    border-left: 0rem solid #00000000;
    opacity: 0;
    /* Reset: transition(mobile) */
    transition:
      margin 300ms ease,
      border 300ms ease,
      opacity 300ms linear;
  }
  .dnc-g-bgro {
    /* Position */
    top: 75%;
    /* Layout */
    width: 0%;
    /* Visual */
    /* Reset: opacity(mobile), transition(mobile) */
    transition:
      width 300ms ease;
  }
}
/* DESCRIPTION
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */