<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- TODO
       - Update meta: description, robots
       - Update title
       - VERIFY link: Path & Option
       -->
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""> <!-- Change content or remove -->
    <meta name="author" content="Facooya"> <!-- Change content or remove -->
    <meta name="robots" content="noindex, nofollow"> <!-- Change content or remove -->
    <!-- Title -->
    <title>Components Pagination View Test - Facooya</title>
    <!-- Common -->
    <link rel="stylesheet" href="/assets/styles/common.css">
    <!-- Header Content -->
    <link rel="stylesheet" href="/components/header-content/top-bar/top-bar.css">
    <link rel="stylesheet" href="/components/header-content/main-menu/main-menu.css">
    <link rel="stylesheet" href="/components/header-content/drawer-menu/drawer-menu.css">
    <!-- Footer Content -->
    <link rel="stylesheet" href="/components/footer-content/footer-content.css">
    <!-- Pagiantion View -->
    <link rel="stylesheet" href="/components/pagination-view/pagination-view.css">
  </head>
  <body>
    <!-- ===== > Header ===== -->
    <header class="header"></header>
    <!-- ===== < Header ===== -->
    <!-- ===== > Main ===== -->
    <main class="main"></main>
    <!-- ===== < Main ===== -->
    <!-- ===== > Footer ===== -->
    <footer class="footer">
      <noscript class="noscript">
         <div class="container">
            <p class="text">This website requires JavaScript.</p>
            <p class="text">Please enable JavaScript in your web browser.</p>
         </div>
      </noscript>
    </footer>
    <!-- ===== < Footer ===== -->
    <!-- TODO
       - VERIFY: Path & Option
       -->
    <!-- Data -->
    <script src="/components/header-content/header-content-data.js" defer></script>
    <script src="/components/header-content/drawer-menu/drawer-menu-data.js" defer></script>
    <script src="/components/footer-content/footer-content-data.js" defer></script>
    <script src="/components/pagination-view/pagination-view-data.js" defer></script>
    <!-- Controller -->
    <script type="module" src="/components/header-content/header-content.js"></script>
    <script src="/components/footer-content/footer-content.js" defer></script>
    <script src="/components/pagination-view/pagination-view.js" defer></script>
  </body>
</html>