/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
.htbc {
  position: fixed;
  z-index: 10;
  top: 0;
  /*  */
  width: 100%;
  background: #222222;
  /*  */
  display: grid;
  grid-template-columns: 64px minmax(112px, 1fr) 64px;
  grid-template-rows: 64px;
  gap: 0 16px;
  grid-template-areas: "dnr logo snr";
  /*  */
  overflow-y: scroll;
  overscroll-behavior: contain;
  scrollbar-width: none;
  /*  */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* -------------------------------------------------- */
.htbc-sge-group {
  height: calc(100% + 1px);
  background: #00000000;
  pointer-events: none;
}
/* ================================================== */
/* :Logo: */
.htbc-logo {
  grid-area: logo;
  height: 24px;
  justify-self: center;
  align-self: center;
}
.htbc-logo .logo-link {
  display: inline-block;
  height: 24px;
  white-space: nowrap;
}
/* Logo Item */
.htbc-logo .logo-item {
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}
.htbc-logo .logo-dev {
  width: 48px;
  height: 24px;
  /*  */
  mask-image: url("../../res/svg/logo-2w.svg");
}
.htbc-logo .logo-ta {
  width: 8px;
  height: 8px;
  margin-right: 6px;
  /*  */
  mask-image: url("../../res/svg/a.svg");
}
.htbc-logo .logo-facooya {
  width: 120px;
  height: 24px;
  /*  */
  mask-image: url("../../res/svg/logo-5w.svg");
}
/* ;Logo; */
/* ================================================== */
/* :DNR: */
.htbc-dnr-old {
  grid-area: dnr;
  position: relative;
  /* Grid */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  /* gap: 0.475rem; */
  gap: 7.6px;
  /* Layout */
  width: 64px;
  height: 64px;
  padding: 16px;
  /* Visual */
  cursor: pointer;
}
.htbc-dnr .dnr-item-old {
  /* Box Model */
  width: 100%;
  height: 100%;
  /* Visual */
  background: #FFFFFF;
  border-radius: 2px;
  opacity: 1;
  transform: translate(0, 0) rotate(0) scale(1, 1);
  transition:
    top 300ms ease,
    left 300ms ease,
    transform 300ms ease,
    opacity 300ms ease;
}

.htbc-dnr {
  grid-area: dnr;
  position: relative;
  width: 64px;
  height: 64px;
  padding: 16px;
  cursor: pointer;
}
.htbc-dnr .dnr-item {
  display: block;
  /* dnrInnerH(32px) = height(6px) * 3 + marginT(7px) * 2 */
  height: 6px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: transform 300ms;
}
.htbc-dnr .dnr-item:nth-child(2) {
  margin: 7px 0;
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
}
/* ;DNR; */
/* ================================================== */
/* :SNR: */
.htbc-snr-old {
  grid-area: snr;
  position: relative;
  /* Grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  /* Layout */
  width: 64px;
  height: 64px;
  padding: 16px;
  /* Visual */
  cursor: pointer;
}
.htbc-snr .snr-item-old {
  /* Position */
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 2px;
  /* Visual */
  transition: 
    transform 300ms ease;
}

.htbc-snr {
  grid-area: snr;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 8px);
  grid-template-rows: repeat(3, 8px);
  gap: 4px;

  width: 64px;
  height: 64px;
  padding: 16px;
  cursor: pointer;
}
.htbc-snr .snr-item {
  background-color: #ffffff;
  border-radius: 2px;
  transition: transform 300ms;
}
/* ;SNR; */
/* ================================================== */
/* :Etc: */
/* Overlay */
.htbc-overlay {
  position: fixed;
  top: 64px;
  left: -20%;
  z-index: 100;
  width: 20%;
  height: calc(100% - 64px);
  background: #77777777;
  transition: left 300ms ease;
  /*  */
  overflow-y: scroll;
  overscroll-behavior: contain;
  scrollbar-width: none;
}
.htbc-overlay .overlay-sge {
  position: relative;
  z-index: 101;
}
/* -------------------------------------------------- */
/* SGE */
.htbc-sge {
  /* Position */
  position: absolute;
  z-index: 1;
  top: 0;
  /* Layout */
  width: 100%;
}
/* ;Etc; */
/* ================================================== */
@media (min-width: 768px) {
  .htbc {
    grid-template-columns: 1fr 64px;
    grid-template-rows: 64px 64px;
    grid-template-areas: "logo snr" ". .";
    gap: 0 32px;
    transition: gap 300ms ease;
  }
  .htbc-dnr {
    display: none;
  }
  .htbc-overlay {
    display: none;
  }
}
/* ================================================== */
@media (min-width: 1280px) {
  .htbc {
    grid-template-columns: 256px 1fr 64px;
    grid-template-rows: 64px;
    grid-template-areas: "logo . snr";
  }
  .htbc-logo {
    padding-left: 16px;
  }
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */