/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
/* For Mst */
.htbc-logo .logo-facooya.mini {
  width: 32px;
  mask-image: url("../../res/svg/a.svg");
}
/* ================================================== */
/* For Mst
 * Default state: .htbc-overlay { left: -20%; }
 * Class list: left-close */
.htbc-overlay.right-open {
  left: 80%;
}
.htbc-overlay.right-close {
  left: 100%;
}
.htbc-overlay.left-open {
  left: 0%;
}
/* ================================================== */
/* For Mst
 * Default state: .hdnc { left: -80%; }
 */
.hdnc.dnr-active {
  left: 0;
}
/* ================================================== */
/* Default state: .hdnc { right: -80%; || right: -320px }
 * Mst: -80%, Tdst: -320px
 */
.hsnc.snr-active {
  right: 0;
}
.m.snr-active {
  margin-right: 320px;
}
.f.snr-active {
  margin-right: 320px;
}
.hdnc.snr-active {
  /* For Dst
   * total(576px) = htbcLogoW(256px) + hsncW(320px);
   * width = 100% - total(576px);
   */
  width: calc(100% - 576px);
}
/* ================================================== */
/* Align */
.hdnc-list .item:last-child .sub-list.align-x-right {
  /* Only Dst && Last */
  left: 100%;
  transform: translateX(-100%);
}
/* ================================================== */
/* :DNR Active: */
/* dnrInnerH(32px) = height(6px) * 3 + marginY(7px) * 2 */
.htbc-dnr .dnr-item.active:nth-child(1) {
  transform: translate(0, 13px) rotate(45deg) scale(1.3, 1);
}
.htbc-dnr .dnr-item.active:nth-child(2) {
  transform: translate(-32px, 0);
  opacity: 0;
}
.htbc-dnr .dnr-item.active:nth-child(3) {
  transform: translate(0, -13px) rotate(-45deg) scale(1.3, 1);
}
/* ;DNR Active; */
/* ================================================== */
/* :SNR Active: */
/* snrInnerW(32px) = width(8px) * 3 + gap(4px) * 2
 * snrInnerH(32px) = height(8px) * 3 + gap(4px) * 2 */
.htbc-snr .snr-item.active:nth-child(1) {
  transform: rotate(45deg) scale(1, 0.7);
}
.htbc-snr .snr-item.active:nth-child(2) {
  transform: translate(6px, 6px) rotate(45deg) scale(0.7, 1.8);
}
.htbc-snr .snr-item.active:nth-child(3) {
  transform: rotate(45deg) scale(0.7, 1);
}
.htbc-snr .snr-item.active:nth-child(4) {
  transform: translate(6px, -6px) rotate(45deg) scale(1.8, 0.7);
}
.htbc-snr .snr-item.active:nth-child(5) {
  transform: rotate(45deg) scale(0.7);
}
.htbc-snr .snr-item.active:nth-child(6) {
  transform: translate(-6px, 6px) rotate(45deg) scale(1.8, 0.7);
}
.htbc-snr .snr-item.active:nth-child(7) {
  transform: rotate(45deg) scale(0.7, 1);
}
.htbc-snr .snr-item.active:nth-child(8) {
  transform: translate(-6px, -6px) rotate(45deg) scale(0.7, 1.8);
}
.htbc-snr .snr-item.active:nth-child(9) {
  transform: rotate(45deg) scale(1, 0.7);
}
/* ;SNR Active; */
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */