/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
@media screen and (max-width: 600px) {
  /*#dev-nav-cmp {
    position: absolute;
    top: 100%;
    left: 0rem;
    z-index: 1000;
  }*/
  #dev-nav-cmp {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 25rem;
    top: 4rem;
    left: -25rem;
    bottom: 0rem;
    border-top: 0.125rem solid #FFFFFF;
    background-color: #222222;
    text-align: center;
    z-index: 999;
    transition: left 300ms;
  }
  .dnc-container {
    height: 4rem; /* Cascade => { trasition: height } */
    display: block;
    overflow: hidden;
    border-bottom: solid 0.125rem #FFFFFF;
    cursor: pointer;
    transition: height 300ms;
  }
  .dnc-container-title {
    color: #FFFFFF;
    height: 4rem;
    font-size: 1.2rem;
  }
  .dnc-sub-container {
    display: flex;
    flex-direction: column;
  }
  .dnc-sub-item {
    height: 4rem;
    color: #FFFFFF;
    border-top: dashed 0.125rem #AAAAAA;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* !!! ALL */
  /*#dev-nav-cmp {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 0rem 3rem;
    display: flex;
    background-color: #222222;
    z-index: 1000;
  }*/
  .dnc-container {
    /* flex-center */
    height: 4rem;
    cursor: default;
    flex: 0 1 20%;
    min-width: 6rem;
    position: relative;
  }
  .dnc-container-title {
    /* flex-center */
    width: inherit;
    height: inherit;
    color: #FFFFFF;
  }
  .dnc-sub-container {
    width: 10rem;
    height: 0rem;
    overflow-y: hidden;
    position: absolute;
    top: 100%;
    transition:
      height 300ms,
      width 300ms;
    background-color: #222222;
    border-radius: 0rem 0rem 1rem 1rem;
  }
  .dnc-sub-item {
    /* flex-center */
    height: 4rem;
    color: #FFFFFF;
    position: relative;
  }
  .dnc-container:hover .dnc-container-title { font-weight: bold; }
  .dnc-container:hover .dnc-sub-container { width: 18rem; }
  .dnc-sub-item:hover { font-weight: bold; }
}
@media screen and (min-width: 1025px) {
  .dnc-container {
    /* flex-center */
    height: 4rem;
    cursor: default;
    flex: 0 1 12rem;
    min-width: 10rem;
    position: relative;
  }
  .dnc-container-title {
    /* flex-center */
    width: inherit;
    height: inherit;
    color: #FFFFFF;
  }
  .dnc-sub-container {
    width: 10rem;
    height: 0rem;
    overflow-y: hidden;
    position: absolute;
    top: 100%;
    transition:
      height 300ms,
      width 300ms;
    background-color: #222222;
    border-radius: 0rem 0rem 1rem 1rem;
  }
  .dnc-sub-item {
    /* flex-center */
    height: 4rem;
    color: #FFFFFF;
    position: relative;
  }
  .dnc-container:hover .dnc-container-title { font-weight: bold; }
  .dnc-container:hover .dnc-sub-container { width: 18rem; }
  .dnc-sub-item:hover { font-weight: bold; }
}
/* DESCRIPTION
 * e.g., ?
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */