/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* COMPONENT: part-layout */
.part-title {
  /* Apply: flex-center */
  /* Box Model */
  box-sizing: border-box;
  padding: 1rem 1rem;
  /* Typographic */
  font-size: 1.5rem;
  font-weight: bold;
  /* Visual */
  border-bottom: 0.5rem solid #222222;
}
/* COMPONENT: part-tab-container */
.part-tab-item {
  /* flex-center */
  /* Positionging */
  position: relative;
  /* Box Model */
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  /* Typographic */
  color: #999999;
  font-weight: normal;
  /* Visual */
  cursor: pointer;
  border: 0.25rem solid #999999;
  border-radius: 1.5rem;
}
/* COMPONENT: chapter-container */
.chapter-item {
  /* Apply: container-link */
  box-sizing: border-box;
  padding: 1rem 0rem;
  border: 0.125rem solid #333333;
  border-radius: 1rem;
}
.chapter-item-title {
  box-sizing: border-box;
  padding: 0rem 0rem 0.5rem 0.5rem;
  /* - - - */
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem;
}
.chapter-item-info {
  box-sizing: border-box;
  padding: 0rem 0rem 0rem 1.5rem;
  /* - - - */
  color: #333333;
}
/* $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ */
/* DESCRIPTION
 * &{/wsr/share/layout/part-layout.css}
 *
 * .part-layout -> part-title, part-tab-container
 *   .part-tab-container -> part-tab-item
 *
 * .chapter-container -> .chapter-item
 *   .chapter-item -> .chapter-item-title, .chapter-item-info
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */
