/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* = = = = = SNC Y = = = = = */
.snc-y {
  /* Positioning */
  position: relative;
  /* Grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem auto;
  grid-template-areas:
    "snc-z"
    "snc-e";
  /* Box Model */
  box-sizing: border-box;
  border-bottom: 0.125rem solid #FFFFFF; /* !!! replacement z-bottom-line? */
  cursor: pointer;
}
/* = = = = = SNC Z = = = = = */
.snc-z {
  /* Positioning */
  grid-area: snc-z;
  position: relative;
  /* Box Model */
  display: grid;
  align-items: center; /* !!! snc-z setClass fcc(facooya-center-class) */
  justify-content: center;
}
.snc-z-title { color: #FFFFFF; }
.snc-z-right-icon {
  position: absolute;
  display: none;
}
.snc-z-bottom-line { /* !!!!!!!!!!!!!!!!!!!!! */
  position: absolute;
  top: 85%;
  left: 10%;
  width: 80%;
  height: 0.125rem;
  background-color: #90EE90;
  border-radius: 0.0625rem; /* height / 2 */
  transition:
    left 300ms,
    width 300ms;
}
/* = = = = = SNC E = = = = = */
.snc-e {
  /* Positioning */
  grid-area: snc-e;
  /* Grid */
  /* Refresh visible shield */
  /* grid-template-rows: [JS] */
  display: grid;
  grid-auto-rows: 0rem;
  /* Visual */
  overflow-y: hidden;
  transition: grid-template-rows 300ms;
}
/* = = = = = SNC P = = = = = */
.snc-p {
  /* !!!! container-link, flex-center */
  /* Grid */
  display: grid;
  align-items: center;
  justify-content: center;
  /* Box Model */
  box-sizing: border-box;
  /* Typographic */
  color: #FFFFFF;
  /* Visual */
  border-top: 0.125rem dashed #AAAAAA;
}
.snc-p-title {
  opacity: 0;
  transition: opacity 300ms;
}
.snc-p-right-icon { position: absolute; }
.snc-p-bottom-line { position: absolute; }
/* $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ */
/* DESCRIPTION
 * SNC: Support Navigation Component.
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */