/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.snc-y {
  /* flex-center ! */
  /*width: 100%;*/

  /*flex-direction: column;*/
  /*overflow-y: hidden;*/
  border-bottom: solid 0.125rem #FFFFFF;
  cursor: pointer;
  /* !!! */
  /*grid-area: snc-container;*/
  /*display: grid;
  grid-template-areas:
    "snc-container-title"
    "snc-sub-container";*/
  
  /* !!! 2 */
  /* Positioning */
  position: relative;
  /* Box Model */
  box-sizing: border-box;
  /* Grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem auto;
  grid-template-areas:
    "snc-z"
    "snc-e";
}
.snc-z {
  grid-area: snc-z;
  position: relative;

  display: grid;
  align-items: center;
  justify-content: center;
}
.snc-z-title {
  /* flex-center */
  /*width: 100%;
  height: 4rem;

  color: #FFFFFF;
  font-size: 1.2rem;*/

  /* !!! 2 */
  /*grid-area: snc-z-title;
  
  display: grid;
  align-items: center;
  justify-content: center;*/

  color: #FFFFFF;
}
.snc-e {
  /*width: 100%;
  height: 0rem;*/
  /*display: flex;
  flex-direction: column;*/
  /*transition: height 300ms;*/

  /* !!! 2 */
  grid-area: snc-e;

  overflow-y: hidden;

  display: grid;
  /* refresh visible shield */
  grid-auto-rows: 0rem;
  /* grid-template-rows: [JS] */
  transition: grid-template-rows 300ms;
}
.snc-p {
  /* container-link, flex-center */
  /*width: 100%;
  min-height: 4rem;

  color: #FFFFFF;
  border-top: dashed 0.125rem #AAAAAA;*/
  /* !!! 2 */
  /* Grid */
  display: grid;
  align-items: center;
  justify-content: center;
  /* Box Model */
  box-sizing: border-box;
  /* Typographic */
  color: #FFFFFF;
  /* Visual */
  border-top: 0.125rem dashed #AAAAAA;
}
.snc-z-bottom-line {
  position: absolute;
}
.snc-p-right-icon{
  position: absolute;
}
.snc-p-bottom-line {
  position: absolute;
}
/* DESCRIPTION
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */