/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
:root {
  --bold-white:
    0.25px 0 #ffffff,
    -0.25px 0 #ffffff,
    0 0.25px #ffffff,
    0 -0.25px #ffffff;
}
/* ================================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222222;
  scroll-behavior: smooth;
}
/* ================================================== */
.b {
  -webkit-tap-highlight-color: #00000000;
}
.h {
  position: relative;
  height: 64px;
}
.m {
  position: relative;
  min-height: calc(100vh - 64px);
  padding: 0 16px;
  transition: margin-right 300ms ease;
}
.hpm {
  background: #333333;
}
.npm {
  background: #ffffff;
}
.dpm {
  background: #ffffff;
}
.f {
  position: relative;
  background: #222222;
  padding: 24px 32px;
  transition: margin-right 300ms ease;
}
/* ================================================== */
@media (min-width: 768px) {
  .h {
    height: 128px;
  }
  .m {
    min-height: calc(100vh - 128px);
  }
}
/* ================================================== */
@media (min-width: 1280px) {
  .h {
    height: 64px;
  }
  .m {
    min-height: calc(100vh - 64px);
  }
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */