/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
.noscript-main {
  position: fixed;
  top: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  display: grid;
  align-items: center;
  justify-content: center;
}
.noscript-main-text {
  padding: 1rem;
  border-radius: 0.5rem;
  color: #000000;
  background-color: #FFFF00;
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */