/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 *
 * The faco-code style
 */

/* Code syntax highlight */
.color-gray { color: #aaaaaa; }
.color-red { color: #e74c3c; }

.color-green { color: #00ff7f; }
.color-light-green { color: #7fff7f; }
.color-dark-green { color: #00aa00; }

.color-blue { color: #1e90ff; }
.color-light-blue { color: #00ced1; }

.color-orange { color: #e67e22; }
.color-dark-orange { color: #d35400; }

.color-yellow { color: #f1c40f; }
.color-light-yellow { color: #f7DC6f; }
.color-dark-yellow { color: #b7950b; }

.color-purple { color: #9b59b6; }
.color-pink { color: #e91e63; }
.color-brown { color: #8d6e63; }
/* color-custom { color: #000000; } */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:host {
	display: block;
}

/* Header */
.header {
  padding: 8px 16px;
  background: #181818;
  color: #ffffff;
  font-size: 0.875rem;
  border-radius: 16px 16px 0 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.title {
  display: inline-block;
  font-weight: normal;
  font-size: 0.875rem;
}

.tool-list {
  display: inline-flex;
  gap: 16px;
  float: right;
  list-style: none;
}

.tool-item-wide, .tool-item-copy {
  cursor: pointer;
}

/* View */
.view {
  display: flex;
  line-height: 1.5rem;
  background: #222222;
  color: #ffffff;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 0 0 16px 16px;
}

.view-line-list {
  padding: 8px 0;
  list-style: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.view-line-item {
  padding-right: 1rem;
  font-size: 1rem;
  text-align: right;
  color: #808080;
}

.view-content {
  overflow: auto;
  padding: 8px 0;
  padding-right: 0.5rem;
  /* padding-left: 1rem; */
	tab-size: 2;
}

.view-line-list.wide {
  display: none;
}

.view-content.wide {
  padding-left: 0.5rem;
}
