/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.npmsc-r {
  /* Tag.section */
  /* .npmsc-r */
  /* ----- Grid ----- */
  grid-area: npmsc-r;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
    "npmsc-y";
  /* ----- Layout ----- */
  margin: 0rem 1rem;
}
.npmsc-y {
  /* Tag.nav */
  grid-area: npmsc-y;
  /* [JS] display: grid; */
  display: none;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 0.5rem 0.5rem;
}
.npmsc-z {
  /* Tag.ul */
  /* ----- Grid ----- */
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  /* ----- Visual ----- */
  list-style-type: none;
}
.npmsc-e {
  /* Tag.li */
  padding: 1rem 0rem;
  border: 0.125rem solid var(--black);
  border-radius: 1rem;
  cursor: pointer;
}
.npmsc-p {
  /* Tag.a */
  /* !!!!! v1.1.14a [tmp] (move to option) !!!!! */
  text-decoration-line: none;
}
.npmsc-t-text {
  /* Tag.div */
  padding: 0rem 0rem 0.5rem 0.5rem;
  color: var(--black);
  font-weight: bold;
  font-size: 1.2rem;
}
.npmsc-t-sub-text {
  /* Tag.div */
  padding: 0rem 0rem 0rem 1.5rem;
  color: var(--black);
}
@media (min-width: 768px) {
  .npmsc-r {
    transition:
      margin var(--nc-transition-slide);
  }
  .npmsc-z {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .npmsc-r {
    padding: 0rem 0rem 1rem 0rem;
  }
}
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
