/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
.fngc {
  grid-area: fngc;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 48px;
}
.fngc-section { margin-right: auto; }
.fngc-section .title {
  font-size: 1.5rem;
  color: #FFFFFF;
  white-space: nowrap;
  margin-bottom: 8px;
  cursor: default;
}
.fngc-section .list { list-style-type: none; }
.fngc-section .item { margin-top: 8px; }
.fngc-section .item:first-child { margin-top: 0; }
.fngc-section .link { text-decoration: none; }
.fngc-section .text {
  color: #ffffff;
  white-space: nowrap;
}
/* ================================================== */
@media (min-width: 768px) {
  .fngc {
    justify-content: space-evenly;
  }
  .fngc-section {
    /* Reset: margin-right */
    margin-right: 0;
  }
}
/* ================================================== */
@media (min-width: 1280px) {}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */