/* SPDX-License-Identifier: MIT
 *
 * Copyright 2026 Facooya and Fanone Facooya
 */

faco-main {
	display: block;
	min-height: calc(100vh - 64px);
	background-color: #ffffff;
	transition: margin-right 300ms ease;
}

faco-main.grid-icon-active {
	margin-right: 320px !important;
}

@media (min-width: 768px) {
	faco-main {
		min-height: calc(100vh - 128px);
	}
}

@media (min-width: 1280px) {
	faco-main {
		min-height: calc(100vh - 64px);
	}
}
