/* ================================================== */
.c-orange {
  color: #FF7F00;
}
.c-blue {
  color: #1E90FF;
}
.c-number {
  color: #00CED1;
}
.c-text {
  color: #00FF7F;
}
.c-text-bold {
  color: #7FFF7F;
  font-weight: bold;
}
.c-purple {
  color: #BA55D3;
}
.c-comment {
  color: #00AA00;
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* COPYRIGHT
 * Copyright 2024 Facooya.
 */
 /* ========================= ;FACOOYA; ========================= */