/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
* {
  padding: 0;
  margin: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
/* DESCRIPTION
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */