/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ============================== */
.dpmfc-p-tso-text.cl-mdt-dpmfc-e-tso {
  color: #000000;
}
.dpmfc-p-tso-aro.cl-mdt-dpmfc-e-tso {
  border: 0.25rem solid #000000;
}
.dpmfc-z-bso.cl-mdt-dpmfc-e-tso {
  display: flex;
}
/* ============================== */
.dpmfc-p-tso-text.cl-tdt-dpmfc-e-tso {
  color: #000000;
}
.dpmfc-p-tso-aro.cl-tdt-dpmfc-e-tso {
  border: 0.25rem solid #000000;
}
.dpmfc-z-bso.cl-tdt-dpmfc-e-tso {
  display: flex;
}
/* ============================== */
.dpmfc-p-tso-text.cl-ddt-dpmfc-e-tso {
  color: #000000;
}
.dpmfc-p-tso-aro.cl-ddt-dpmfc-e-tso {
  border: 0.25rem solid #000000;
}
.dpmfc-z-bso.cl-ddt-dpmfc-e-tso {
  display: flex;
}
/* ================================================== */
.dpmfc-e-pno-clo.cl-dpmfc-e-pno-clo-util {
  border: none;
  cursor: default;
}
/* ================================================== */
.dpmfc-e-pno-clo.cl-dpmfc-e-pno-clo-handler {
  background: #222222;
}
.dpmfc-p-pno-clo-text.cl-dpmfc-e-pno-clo-handler {
  color: #FFFFFF;
}
/* ================================================== */
.dpmfc-e-pno-clo.cl-set-page-data-util {
  display: flex;
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */