/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.ecc-r-nptg {
  --ecc-duration-primary: var(--duration-primary);
  --ecc-timing-primary: var(--timing-primary);
  --ecc-timing-secondary: var(--timing-secondary);
}
/* PRCO */
.ecc-y-prco {
  /* Position */
  position: relative;
  top: var(--tpnc-height);
  z-index: 1;
}
.ecc-z-prco {
  position: fixed;
  width: 0.25rem;
  background: linear-gradient(
    180deg,
    var(--nc-background), 
    var(--facooya-primary) 5%,
    var(--facooya-secondary) 70%
  );
  border-radius: 0rem 0rem 0.125rem 0.125rem;
}
.ecc-z-prco-lgro {
  left: 0%;
  transition:
    height var(--ecc-duration-primary) var(--ecc-timing-secondary);
}
.ecc-z-prco-rgro {
  right: 0%;
  transition:
    height var(--ecc-duration-primary) var(--ecc-timing-secondary),
    right var(--nc-transition-slide);
}
/* NOCO */
.ecc-y-noco {
  position: fixed;
  top: var(--tpnc-height); /* TPC.height = 4rem */
  left: -20%;
  z-index: 100; /* FIXME: part.section.z-index < this.z-index */
  width: 20%;
  height: calc(100% - var(--tpnc-height));
  background-color: var(--translucent);

  transition:
    left var(--nc-transition-slide);
  
  overflow-y: scroll;
  overscroll-behavior: contain;
}
.ecc-z-noco-sdo {
  position: relative;
  z-index: 101;
  height: calc(100% + 1px);
  background-color: var(--transparent);
}
@media (min-width: 768px) {
  .ecc-y-noco {
    display: none;
  }
  .ecc-y-prco {
    top: 8rem;
    width: 0.5rem;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
  }
}
@media (min-width: 1280px) {
  .ecc-y-prco {
    top: var(--tpnc-height);
  }
}
/* NOTE
 * CO: Component Object
 * PRCO: Progress Rendering CO
 * NOCO: Navigate Overlay CO
 */
/* AUTHORSHIP
 * Founder: Facooya
 */