/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* PRCO */
.ecc-y-prco {
  /* Position */
  position: relative;
  top: 4rem;
  z-index: 1;
  /* Layout */
  width: 100%;
  /* Visual */
  background-image: linear-gradient(
    180deg,
    #202020, 
    #90EE90 5%,
    #87CEEB 70%
  );
  border-radius: 0rem 0rem 0.125rem 0.125rem;
  transition: height 300ms linear;
}
.ecc-z-prco {
  position: fixed;
  width: 0.25rem;
  background: linear-gradient(
    180deg,
    #202020, 
    #90EE90 5%,
    #87CEEB 70%
  );
  border-radius: 0rem 0rem 0.125rem 0.125rem;
}
.ecc-z-prco-lgro {
  left: 0%;
  transition: height 300ms linear;
}
.ecc-z-prco-rgro {
  right: 0%;
  transition:
    height 300ms linear,
    right 300ms ease;
}
/* NOCO */
.ecc-y-noco {
  position: fixed;
  top: 4rem; /* TPC.height = 4rem */
  left: -20%;
  z-index: 100; /* FIXME: part.section.z-index < this.z-index */
  width: 20%;
  height: calc(100% - 4rem);
  background-color: #77777777;

  transition:
    left 300ms ease;
  
  /* !!! v1.1.13a [test] (scroll-overlap) */
  overflow-y: scroll;
  overscroll-behavior: contain;
}
.ecc-z-noco-sdo {
  position: relative;
  z-index: 101;
  height: calc(100% + 1px);
  background-color: #00000000;
}
@media (min-width: 768px) {
  .ecc-y-noco {
    display: none;
  }
  .ecc-y-prco {
    top: 8rem;
    width: 0.5rem;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
  }
}
@media (min-width: 1280px) {
  .ecc-y-prco {
    top: 4rem;
  }
}
/* DESCRIPTION
 * CO: Component Object
 * PRCO: Progress Rendering CO
 * NOCO: Navigate Overlay CO
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */