/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.blf-r {
  /* Tag.body */
  display: grid;
  grid-template-rows: 4rem min-content min-content;
  grid-template-areas:
    "blf-y-ho"
    "blf-y-mo"
    "blf-y-fo";
  /*  */
  user-select: none;
  -webkit-user-select: none;
  /*  */
  -webkit-tap-highlight-color: transparent;
}
.blf-y-ho {
  /* Tag.header */
  grid-area: blf-y-ho;
  position: relative;
}
.blf-y-npmo {
  /* Tag.main */
  grid-area: blf-y-mo;
  /* Grid */
  display: grid;
  grid-template-columns: minmax(200px, 1200px);
  grid-template-rows: auto 1fr;
  gap: 2rem 0rem;
  grid-template-areas:
    "npmhc-r"
    "npmsc-r";
  /* Layout */
  min-height: calc(100vh - 4rem);
  padding: 0rem 0rem 1rem 0rem;
  /* Visual */
  background-color: #FFFFFF;
  justify-content: center;
  transition: margin 300ms ease;
}
.blf-y-fo {
  /* Tag.footer */
  grid-area: blf-y-fo;
  position: relative;
  /*  */
  display: grid;
  grid-template-areas: "fauc fsdc" "fsmc fsmc" "fllc fllc";
  gap: 2rem;
  /*  */
  background-color: #222222;
  padding: 1rem 2rem;
}
@media (min-width: 768px) {
  .blf-r {
    grid-template-rows: 8rem min-content min-content;
  }
  .blf-y-npmo {
    min-height: calc(100vh - 8rem);
  }
}
@media (min-width: 1280px) {
  .blf-r {
    grid-template-rows: 4rem min-content min-content;
  }
  .blf-y-npmo {
    min-height: calc(100vh - 4rem);
  }
}
/* =============== :FACOOYA: =============== */
/* NOTE
 * PLF: Primary Layout Framework
 * PHO, M, F: Primary Header Object, Main, Footer
 * TOC: Terms Of Copyright
 * TOU: Terms Of Use
 * LOA: List Of Authors
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* =============== ;FACOOYA; =============== */
