<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- TODO
       - Update meta: description, robots
       - Update title
       - VERIFY link: Path & Option
       -->
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content=""> -->
    <meta name="author" content="Facooya">
    <meta name="robots" content="noindex, nofollow">
    <!-- Title -->
    <title>Components Test Page - Facooya</title>
    <!-- Link -->
    <link href="./common.css" rel="stylesheet">
    <!--  -->
    <link href="./header-content/top-bar/top-bar.css" rel="stylesheet">
    <link href="./header-content/main-menu/main-menu.css" rel="stylesheet">
    <link href="./header-content/drawer-menu/drawer-menu.css" rel="stylesheet">
    <!--  -->
    <link href="./footer-content/footer-content.css" rel="stylesheet">
  </head>
  <body>
    <!-- ===== > Header ===== -->
    <header class="header"></header>
    <!-- ===== < Header ===== -->
    <!-- ===== > Main ===== -->
    <main class="main">
      <p>This is components test page.</p>
    </main>
    <!-- ===== < Main ===== -->
    <!-- ===== > Footer ===== -->
    <footer class="footer">
      <noscript class="noscript">
				<div class="container">
					<p class="text">This website requires JavaScript.</p>
					<p class="text">Please enable JavaScript in your web browser.</p>
				</div>
			</noscript>
      <!-- ========================= > FACOOYA ========================= -->
      <!-- NOTE
         -->
      <!-- AUTHORSHIP
         - Founder: Facooya
         -->
      <!-- COPYRIGHT
         - Copyright 2025 Facooya.
         -->
      <!-- ========================= < FACOOYA ========================= -->
    </footer>
    <!-- ===== < Footer ===== -->
    <!-- TODO
       - VERIFY: Path & Option
       -->
    <!-- Data -->
    <script src="./header-content/header-content-data.js" defer></script>
    <script src="./header-content/drawer-menu/drawer-menu-data.js" defer></script>
    <script src="./footer-content/footer-content-data.js" defer></script>
    <!-- Controller -->
    <script src="./header-content/header-content.js" type="module"></script>
    <script src="./footer-content/footer-content.js" defer></script>
  </body>
</html>