/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* =============== :Handler: =============== */
/* ==========----- :cl-mdt-hsnc-z-po-handler: -----========== */
.hsnc-y.cl-mdt-hsnc-z-po-handler {
  background-color: var(--hsnc-background-color-secondary);
}
.hsnc-e-po-text.cl-mdt-hsnc-z-po-handler {
  font-weight: bold;
}
.hsnc-e-po-rgro.cl-mdt-hsnc-z-po-handler {
  transform: rotate(180deg);
}
.hsnc-e-po-bgro.cl-mdt-hsnc-z-po-handler {
  left: 15%;
  width: 70%;
}
.hsnc-t.cl-mdt-hsnc-z-po-handler {
  opacity: 1;
}
/* ==========----- ;cl-mdt-hsnc-z-po-handler; -----========== */
/* ==========----- :cl-tdt-hsnc-z-po-handler: -----========== */
.hsnc-y.cl-tdt-hsnc-z-po-handler {
  background-color: var(--hsnc-background-color-secondary);
}
.hsnc-e-po-text.cl-tdt-hsnc-z-po-handler {
  font-weight: bold;
}
.hsnc-e-po-rgro.cl-tdt-hsnc-z-po-handler {
  transform: rotate(180deg);
}
.hsnc-e-po-bgro.cl-tdt-hsnc-z-po-handler {
  left: 15%;
  width: 70%;
}
.hsnc-t.cl-tdt-hsnc-z-po-handler {
  opacity: 1;
}
/* ==========----- ;cl-tdt-hsnc-z-po-handler; -----========== */
/* ==========----- :cl-ddt-hsnc-z-po-handler: -----========== */
.hsnc-e-po-text.cl-ddt-hsnc-z-po-handler {
  font-weight: bold;
}
.hsnc-e-po-rgro.cl-ddt-hsnc-z-po-handler {
  margin: 0rem 2.5rem 0rem 0rem;
  border-top: 0.5rem solid var(--white);
  border-right: 0.4rem solid var(--transparent);
  border-left: 0.4rem solid var(--transparent);
  transform: rotate(360deg);
}
.hsnc-e-po-bgro.cl-ddt-hsnc-z-po-handler {
  left: 10%;
  width: 80%;
}
.hsnc-y.cl-ddt-hsnc-z-po-handler-click {
  background-color: var(--hsnc-background-color-secondary);
}
.hsnc-e-po-rgro.cl-ddt-hsnc-z-po-handler-click {
  transform: rotate(540deg);
}
.hsnc-t.cl-ddt-hsnc-z-po-handler-click {
  opacity: 1;
}
/* ==========----- ;cl-ddt-hsnc-z-po-handler; -----========== */
/* ==========----- :cl-ddt-hsnc-p-handler: -----========== */
.hsnc-g-text.cl-ddt-hsnc-p-handler {
  font-weight: bold;
}
.hsnc-g-rgro.cl-ddt-hsnc-p-handler {
  margin: 0rem 0rem 0rem 1rem;
  border-top: 0.25rem solid var(--transparent);
  border-bottom: 0.25rem solid var(--transparent);
  border-left: 0.5rem solid var(--white);
  opacity: 1;
}
/* ==========----- ;cl-ddt-hsnc-p-handler; -----========== */
/* ==========----- :cl-adt-hsnc-z-eco-sfro-handler: -----========== */
.hsnc-z-eco-sfro-tgro.cl-adt-hsnc-z-eco-sfro-handler {
  height: 5rem;
}
.hsnc-z-eco-sfro-bgro.cl-adt-hsnc-z-eco-sfro-handler {
  height: 5rem;
}
/* ==========----- ;cl-adt-hsnc-z-eco-sfro-handler; -----========== */
/* =============== ;Handler; =============== */
/* =============== :FACOOYA: =============== */
/* NOTE
 * CL: Class List
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* =============== ;FACOOYA; =============== */