/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.snc-r-cptg {
  /* Positioning */
  position: fixed;
  top: 4rem; /* TPC.height = 4rem */
  right: -80%;
  z-index: 99; /* FIXME: Part section < Temp */
  /* Grid */
  display: grid;
  grid-auto-rows: min-content; /* snc-z: 4rem + snc-e: auto, !!! template-rows? */
  /* Layout */
  width: 80%;
  height: calc(100% - 4rem); /* 4rem = TPC.height */
  overflow-y: scroll;
  overscroll-behavior: contain;
  /* Visual */
  background-color: #222222;
  transition:
    right 300ms ease,
    width 300ms ease;
}
/* !!! v1.1.12a [test] (scroll) */
.snc-y-sdo { /* ios snc scroll bug fix */
  /* Position */
  position: absolute;
  /* .snc-y-mgpt < .snc-y */
  z-index: 1;
  top: 0rem;
  /* Layout */
  width: 100%;
  height: calc(100% + 1px);
  /* Visual */
  background: #00000000;
}
/* = = = = = SNC-Y = = = = = */
.snc-y {
  /* Position */
  position: relative;
  /* .snc-y-mgpt < .snc-y */
  z-index: 2;
  /* Grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem auto;
  grid-template-areas:
    "snc-z-siptg"
    "snc-z";
  /* Layout */
  box-sizing: border-box;
  /* Visual */
  background-color: #222222;
  list-style-type: none;
  cursor: pointer;
  transition: background-color 300ms linear;
}
/* = = = = = SNC-Z-SIPTG = = = = = */
.snc-z-siptg {
  grid-area: snc-z-siptg;
  position: relative;

  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-columns: 1fr min-content;
  grid-template-areas:
    "snc-e-siptg-title snc-e-siptg-rgro"
}
.snc-e-siptg-title {
  grid-area: snc-e-siptg-title;
  justify-self: center;
  color: #FFFFFF;
}
.snc-e-siptg-rgro {
  grid-area: snc-e-siptg-rgro;
  margin: 0rem 1.5rem 0rem 0rem;
  border-top: 0.5rem solid #FFFFFF;
  border-right: 0.4rem solid #00000000;
  border-left: 0.4rem solid #00000000;
  transform: rotate(0deg);
  transition:
    border 300ms ease,
    transform 300ms ease;
}
.snc-e-siptg-bgro {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 0%;
  height: 0.125rem;
  background-color: #90EE90;
  border-radius: 0.0625rem; /* height / 2 */
  transition:
    left 300ms,
    width 300ms;
}
/* = = = = = SNC-Z ~ SNC-P = = = = = */
.snc-z {
  grid-area: snc-z;
  position: relative;
}
.snc-e {
  position: relative;
  list-style-type: none; /* .lstfc */
  /* Refresh visible shield */
  /* grid-template-rows: [JS] */
  display: grid;
  grid-auto-rows: 0rem;

  overflow: hidden;
  transition: grid-template-rows 300ms;
}
.snc-p {
  position: relative;
}
/* = = = = = SNC-T = = = = = */
.snc-t {
  /* Tag.a */
  /* Position */
  position: relative;
  width: 100%;
  height: 100%;
  /* Grid */
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "snc-g-title snc-g-rgro";
  /* Visual */
  opacity: 0;
  text-decoration: none;
  transition: opacity 300ms ease;
}
.snc-g-title {
  grid-area: snc-g-title;
  color: #FFFFFF;
  font-weight: 400;
  /* transition: opacity 300ms; */
}
.snc-g-rgro {
  grid-area: snc-g-rgro;
  margin: 0rem 0rem 0rem 0.5rem;
  border-top: 0.25rem solid #00000000;
  border-bottom: 0.25rem solid #00000000;
  border-left: 0.5rem solid #FFFFFF;
  /* transition: opacity 300ms ease; */
}
.snc-g-bgro {
  position: absolute;
  top: 70%;
  height: 0.125rem;
  background-color: #87CEEB;
  border-radius: 0.0625rem;
  /* transition: opacity 300ms ease; */
}
@media (min-width: 768px) {
  .snc-r-cptg {
    /* Position */
    top: 8rem; /* 8rem = TPC.height, FIXME: var(--tpc-height); */
    height: calc(100% - 8rem); /* FIXME: calc(100% - var(--tpc-height)); */
    /* Box Model */
    width: 20rem; /* FIXME: var(--snc-r-width); */
    right: -20rem; /* FIXME: calc(-1 * var(--snc-r-width)); */
  }
}
@media (min-width: 1280px) {
  .snc-r-cptg {
    /* Position */
    top: 4rem;
    height: calc(100% - 4rem);
  }
  .snc-e-siptg-rgro {
    /* Reset */
    margin: 0rem;
    border-top: 0rem solid #00000000;
    border-right: 0rem solid #00000000;
    border-left: 0rem solid #00000000;
    transform: rotate(0deg);
    transition:
      border 300ms ease,
      margin 300ms ease,
      transform 300ms ease;
  }
  .snc-g-rgro {
    margin: 0rem;
    border-top: 0rem solid #00000000;
    border-bottom: 0rem solid #00000000;
    border-left: 0rem solid #00000000;
    transition:
      margin 300ms ease,
      border 300ms ease,
      opacity 300ms ease;
  }
  .snc-g-bgro {
    opacity: 1;
    width: 0%;
    transition: width 300ms ease;
  }
}
/* DESCRIPTION
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */