/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */

/* Variable */
:root {
  --bold-white:
    0.25px 0 #ffffff,
    -0.25px 0 #ffffff,
    0 0.25px #ffffff,
    0 -0.25px #ffffff;
}

/* Entire */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  scroll-behavior: smooth;
}
body {
  -webkit-tap-highlight-color: #00000000;
}

/* Faco HMF (Header, Main, Footer) */
.header, #faco-header {
  position: relative;
  height: 64px;
}
.main, #faco-main {
  position: relative;
  min-height: calc(100vh - 64px);
  padding: 0 16px;
  transition: margin-right 300ms ease;
}
.footer, #faco-footer {
  transition: margin-right 300ms ease;
}

/* No Script */
.noscript .container, #faco-noscript .faco-noscript-container {
  /* Position */
  position: fixed;
  left: 5%;
  top: 50%;
  z-index: 999;
  /* Layout */
  width: 90%;
  padding: 16px;
  transform: translateY(-50%);
  /* Visual */
  border-radius: 8px;
  background-color: #ffff00;
}
.noscript .text, #faco-noscript .faco-noscript-text {
  text-align: center;
  color: #000000;
}

/* Tablet */
@media (min-width: 768px) {
  .header, .faco-header {
    height: 128px;
  }
  .main, .faco-main {
    min-height: calc(100vh - 128px);
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .header, .faco-header {
    height: 64px;
  }
  .main, .faco-main {
    min-height: calc(100vh - 64px);
  }
}