/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
.dpmsc {}
/* ================================================== */
/* Title */
.dpmsc .title {
  padding-top: 1rem;
  font-size: 1.375rem;
  text-align: center;
  /*  */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* ================================================== */
/* Chapter */
.dpmsc .chapter {
  padding: 1rem 0;
}
.dpmsc .chapter-title {
  font-size: 1.25rem;
  /*  */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.dpmsc .chapter-link {
  color: #000000;
  text-decoration: none;
}
/* ================================================== */
/* Part */
.dpmsc .part {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
}
.dpmsc .part-title {
  font-size: 1.125rem;
  /* padding-left: 0.5rem; */
  /* margin-bottom: 0.5rem; */
}
/* ================================================== */
/* Unit */
.dpmsc .unit {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.dpmsc .unit-title {
  margin-left: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.0625rem;
  font-weight: bold;
}
/* ================================================== */
/* Spacer */
.dpmsc .spacer-x {
  padding-left: 0.5rem;
}
.dpmsc .spacer-y {
  padding: 0.5rem 0;
}
/* ================================================== */
/* Viewer */
.dpmsc .viewer {
  
}
.dpmsc .viewer-header {
  padding: 8px 16px;
  background: #000000;
  color: #ffffff;
  font-size: 0.875rem;
  border-radius: 16px 16px 0 0;
  /*  */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.dpmsc .viewer-name {
  display: inline-block;
  font-weight: normal;
  font-size: 0.875rem;
}
.dpmsc .viewer-tool {
  display: inline-flex;
  gap: 16px;
  float: right;
  list-style: none;
}
.dpmsc .viewer-tool-wide, .viewer-tool-copy {
  cursor: pointer;
}
.dpmsc .viewer-main {
  display: flex;
  line-height: 1.5rem;
  background: #222222;
  color: #ffffff;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 0 0 16px 16px;
}
.dpmsc .viewer-main .line-number-list {
  padding: 8px 0;
  list-style: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.dpmsc .viewer-main .line-number-item {
  /* padding-right: 1rem; */
  font-size: 1rem;
  text-align: right;
  color: #808080;
}
.dpmsc .viewer-code {
  overflow: auto;
  padding: 8px 0;
  padding-right: 0.5rem;
  padding-left: 1rem;
}
/* ================================================== */
/* Snippet */
.dpmsc .snippet {
  
}
.dpmsc .snippet-header {
  padding: 8px 16px;
  background: #000000;
  color: #ffffff;
  font-size: 0.875rem;
  border-radius: 16px 16px 0 0;
  /*  */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.dpmsc .snippet-name {
  display: inline-block;
  font-weight: normal;
  font-size: 0.875rem;
}
.dpmsc .snippet-tool {
  display: inline-flex;
  gap: 16px;
  float: right;
  list-style: none;
}
.dpmsc .snippet-tool-copy {
  cursor: pointer;
}
.dpmsc .snippet-main {
  /* display: flex; */
  line-height: 1.5rem;
  background: #222222;
  color: #ffffff;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 0 0 16px 16px;
}
.dpmsc .snippet-code {
  overflow: auto;
  padding: 8px 0;
}
/* ================================================== */
/* Output */
.dpmsc .output {

}
.dpmsc .output-main {
  padding: 8px 16px;
  background: #222222;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 16px;
}
.dpmsc .output-console {
  overflow: auto;
  padding: 8px 0;
}
/* -------------------------------------------------- */
.dpmsc .output-image {
  width: 100%;
  border-radius: 16px;
  background-color: #222222;
}
/* -------------------------------------------------- */
.dpmsc .output-video {
  width: 100%;
  border-radius: 16px;
  background-color: #222222;
}
/* ================================================== */
@media (min-width: 768px) {
  .dpmsc .output-image {
    width: 80%;
  }
  .dpmsc .output-video {
    width: 80%;
  }
}
/* ================================================== */
@media (min-width: 1280px) {
  .dpmsc {
    max-width: 1280px;
    margin: 0 auto;
  }
  .dpmsc .output-image {
    width: 60%;
  }
  .dpmsc .output-video {
    width: 60%;
  }
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */