/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.fosc {
  grid-area: fosc;
}
.fosc-title {
  font-size: 1.5rem;
  color: #FFFFFF;
  white-space: nowrap;
  margin-bottom: 8px;
  cursor: default;
}
.fosc-list {
  display: flex;
  flex-flow: column;
  gap: 8px;
  list-style-type: none;
}
.fosc-item {}
.fosc-item-link {
  text-decoration: none;
}
.fosc-item-text {
  color: #FFFFFF;
  /* border-bottom: 0.0625rem solid transparent; HOVER*/
  white-space: nowrap;
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */