/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
@media (hover: hover) {
  .fasc-text .text-dev-link {
    text-decoration: none;
  }
  /* ================================================== */
  .fasc-logo .logo-link:hover .logo-icon {
    background-color: #cccccc;
  }
  /* -------------------------------------------------- */
  .fasc-text .text-dev-link:hover {
    text-decoration: underline;
  }
  /* -------------------------------------------------- */
  .fasc-social .social-link:hover .social-icon {
    background-color: #cccccc;
  }
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */