/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
.fasc {
  grid-area: fasc;
  display: grid;
  grid-template-areas: "logo" "text" "social";
  gap: 12px;
  margin: 48px 0;
}
/* ================================================== */
/* Logo */
.fasc-logo {
  grid-area: logo;
  height: 32px;
}
/* Link */
.fasc-logo .logo-link {
  display: inline-block;
  height: 32px;
}
/* Icon */
.fasc-logo .logo-icon {
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  background: #ffffff;
}
.fasc-logo .dev-icon {
  width: 64px;
  height: 32px;
  mask-image: url("../../res/svg/logo-2w.svg");
}
.fasc-logo .ta-icon {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  mask-image: url("../../res/svg/a.svg");
}
.fasc-logo .facooya-icon {
  width: 32px;
  height: 32px;
  mask-image: url("../../res/svg/b.svg");
}
/* ================================================== */
/* Text */
.fasc-text {
  grid-area: text;
  color: #ffffff;
}
.fasc-text .text-dev-link {
  font-weight: bold;
  color: #ffffff;
}
/* ================================================== */
.fasc-social {
  grid-area: social;
  /*  */
  display: inline-block;
  height: 24px;
}
/* Link */
.fasc-social .social-link {
  display: inline-block;
  height: 24px;
  margin-left: 24px;
}
.fasc-social .social-link:first-child {
  margin-left: 0;
}
/* Icon */
.fasc-social .social-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  /*  */
  background-color: #ffffff;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
.fasc-social .a-icon {
  mask-image: url("../../res/svg/a.svg");
}
.fasc-social .b-icon {
  mask-image: url("../../res/svg/a.svg");
}
.fasc-social .c-icon {
  mask-image: url("../../res/svg/a.svg");
}
/* ================================================== */
@media (min-width: 768px) {
  .fasc {
    grid-template-areas: "logo social" "text social";
    gap: 12px 32px;
  }
  .fasc-social {
    justify-self: end;
    align-self: end;
  }
}
/* ================================================== */
@media (min-width: 1280px) {
  .fasc {
    grid-template-areas: "logo text social";
    gap: 32px;
    max-width: 90%;
    margin: 48px auto;
  }
  .fasc-logo {
    justify-self: right;
    align-self: center;
  }
  .fasc-text {
    justify-self: center;
    align-self: center;
  }
  .fasc-social {
    justify-self: left;
    align-self: center;
  }
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */