/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.fllc-r {
  grid-area: fllc;
  display: grid;
  grid-template-areas:
    ". y-fo ."
    "y-ll y-ll y-ll"
    ". y-to .";
}
/* ------------------------------ */
.fllc-y {
  grid-area: y-ll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 1rem;
  list-style-type: none;
  color: #FFFFFF;
  justify-content: center;
}
.fllc-e {
  color: white;
}
.fllc-p-text {
  color: #FFFFFF;
  font-size: 0.75rem;
  text-align: center;
  white-space: nowrap;
}
/* ------------------------------ */
.fllc-y-fo {
  grid-area: y-fo;
  display: grid;
  grid-template-areas:
    "fo-ta-icon fo-logo";
  list-style-type: none;
  justify-content: center;
  margin: 0rem 0rem 2rem 0rem;
}
.fllc-z-fo {
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--white);
}
.fllc-z-fo-ta-icon {
  grid-area: fo-ta-icon;
  width: 3rem;
  height: 3rem;
  mask-image: url("../../../svg/a.svg");
  /*  */
  margin-right: 0.5rem;
}
.fllc-z-fo-logo {
  grid-area: fo-logo;
  width: 15rem;
  height: 3rem;
  mask-image: url("../../../svg/logo-5w.svg");
  /*  */
  margin-left: 0.5rem;
}
/* ------------------------------ */
.fllc-y-to {
  grid-area: y-to;
  display: grid;
  grid-template-areas:
    "to-since"
    "to-copyright";
}
.fllc-z-to-since {
  grid-area: to-since;
  font-size: 0.75rem;
  color: #AAAAAA;
  justify-self: center;
  /*  */
  margin-top: 1rem;
}
.fllc-z-to-copyright {
  grid-area: to-copyright;
  font-size: 0.75rem;
  color: #AAAAAA;
  justify-self: center;
  /*  */
  margin-top: 0.5rem;
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */