/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.fllc-r {
  grid-area: fllc;
  display: grid;
  grid-template-areas:
    "facooya-icon facooya-ta-icon"
    "facooya-logo facooya-logo"
    "y y"
    "copyright copyright";
  gap: 1rem;
}
.fllc-y {
  grid-area: y;
  display: grid;
  grid-template-columns: repeat(auto-fit, 6rem);
  gap: 1rem;
  list-style-type: none;
  color: #FFFFFF;
  justify-content: center;
}
.fllc-y-facooya-icon {
  grid-area: facooya-icon;
  width: 5rem;
  height: 5rem;
  mask-image: url("../../../svg/a.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--white);
  justify-self: center;
}
.fllc-y-facooya-ta-icon {
  grid-area: facooya-ta-icon;
  width: 5rem;
  height: 5rem;
  mask-image: url("../../../svg/b.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--white);
  justify-self: center;
}
.fllc-y-facooya-logo {
  grid-area: facooya-logo;
  width: 20rem;
  height: 5rem;
  mask-image: url("../../../svg/c.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--white);
  justify-self: center;
  /*  */
  margin-top: 2rem;
}
.fllc-y-copyright {
  grid-area: copyright;
  font-size: 0.75rem;
  color: #AAAAAA;
  justify-self: center;
}
/*  */
.fllc-z {
  font-size: 0.75rem;
  text-align: center;
  white-space: nowrap;
}
/* =============== :FACOOYA: =============== */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* =============== ;FACOOYA; =============== */