/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.fllc-r {
  grid-area: fllc;
  display: grid;
  grid-template-areas:
    "y-fo"
    "y-ll"
    "y-to";
  gap: 1rem;
}
/* ------------------------------ */
.fllc-y {
  grid-area: y-ll;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
  list-style-type: none;
  color: #FFFFFF;
}
.fllc-e {
  /* Tag.a */
  color: white;
  text-decoration: none;
}
.fllc-p-text {
  /* Tag.div */
  color: #FFFFFF;
  font-size: 0.75rem;
  white-space: nowrap;
  border-bottom: 0.0625rem solid #FFFFFF;
}
/* ------------------------------ */
.fllc-y-fo {
  /* Tag.div */
  grid-area: y-fo;
}
.fllc-z-fo {
  /* Tag.a */
  display: inline-flex;
  gap: 1rem;
}
.fllc-e-fo {
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--white);
}
.fllc-e-fo-ta-icon {
  width: 3rem;
  height: 3rem;
  mask-image: url("../../res/svg/a.svg");
}
.fllc-e-fo-logo {
  width: 15rem;
  height: 3rem;
  mask-image: url("../../res/svg/logo-5w.svg");
}
/* ------------------------------ */
.fllc-y-to {
  grid-area: y-to;
  display: flex;
  gap: 1.5rem;
  cursor: default;
}
.fllc-z-to {
  font-size: 0.75rem;
  color: #AAAAAA;
}
@media (min-width: 768px) {
  .fllc-r {
    grid-template-areas:
      ". y-fo y-fo ."
      "y-to y-to y-ll y-ll";
    grid-template-columns: 1fr auto auto 1fr;
    gap: 1rem 0rem;
  }
  .fllc-y {
    justify-content: right;
  }
}
@media (min-width: 1280px) {
  .fllc-r {
    grid-template-areas:
      ". y-fo ."
      "y-to y-fo y-ll";
    grid-template-columns: 1fr auto 1fr;
    gap: 0rem;
    margin: 0rem;
  }
  .fllc-p-text {
    /* Tag.div */
    border-bottom: hidden;
    border-bottom: 0.0625rem solid transparent;
  }
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */