/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.fllc-y-fo.cl-fllc-y-fo-tool {
  margin: 0rem 0rem 1.5rem 0rem;
}
.fllc-z-fo-ta-icon.cl-fllc-y-fo-tool {
  width: 2.5rem;
  height: 2.5rem;
}
.fllc-z-fo-logo.cl-fllc-y-fo-tool {
  width: 12.5rem;
  height: 2.5rem;
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */