/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
section.dpmsc-r {
  /* Tag.section */
  /* Position */
  grid-area: dpmsc-r;
}
.dpmsc-content-list {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  list-style: none;
}
.dpmsc-content-item {
  scroll-margin-top: 4rem;
}
.dpmsc-title-heading {
  padding: 0.5rem 0rem 1rem 0.5rem;
}
.dpmsc-title-link {
  text-decoration: none;
}
.dpmsc-title-text {
  color: #222222;
  font-size: 1.25rem;
}
.dpmsc-viewer-list {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  list-style: none;
}
.dpmsc-viewer-name {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 1rem 1rem 0rem 0rem;
  font-size: 1rem;
  font-weight: normal;
  cursor: default;
}
.dpmsc-viewer-container {
  /* Tag.div */
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
  background-color: #222222;
  border-radius: 0rem 1rem 1rem 1rem;
  display: flex;
  gap: 1rem;
}
.dpmsc-viewer-text, .dpmsc-viewer-code {
  color: #FFFFFF;
  font-size: 1rem;
  overflow: auto;
  justify-self: start;
  padding: 0.5rem 0rem;
}
/* ============================== */
.orange {
  color: #FF7F00;
}
.blue {
  /* color: #0077FF; */
  color: #1E90FF;
}
.blue-light {
  /* color: #00FFFF; */
  color: #00CED1;
}
.green {
  /* color: #00EE00; */
  color: #00FF7F;
}
.green-bold {
  /* color: #99EE99; */
  /* color: #7FFF00; */
  color: #7FFF7F;
  font-weight: bold;
}
.yellow {
  color: #BA55D3;
}
.comment {
  color: #00AA00;
  /* color: #006400; */
}
/* ============================== */
/* div.dpmsc-t {
  display: flex;
  gap: 1rem;
}
pre.dpmsc-g-text {
  justify-self: start;
} */
/* .dpmsc-viewer-container {
  display: flex;
  gap: 1rem;
} */
/* .dpmsc-viewer-code {
  justify-self: start;
}
.dpmsc-viewer-text {
  justify-self: start;
} */
/* ============================== */
/* ========== Line ========== */
.dpmsc-line-list {
  list-style: none;
  padding: 0.5rem 0rem;
}
.dpmsc-line-number {
  color: #808080;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  display: flex;
  justify-content: end;
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 * PO: Panel Object
 * CPO: Code PO
 * RPO: Result PO
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */