/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
section.dpmsc-r {
  /* Tag.section */
  /* Position */
  grid-area: dpmsc-r;
}
ul.dpmsc-y {
  /* Tag.ul */
  display: flex;
  flex-flow: column;
  gap: 2rem;
  list-style: none;
}
li.dpmsc-z {
  /* Tag.li */
  scroll-margin-top: 4rem;
}
h2.dpmsc-p-tlo {
  /* Tag.h2 */
  padding: 0.5rem 0rem 1rem 0.5rem;
}
a.dpmsc-t-tlo {
  /* Tag.a */
  text-decoration: none;
}
span.dpmsc-g-tlo-text {
  /* Tag.span */
  color: #222222;
  font-size: 1.25rem;
}
ul.dpmsc-e {
  /* Tag.ul */
  display: flex;
  flex-flow: column;
  gap: 1rem;
  list-style: none;
}
h3.dpmsc-t-text {
  /* Tag.h3 */
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 1rem 1rem 0rem 0rem;
  font-size: 1rem;
  font-weight: normal;
  cursor: default;
}
div.dpmsc-t {
  /* Tag.div */
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
  background-color: #222222;
  border-radius: 0rem 1rem 1rem 1rem;
}
pre.dpmsc-g-text {
  /* Tag.pre */
  color: #FFFFFF;
  font-size: 1rem;
  overflow: auto;
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 * PO: Panel Object
 * CPO: Code PO
 * RPO: Result PO
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */