/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.dpmsc {
  /* Tag.section */
  /* Position */
  grid-area: dpmsc-r;
}
.dpmsc-content-list {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  list-style: none;
}
.dpmsc-content-item {
  scroll-margin-top: 4rem;
}
.dpmsc-title-heading {
  padding: 0.5rem 0rem 1rem 0.5rem;
}
.dpmsc-title-link {
  text-decoration: none;
}
.dpmsc-title-text {
  color: #222222;
  font-size: 1.25rem;
}
.dpmsc-viewer-list {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  list-style: none;
}
.dpmsc-viewer-name {
  display: inline-block;
  padding: 0.5rem 1rem;
  /* background-color: #000000;
  color: #FFFFFF;
  border-radius: 1rem 1rem 0rem 0rem; */
  font-size: 1rem;
  font-weight: normal;
  cursor: default;
  margin-right: auto;
}
.dpmsc-viewer-container {
  /* Tag.div */
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
  background-color: #222222;
  border-radius: 0rem 0rem 0.75rem 0.75rem;
  display: flex;
  gap: 1rem;
}
.dpmsc-viewer-text, .dpmsc-viewer-code {
  color: #FFFFFF;
  font-size: 1rem;
  overflow: auto;
  justify-self: start;
  padding: 0.5rem 0rem;
}
/* ========== Line ========== */
.dpmsc-line-list {
  list-style: none;
  padding: 0.5rem 0rem;
}
.dpmsc-line-number {
  color: #808080;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  display: flex;
  justify-content: end;
}
/* ============================== */
.dpmsc-viewer-top-bar {
  display: flex;
  align-items: center;
  background: #111111;
  color: #FFFFFF;
  border-radius: 0.75rem 0.75rem 0rem 0rem;
  user-select: none;
  -moz-user-select: none;
}
.dpmsc-viewer-code-tool {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  align-items: center;
}
.dpmsc-viewer-wide {
  cursor: pointer;
}
.dpmsc-viewer-copy {
  cursor: pointer;
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */