/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.container-link {
  text-decoration: none;
  user-select: none;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* DESCRIPTION
 * e.g., <tag class="container-link flex-center ...">...</tag>
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */