/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.container-link {
  text-decoration: none;
  user-select: none;
}
.flex-center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.facooya-link-class {
  text-decoration: none;
  user-select: none;
}
.facooya-center-class {
  justify-content: center;
  align-items: center;
}

.fac { /* facooya-align-class */
  justify-content: center;
  align-items: center;
}
.flc { /* facooya-link-class */
  text-decoration: none;
  user-select: none;
}
/* DESCRIPTION
 * e.g., <tag class="fac flc ...">...</tag>
 */
/* INFORMATION
 * @[Author] {Facooya} (Founder)
 */