/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.nplc-r-heptg {
  --nplc-background: var(--background-primary);
  --nplc-invert-background: var(--background-invert-primary);

  --nplc-color: #333333;

  --nplc-disabled-color: var(--disabled-color);

  --nplc-transition-fade: 200ms ease;
}
/* ========== NPLC ========== */
.nplc-r-heptg {
  /* Tag.main */
  /* .plc-y-naptg */
  /* Position */
  position: relative;
  top: var(--tpnc-height);
  /* Grid */
  display: grid;
  grid-template-columns: minmax(300px, 1200px);
  grid-template-rows: auto 1fr;
  gap: 2rem 0rem;
  grid-template-areas:
    "nplc-y-neptg"
    "nplc-y-arptg";
  /* Layout */
  padding: 0rem 0rem 1rem 0rem;
  min-height: calc(100% - var(--tpnc-height));
  /* Visual */
  background-color: var(--nplc-background);
  /* !!!!! v1.1.14a [test] !!!!! */
  justify-content: center;
}
/* ============================== */
/* ========== NPTLC ========== */
.nptlc-r-liptp {
  /* Tag.header */
  /* .nplc-y-neptg */
  /* Position */
  grid-area: nplc-y-neptg;
  /* Grid */
  display: grid;
  grid-template-rows: min-content auto;
  gap: 1rem 0rem;
  grid-template-areas:
    "nptlc-y-beptp"
    "nptlc-y-tno";
  /* Layout */
  margin: 0rem 1rem;
}
/* =====----- BEPTP -----===== */
.nptlc-y-beptp {
  /* Tag.div */
  /* ----- Position ----- */
  grid-area: nptlc-y-beptp;
  position: relative;
  box-sizing: border-box;
  /* !!! v1.1.14a [tmp] */
  cursor: default;
  user-select: none;
}
.nptlc-z-beptp-title {
  /* Tag.h1 */
  /* ----- Layout ----- */
  padding: 1rem 1rem;
  /* ----- Typographic ----- */
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.nptlc-z-beptp-bgro {
  /* Tag.div */
  /* ----- Layout ----- */
  width: 100%;
  height: 0.5rem;
  /* ----- Visual ----- */
  background-color: var(--background-invert-primary);
  border-radius: 0.25rem;
}
/* ==========----------========== */
/* =====----- TNO -----===== */
.nptlc-y-tno {
  /* Tag.nav */
  /* Position */
  grid-area: nptlc-y-tno;
}
.nptlc-z-tno {
  /* Tag.ul */
  /* Grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 1rem 1rem;
  /* Visual */
  list-style-type: none;
}
.nptlc-e-tno {
  /* Tag.li */
  /* Position */
  position: relative;
  /* Grid */
  display: grid;
  align-items: center;
  justify-content: center;
  /* Layout */
  padding: 1rem;
  box-sizing: border-box;
  /* Visual */
  cursor: pointer;
}
.nptlc-p-tno {
  /* Tag.a */
  text-decoration: none;
}
.nptlc-t-tno-title {
  /* Tag.h2 */
  /* Position */
  position: relative;
  z-index: 2;
  /* Typography */
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  color: var(--nplc-disabled-color);
  transition:
    color var(--nplc-transition-fade);
}
.nptlc-t-tno-sgro {
  /* Tag.div */
  /* ----- Position ----- */
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  z-index: 1;
  /* ----- Visual ----- */
  border: 0.25rem solid var(--nplc-disabled-color);
  border-radius: 1.5rem;
  transition:
    border var(--nplc-transition-fade);
}
/* ==========----------========== */
/* ============================== */
/* ========== NPCLC ========== */
.npclc-r-naptp {
  /* Tag.section */
  /* .nplc-y-arptg */
  /* ----- Grid ----- */
  grid-area: nplc-y-arptg;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
    "npclc-y";
  /* ----- Layout ----- */
  margin: 0rem 1rem;
}
.npclc-y {
  /* Tag.nav */
  grid-area: npclc-y;
  /* [JS] display: grid; */
  display: none;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 0.5rem 0.5rem;
}
.npclc-z {
  /* Tag.ul */
  /* ----- Grid ----- */
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  /* ----- Visual ----- */
  list-style-type: none;
}
.npclc-e {
  /* Tag.li */
  padding: 1rem 0rem;
  border: 0.125rem solid var(--nplc-color);
  border-radius: 1rem;
  cursor: pointer;
}
.npclc-p {
  /* Tag.a */
  /* !!!!! v1.1.14a [tmp] (move to option) !!!!! */
  text-decoration-line: none;
}
.npclc-t-title {
  /* Tag.div */
  padding: 0rem 0rem 0.5rem 0.5rem;
  color: var(--black);
  font-weight: bold;
  font-size: 1.2rem;
}
.npclc-t-overview {
  /* Tag.div */
  padding: 0rem 0rem 0rem 1.5rem;
  color: var(--nplc-color);
}
@media (min-width: 768px) {
  .nplc-r-heptg {
    top: 8rem;
    transition:
      margin var(--nc-transition-slide);
  }
  .nptlc-z-tno {
    /* Tag.ul */
    grid-template-columns: 1fr 1fr 1fr;
  }
  .npclc-z {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .nplc-r-heptg {
    top: var(--tpnc-height);
    padding: 0rem 1rem 1rem 1rem;
  }
}
/* ============================== */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */