/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.b {
  /* display: grid;
  grid-template-rows: 4rem min-content min-content;
  grid-template-areas: "h" "m" "f"; */
  /*  */
  -webkit-tap-highlight-color: #00000000;
}
.h {
  /* grid-area: h; */
  position: relative;
  height: 4rem;
}
.m {
  /* grid-area: m; */
  position: relative;
  min-height: calc(100vh - 4rem);
  transition: margin 300ms ease;
}
.npm {
  /* display: grid;
  justify-content: center;
  grid-template-columns: minmax(320px, 1280px);
  grid-template-rows: auto 1fr;
  gap: 2rem 0rem;
  grid-template-areas: "npmhc" "npmsc"; */
  padding: 0rem 0rem 1rem 0rem;
  background: #FFFFFF;
  transition: margin 300ms ease;
}
.dpm {
  /* display: grid;
  justify-content: center;
  align-content: start;
  grid-template-columns: minmax(250px, 1280px);
  grid-template-areas: "dpmhc" "dpmsc" "dpmfc";
  gap: 1rem; */
  padding: 0rem 1rem;
  background: #FFFFFF;
}
.f {
  /* grid-area: f; */
  position: relative;
  display: grid;
  grid-template-areas:
    "fngc fngc"
    "fasc fasc"
    "fllc fllc";
  gap: 3rem;
  background: #222222;
  padding: 1.5rem 2rem;
  transition: margin 300ms ease;
}
@media (min-width: 768px) {
  /* .b {
    grid-template-rows: 8rem min-content min-content;
  } */
  .h {
    height: 8rem;
  }
  .m {
    min-height: calc(100vh - 8rem);
  }
  .f {
    gap: 3rem;
    grid-template-areas:
      "fngc"
      "fasc"
      "fllc";
  }
}
@media (min-width: 1280px) {
  /* .b {
    grid-template-rows: 4rem min-content min-content;
  } */
  .h {
    height: 4rem;
  }
  .m {
    min-height: calc(100vh - 4rem);
  }
}
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* ========================= ;FACOOYA; ========================= */