/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
.b {
  -webkit-tap-highlight-color: #00000000;
}
.h {
  position: relative;
  height: 64px;
}
.m {
  position: relative;
  min-height: calc(100vh - 64px);
  padding: 0 16px;
  transition: margin-right 300ms ease;
}
.hpm {
  background: #333333;
}
.npm {
  background: #ffffff;
}
.dpm {
  background: #ffffff;
}
.f {
  position: relative;
  background: #222222;
  padding: 24px 32px;
  transition: margin-right 300ms ease;
}
/* ================================================== */
@media (min-width: 768px) {
  .h {
    height: 128px;
  }
  .m {
    min-height: calc(100vh - 128px);
  }
}
/* ================================================== */
@media (min-width: 1280px) {
  .h {
    height: 64px;
  }
  .m {
    min-height: calc(100vh - 64px);
  }
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */