/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
.npmhc-tab .item.active {
  border-color: #222222;
  cursor: default;
}
.npmhc-tab .text.active {
  color: #222222;
}
/*  */
@media (hover: hover) {
  .npmhc-tab .text:hover {
    color: #222222;
  }
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */