/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
.npmhc {}
/* ================================================== */
.npmhc .title {
  padding: 1rem 0;
  font-size: 1.375rem;
  text-align: center;
  /*  */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* ================================================== */
.npmhc-tab .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  list-style: none;
}
.npmhc-tab .item {
  border: 4px solid #777777;
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  transition: border-color 300ms;
}
.npmhc-tab .text {
  color: #777777;
  font-size: 1rem;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  padding: 12px 8px;
  user-select: none;
  -moz-user-select: none;
  transition: color 300ms;
}
/* ================================================== */
@media (min-width: 768px) {}
/* ================================================== */
@media (min-width: 1280px) {
  .npmhc {
    max-width: 1280px;
    margin: 0 auto;
  }
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */