/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
/* Item Open*/
.hsnc-list .item.open {
  background: #333333;
}
.hsnc-list .item-text.open {
  text-shadow: var(--bold-white);
}
.hsnc-list .item-rr.open {
  transform: scale(1, 1) rotate(360deg) !important;
}
.hsnc-list .item-br.open {
  left: 5%;
  width: 90%;
}
.hsnc-list .sub-list.open {
  opacity: 1;
}
/* ================================================== */
/* Item Hover Lock */
.hsnc-list .item-text.hover-lock{
  margin-right: 32px;
  text-shadow: var(--bold-white);
}
.hsnc-list .item-rr.hover-lock{
  margin-right: 24px;
  transform: scale(1, 1) rotate(180deg);
  opacity: 1;
}
.hsnc-list .item-br.hover-lock{
  left: 5%;
  width: 90%;
}
/* ================================================== */
/* TOC Active */
.hsnc-list .sub-item-lr.toc-active {
  transform: scale(1, 1);
}
.hsnc-list .sub-item-text.toc-active {
  text-shadow: var(--bold-white);
}
/* ================================================== */
/* Sub Item Active */
.hsnc-list .sub-item-text.active {
  margin-right: 12px;
}
.hsnc-list .sub-item-rr.active {
  opacity: 1;
  transform: scale(1, 1);
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */