/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* ================================================== */
.hsnc {
  --item-br-background: #90ee90;
  --sub-item-br-background: #87ceeb;
}
/* -------------------------------------------------- */
.hsnc {
  /* For Mst */
  /* Position */
  position: fixed;
  top: 64px;
  right: -80%;
  z-index: 99;
  /* Layout */
  width: 80%;
  height: calc(100% - 64px);
  /* Visual */
  background: #222222;
  transition: right 300ms;
  /* Scroll */
  overflow-y: scroll;
  overscroll-behavior: contain;
  scrollbar-width: none;
  /* Select */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* ================================================== */
.hsnc-list {
  list-style: none;
}
/* ================================================== */
/* :Item: */
.hsnc-list .item {
  background: #222222;
  transition: background-color 300ms;
}
.hsnc-list .item-container {
  position: relative;
  height: 64px;
  line-height: 64px;
  /*  */
  text-align: center;
  cursor: pointer;
}
/* -------------------------------------------------- */
/* Inner Container */
.hsnc-list .item-text {
  /* Hover Reset: margin-right */
  display: inline-block;
  /* Layout */
  width: 70%;
  overflow: hidden;
  vertical-align: middle;
  /* Text */
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hsnc-list .item-rr {
  /* Hover Reset: margin-right, transform, transition */
  /* Position */
  position: absolute;
  /* top(26px) = itemTextH(64px) / 2 - height(12px) / 2 */
  top: 26px;
  right: 0;
  /* Layout */
  width: 12px;
  height: 12px;
  margin-right: 24px;
  /* Visual */
  background: #ffffff;
  mask-image: url("../../res/icon/dropdown-arrow.svg");
  transform: rotate(180deg);
  transition: transform 300ms;
}
.hsnc-list .item-br {
  /* Position */
  position: absolute;
  top: 85%;
  left: 50%;
  /* Layout */
  width: 0;
  height: 2px;
  /* Visual */
  background: var(--item-br-background);
  border-radius: 1px;
  transition: left 300ms, width 300ms;
}
/* ;Item; */
/* ================================================== */
/* Sub List */
.hsnc-list .sub-list {
  position: relative;
  /* Layout */
  height: 0;
  overflow: hidden;
  /* Visual */
  opacity: 0;
  list-style: none;
  transition: height 300ms, opacity 300ms;
}
/* ================================================== */
/* :Sub Item: */
.hsnc-list .sub-item {
  height: 64px;
  padding: 0 10%;
}
.hsnc-list .sub-item-container {
  position: relative;
  display: block;
  height: 100%;
  /*  */
  text-align: center;
  text-decoration: none;
}
/* -------------------------------------------------- */
/* Inner Container */
.hsnc-list .sub-item-text {
  /* Hover Reset: transition */
  display: inline-block;
  line-height: 64px;
  max-width: 90%;
  overflow: hidden;
  /* Text */
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: margin-right 300ms;
}
.hsnc-list .sub-item-lr {
  /* Only DP TOC */
  position: absolute;
  top: 28px;
  left: 0;
  /*  */
  width: 8px;
  height: 8px;
  margin-right: 8px;
  transform: scale(0, 0);
  background-color: #ffffff;
  border-radius: 4px;
  transition: transform 300ms;
}
.hsnc-list .sub-item-rr {
  position: absolute;
  /* top(28px) = textH(64px) / 2 - height(8px) / 2 */
  top: 28px;
  left: 100%;
  /*  */
  width: 8px;
  height: 8px;
  /*  */
  opacity: 0;
  background-color: #ffffff;
  mask-image: url("../../res/icon/link-arrow.svg");
  transform: scale(0, 0);
  transition:
    left 300ms,
    margin-right 300ms,
    opacity 300ms,
    transform 300ms;
}
.hsnc-list .sub-item-br {
  position: absolute;
  top: 70%;

  width: 0;
  height: 2px;

  background-color: var(--sub-item-br-background);
  border-radius: 1px;
  transition: left 300ms, width 300ms;
}
/* ;Sub Item; */
/* ================================================== */
.hsnc-sge {
  position: absolute;
  z-index: 2;
  top: 0px;
  width: 100%;
  height: calc(100% + 1px);
  background: #00000000;
  pointer-events: none;
}
/* -------------------------------------------------- */
.hsnc-fog {
  position: fixed;
  z-index: 3;

  width: 80%;
  height: 0;
  
  transition: height 300ms;
  pointer-events: none;
}
.hsnc-fog-tr {
  top: 64px;
  background-image: linear-gradient(#222222, #00000000);
}
.hsnc-fog-br {
  bottom: 0;
  background-image: linear-gradient(#00000000, #222222);
}
/* ================================================== */
@media (min-width: 768px) {
  .hsnc {
    top: 128px;
    height: calc(100% - 128px);
    width: 320px;
    right: -320px;
  }
  .hsnc-fog-tr {
    top: 128px;
  }
}
/* ================================================== */
@media (min-width: 1280px) {
  .hsnc {
    top: 64px;
    height: calc(100% - 64px);
  }
  .hsnc-fog-tr {
    top: 64px;
  }
}
/* ================================================== */
/* ========================= :FACOOYA: ========================= */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
/* ========================= ;FACOOYA; ========================= */