/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 *
 * The faco-footer style
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:host {
	display: block;
  padding: 24px 32px !important;
  background: #222222;
	transition: margin-right 300ms ease;
}

.explore {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 48px;
}

.explore .section {
  margin-right: auto;
}

.explore .title {
  font-size: 1.5rem;
  color: #FFFFFF;
  white-space: nowrap;
  margin-bottom: 8px;
  cursor: default;
}

.explore .list {
  list-style-type: none;
}

.explore .item {
  margin-top: 8px;
}

.explore .item:first-child {
  margin-top: 0;
}

.explore .link {
  text-decoration: none;
}

.explore .text {
  color: #ffffff;
  white-space: nowrap;
}

.about {
  display: grid;
  grid-template-areas: "logo" "description" "social";
  gap: 12px;
  margin: 48px 0;
}

/* Logo */
.about .logo {
  grid-area: logo;
  height: 32px;
}

/* Link */
.about .logo-link {
  display: inline-block;
  height: 32px;
}

/* Item */
.about .logo-item {
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  background: #ffffff;
}

/* About Text */
.about .description {
  grid-area: description;
  color: #ffffff;
}

.about .social {
  grid-area: social;
  display: inline-block;
}

/* Link */
.about .social-link {
  display: inline-block;
}

/* Item */
.about .social-item {
  display: inline-block;
  background-color: #ffffff;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.legal {
  display: grid;
  grid-template-areas: "logo" "list" "copyright";
  gap: 12px;
}

/* Logo */
.legal .logo {
  grid-area: logo;
  text-align: center;
}

.legal .logo-link {
  display: inline-block;
  white-space: nowrap;
}

.legal .logo-item {
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

/* List */
.legal .list {
  grid-area: list;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  list-style-type: none;
  color: #ffffff;
  justify-self: center;
}

.legal .link {
  color: white;
  text-decoration: none;
}

.legal .text {
  color: #ffffff;
  font-size: 0.75rem;
  white-space: nowrap;
  border-bottom: 0.0625rem solid #ffffff;
}

/* Copyright */
.legal .copyright {
  grid-area: copyright;
  font-size: 0.75rem;
  color: #aaaaaa;
  cursor: default;
  align-self: end;
  justify-self: center;
}

@media (min-width: 768px) {
  .explore {
    justify-content: space-evenly;
  }

  .explore .section {
    /* Reset: margin-right */
    margin-right: 0;
  }

  .about {
    grid-template-areas:
			"logo social"
			"description social";
    gap: 16px 32px;
    max-width: 90%;
    margin: 48px auto;
  }

  .about .social {
    justify-self: end;
    align-self: end;
  }

  .legal {
    grid-template-areas: ". logo logo ." "copyright copyright list list";
    grid-template-columns: 1fr auto auto 1fr;
    gap: 12px 0;
  }

  .legal .list {
    justify-self: end;
  }

  .legal .copyright {
    justify-self: start;
  }
}

@media (min-width: 1280px) {
  .about {
    grid-template-areas:
			"logo description social";
    gap: 32px;
    max-width: 90%;
    margin: 48px auto;
  }

  .about .logo {
    justify-self: right;
    align-self: center;
  }

  .about .description {
    justify-self: center;
    align-self: center;
  }

  .about .social {
    justify-self: left;
    align-self: center;
  }

  .legal {
    grid-template-areas: ". logo ." "copyright logo list";
    grid-template-columns: 1fr auto 1fr;
    gap: 0;
  }
}

@media (hover: hover) {
  .explore .link:hover .text {
    border-bottom: 1px solid #ffffff;
  }

  .about .logo-link:hover .logo-item {
    background-color: #cccccc;
  }

  .about .social-link:hover .social-item {
    background-color: #cccccc;
  }

  .legal .logo-link:hover .logo-item {
    background-color: #cccccc;
  }

  .legal .text {
    border-bottom: 1px solid #00000000;
  }

  .legal .link:hover .text {
    border-bottom: 1px solid #FFFFFF;
  }
}
