/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* =============== :Handler: =============== */
/* ==========----- :cl-mdt-hdnc-z-tlo-handler: -----========== */
.hdnc-y.cl-mdt-hdnc-z-tlo-handler {
  background-color: var(--hdnc-background-color-secondary);
}
.hdnc-e-tlo-text.cl-mdt-hdnc-z-tlo-handler {
  text-shadow: var(--facooya-bold-white);
}
.hdnc-e-tlo-rgro.cl-mdt-hdnc-z-tlo-handler {
  transform: rotate(180deg);
}
.hdnc-e-tlo-bgro.cl-mdt-hdnc-z-tlo-handler {
  left: 5%;
  width: 90%;
}
.hdnc-t-blo.cl-mdt-hdnc-z-tlo-handler {
  opacity: 1;
}
/* ==========----- ;cl-mdt-hdnc-z-tlo-handler; -----========== */
/* ==========----- :cl-tdt-hdnc-z-tlo-handler: -----========== */
.hdnc-e-tlo-text.cl-tdt-hdnc-z-tlo-handler {
  text-shadow: var(--facooya-bold-white);
}
.hdnc-e-tlo-bgro.cl-tdt-hdnc-z-tlo-handler {
  left: 5%;
  width: 90%;
}
.hdnc-e-blo.cl-tdt-hdnc-z-tlo-handler {
  width: var(--hdnc-e-width-secondary);
}
.hdnc-e-blo.cl-tdt-hdnc-z-tlo-handler-nth-first {
  left: 0%;
}
.hdnc-e-blo.cl-tdt-hdnc-z-tlo-handler-nth-last {
  right: 0%;
}
.hdnc-t-blo.cl-tdt-hdnc-z-tlo-handler {
  opacity: 1;
}
/* ==========----- ;cl-tdt-hdnc-z-tlo-handler; -----========== */
/* ==========----- :cl-ddt-hdnc-y-handler: -----========== */
.hdnc-e-tlo-text.cl-ddt-hdnc-y-handler {
  text-shadow: var(--facooya-bold-white);
}
.hdnc-e-tlo-bgro.cl-ddt-hdnc-y-handler {
  left: 5%;
  width: 90%;
}
.hdnc-e-blo.cl-ddt-hdnc-y-handler {
  width: var(--hdnc-e-width-secondary);
}
.hdnc-e-blo.cl-ddt-hdnc-y-handler-nth-last {
  right: 0%;
}
.hdnc-t-blo.cl-ddt-hdnc-y-handler {
  opacity: 1;
}
/* ==========----- ;cl-ddt-hdnc-y-handler; -----========== */
/* ==========----- :cl-ddt-hdnc-p-blo-handler: -----========== */
.hdnc-g-blo-text.cl-ddt-hdnc-p-blo-handler {
  text-shadow: var(--facooya-bold-white);
}
.hdnc-g-blo-rgro.cl-ddt-hdnc-p-blo-handler {
  border-top: 0.25rem solid var(--transparent);
  border-bottom: 0.25rem solid var(--transparent);
  border-left: 0.5rem solid var(--white);
  opacity: 1;
}
/* ==========----- ;cl-ddt-hdnc-p-blo-handler; -----========== */
/* ==========----- :cl-mdt-hdnc-r-scroll-handler: -----========== */
.hdnc-y-sfro-to.cl-mdt-hdnc-r-scroll-handler {
  height: 5rem;
}
.hdnc-y-sfro-bo.cl-mdt-hdnc-r-scroll-handler {
  height: 5rem;
}
/* ==========----- ;cl-mdt-hdnc-r-scroll-handler; -----========== */
/* ==========----- :cl-tdt-hdnc-e-blo-scroll-handler: -----========== */
.hdnc-e-blo-sgro-to.cl-tdt-hdnc-e-blo-scroll-handler {
  transform: scale(1, 1);
}
.hdnc-e-blo-sgro-bo.cl-tdt-hdnc-e-blo-scroll-handler {
  transform: scale(1, 1);
}
/* ==========----- ;cl-tdt-hdnc-e-blo-scroll-handler; -----========== */
/* ==========----- :cl-ddt-hdnc-e-blo-scroll-handler: -----========== */
.hdnc-e-blo-sgro-to.cl-ddt-hdnc-e-blo-scroll-handler {
  transform: scale(1, 1);
}
.hdnc-e-blo-sgro-bo.cl-ddt-hdnc-e-blo-scroll-handler {
  transform: scale(1, 1);
}
/* ==========----- ;cl-ddt-hdnc-e-blo-scroll-handler; -----========== */
/* =============== ;Handler; =============== */
/* =============== :FACOOYA: =============== */
/* NOTE
 * CL: Class List
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* =============== ;FACOOYA; =============== */
