/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.fadfc-r {
  grid-area: fadfc;
  display: grid;
  grid-template-areas:
    "facooya-dev-logo y-text"
    "facooya-dev-logo y-note";
  gap: 0rem 2rem;
}
.fadfc-y-facooya-dev-logo {
  grid-area: facooya-dev-logo;
  width: 10rem;
  height: 5rem;
  mask-image: url("../../../svg/d.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--white);
  justify-self: center;
}
.fadfc-y-text {
  grid-area: y-text;
  color: #FFFFFF;
}
.fadfc-y-note {
  grid-area: y-note;
  color: #FFFFFF;
}
/* =============== :FACOOYA: =============== */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* =============== ;FACOOYA; =============== */