/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
.hsnc-r {
  --hsnc-duration-primary: var(--duration-primary);
  --hsnc-timing-primary: var(--timing-primary);
  --hsnc-timing-secondary: var(--timing-secondary);
  /*  */
  --hsnc-background: var(--nc-background);
  --hsnc-font-color-primary: #FFFFFF;
  --hsnc-font-color-secondary: #FFFFFF;
  --hsnc-rgro-color: #FFFFFF;
  /*  */
  --hsnc-background-color-secondary: var(--background-color-secondary);
  /*  */
  --mdt-hsnc-top: var(--tpnc-height);
  --tdt-hsnc-top: calc(var(--tpnc-height) + var(--dnc-height));
  --ddt-hsnc-top: var(--tpnc-height);
  --mdt-hsnc-width: 80%;
  --tdt-hsnc-width: 20rem;
  --ddt-hsnc-width: 20rem;
}
.hsnc-r {
  /* Positioning */
  position: fixed;
  top: var(--mdt-hsnc-top); /* TPC.height = 4rem */
  right: calc(var(--mdt-hsnc-width) * -1);
  z-index: 99; /* FIXME: Part section < Temp */
  /* Grid */
  display: grid;
  grid-auto-rows: min-content; /* hsnc-z: 4rem + hsnc-e: auto, !!! template-rows? */
  /* Layout */
  width: var(--mdt-hsnc-width);
  height: calc(100% - var(--mdt-hsnc-top)); /* 4rem = TPC.height */
  overflow-y: scroll;
  overscroll-behavior: contain;
  /* Visual */
  background-color: #222222;
  transition:
    right var(--nc-transition-slide),
    width var(--nc-transition-slide);
  /*  */
  scrollbar-width: none;
  /*  */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* = = = = = SNC-Y = = = = = */
.hsnc-y {
  /* Position */
  position: relative;
  /* .hsnc-y-mgpt < .hsnc-y */
  z-index: 2;
  /* Grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem auto;
  grid-template-areas:
    "hsnc-z-tlo"
    "hsnc-z-blo";
  /* Layout */
  box-sizing: border-box;
  /* Visual */
  background-color: var(--hsnc-background);
  list-style-type: none;
  cursor: pointer;
  transition:
    background-color var(--hsnc-duration-primary) var(--hsnc-timing-secondary);
}
/* = = = = = SNC-Z-SIPTG = = = = = */
.hsnc-z-tlo {
  grid-area: hsnc-z-tlo;
  position: relative;

  display: grid;
  align-items: center;
  justify-content: center;

  /* grid-template-columns: 1fr min-content;
  grid-template-areas:
    "hsnc-e-tlo-text hsnc-e-tlo-rgro" */
  grid-template-columns: 1fr;
  grid-template-areas:
    "hsnc-e-tlo-text"
}
.hsnc-e-tlo-text {
  grid-area: hsnc-e-tlo-text;
  justify-self: center;
  color: var(--hsnc-font-color-primary);
  white-space: nowrap;
  /* !!!!! :v1.1.17 [test] (ellipsis): !!!!! */
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
  text-align: center;
  transition: text-shadow 300ms ease;
}
.hsnc-e-tlo-rgro {
  /* !!!!! :v1.1.17 [test] (ellipsis): !!!!! */
  /* grid-area: hsnc-e-tlo-rgro;
  margin: 0rem 1.5rem 0rem 0rem; */
  position: absolute;
  right: 0rem;
  margin: 0rem 5% 0rem 0rem;
  /* !!!!! ;v1.1.17 [test] (ellipsis); !!!!! */
  border-top: 0.5rem solid var(--hsnc-rgro-color);
  border-right: 0.4rem solid var(--transparent);
  border-left: 0.4rem solid var(--transparent);
  transform: rotate(0deg);
  transition:
    border var(--hsnc-duration-primary) var(--hsnc-timing-primary),
    transform var(--hsnc-duration-primary) var(--hsnc-timing-primary);
}
.hsnc-e-tlo-bgro {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 0%;
  height: 0.125rem;
  background-color: var(--facooya-primary);
  border-radius: 0.0625rem; /* height / 2 */
  transition:
    left var(--hsnc-duration-primary) var(--hsnc-timing-primary),
    width var(--hsnc-duration-primary) var(--hsnc-timing-primary);
}
/* = = = = = SNC-Z ~ SNC-P = = = = = */
.hsnc-z-blo {
  grid-area: hsnc-z-blo;
  position: relative;
}
.hsnc-e-blo {
  position: relative;
  list-style-type: none; /* .lstfc */
  /* Refresh visible shield */
  /* grid-template-rows: [JS] */
  display: grid;
  grid-auto-rows: 0rem;

  overflow: hidden;
  transition:
    grid-template-rows var(--hsnc-duration-primary) var(--hsnc-timing-primary);
}
.hsnc-p-blo {
  position: relative;
  /*  */
  padding: 0rem 10% 0rem 10%;
}
/* = = = = = SNC-T = = = = = */
.hsnc-t-blo {
  /* Tag.a */
  /* Position */
  position: relative;
  width: 100%;
  height: 100%;
  /* Grid */
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "hsnc-g-blo-text hsnc-g-blo-rgro";
  gap: 0rem 0.5rem;
  /* Visual */
  opacity: 0;
  text-decoration: none;
  transition:
    opacity var(--hsnc-duration-primary) var(--hsnc-timing-primary);
}
.hsnc-g-blo-text {
  grid-area: hsnc-g-blo-text;
  color: var(--hsnc-font-color-secondary);
  font-weight: normal;
  /* !!!!! v1.1.15a [test] [pro] (.class-opt) !!!!! */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hsnc-g-blo-rgro {
  grid-area: hsnc-g-blo-rgro;
  /* margin: 0rem 0rem 0rem 0.5rem; */
  border-top: 0.25rem solid var(--transparent);
  border-bottom: 0.25rem solid var(--transparent);
  border-left: 0.5rem solid var(--hsnc-rgro-color);
  /* transition: opacity 300ms ease; */
}
.hsnc-g-blo-bgro {
  position: absolute;
  top: 70%;
  width: 0rem;
  height: 0.125rem;
  background-color: var(--facooya-secondary);
  border-radius: 0.0625rem;
  /* transition: opacity 300ms ease; */
  transition:
    left 300ms ease,
    width 300ms ease;
}
/* =============== :Hsnc Eco Group: =============== */
/* .hsnc-y-eco {
  position: absolute;
  top: 0rem;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
} */
.hsnc-y-sdo {
  /* Position */
  position: absolute;
  /* .hsnc-y-mgpt < .hsnc-y */
  z-index: 2;
  top: 0rem;
  /* Layout */
  width: 100%;
  height: calc(100% + 1px);
  /* Visual */
  background: var(--transparent);
  pointer-events: none;
}
/* !!!!! :v1.1.17a [test] [pro] (scroll-fog): !!!!! */
.hsnc-y-sfro {
  position: fixed;
  z-index: 3;
  width: 80%;
  transition: height 300ms ease;
  pointer-events: none;
}
.hsnc-y-sfro-to {
  top: 4rem;
  height: 0rem;
  background: linear-gradient(
    var(--hsnc-background),
    var(--transparent)
  );
}
.hsnc-y-sfro-bo {
  bottom: 0rem;
  height: 0rem;
  background: linear-gradient(
    var(--transparent),
    var(--hsnc-background)
  );
}
/* !!!!! ;v1.1.17a [test] (scroll-fog); !!!!! */

/* =============== ;Hsnc Eco Group; =============== */
@media (min-width: 768px) {
  .hsnc-r {
    /* Position */
    top: 8rem; /* 8rem = tpnc.height + dnc.height */
    height: calc(100% - 8rem); /* FIXME: calc(100% - var(--tpc-height)); */
    /* Box Model */
    width: 20rem; /* FIXME: var(--hsnc-r-width); */
    right: -20rem; /* FIXME: calc(-1 * var(--hsnc-r-width)); */
  }
  .hsnc-y-sfro-to {
    top: 8rem;
  }
  .hsnc-e-tlo-rgro {
    margin: 0rem 1rem 0rem 0rem;
  }
  .hsnc-p-blo {
    padding: 0rem 2rem 0rem 2rem;
  }
  .hsnc-g-blo-bgro {
    transition: width 300ms ease;
  }
}
@media (min-width: 1280px) {
  .hsnc-r {
    /* Position */
    top: var(--tpnc-height);
    height: calc(100% - var(--tpnc-height));
  }
  .hsnc-e-tlo-text {
    transition:
      text-shadow 300ms ease,
      margin 300ms ease;
  }
  .hsnc-e-tlo-rgro {
    /* Reset */
    margin: 0rem;
    border-top: 0rem solid var(--transparent);
    border-right: 0rem solid var(--transparent);
    border-left: 0rem solid var(--transparent);
    transform: rotate(0deg);
    transition:
      border var(--hsnc-duration-primary) var(--hsnc-timing-primary),
      margin var(--hsnc-duration-primary) var(--hsnc-timing-primary),
      transform var(--hsnc-duration-primary) var(--hsnc-timing-primary);
  }
  .hsnc-t-blo {
    gap: 0rem;
  }
  .hsnc-g-blo-text {
    max-width: 14rem;
    transition: text-shadow 300ms ease;
  }
  .hsnc-g-blo-rgro {
    margin: 0rem;
    border-top: 0rem solid var(--transparent);
    border-bottom: 0rem solid var(--transparent);
    border-left: 0rem solid var(--transparent);
    transition:
      margin var(--hsnc-duration-primary) var(--hsnc-timing-primary),
      border var(--hsnc-duration-primary) var(--hsnc-timing-primary),
      opacity var(--hsnc-duration-primary) var(--hsnc-timing-primary);
  }
  /* .hsnc-g-blo-bgro {
    opacity: 1;
    width: 0%;
    transition:
      width var(--hsnc-duration-primary) var(--hsnc-timing-primary);
  } */
  .hsnc-y-sfro-to {
    top: 4rem;
  }
}
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */