/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* =============== :Handler: =============== */
/* ==========----- :cl-mdt-hsnc-z-tlo-handler: -----========== */
.hsnc-y.cl-mdt-hsnc-z-tlo-handler {
  background-color: var(--hsnc-background-color-secondary);
}
.hsnc-e-tlo-text.cl-mdt-hsnc-z-tlo-handler {
  text-shadow: var(--facooya-bold-white);
}
.hsnc-e-tlo-rgro.cl-mdt-hsnc-z-tlo-handler {
  transform: rotate(180deg);
}
.hsnc-e-tlo-bgro.cl-mdt-hsnc-z-tlo-handler {
  left: 5%;
  width: 90%;
}
.hsnc-t-blo.cl-mdt-hsnc-z-tlo-handler {
  opacity: 1;
}
/* ==========----- ;cl-mdt-hsnc-z-tlo-handler; -----========== */
/* ==========----- :cl-tdt-hsnc-z-tlo-handler: -----========== */
.hsnc-y.cl-tdt-hsnc-z-tlo-handler {
  background-color: var(--hsnc-background-color-secondary);
}
.hsnc-e-tlo-text.cl-tdt-hsnc-z-tlo-handler {
  text-shadow: var(--facooya-bold-white);
}
.hsnc-e-tlo-rgro.cl-tdt-hsnc-z-tlo-handler {
  transform: rotate(180deg);
}
.hsnc-e-tlo-bgro.cl-tdt-hsnc-z-tlo-handler {
  left: 5%;
  width: 90%;
}
.hsnc-t-blo.cl-tdt-hsnc-z-tlo-handler {
  opacity: 1;
}
/* ==========----- ;cl-tdt-hsnc-z-tlo-handler; -----========== */
/* ==========----- :cl-ddt-hsnc-z-tlo-handler: -----========== */
.hsnc-e-tlo-text.cl-ddt-hsnc-z-tlo-handler {
  text-shadow: var(--facooya-bold-white);
  margin: 0rem 1rem 0rem 0rem;
}
.hsnc-e-tlo-rgro.cl-ddt-hsnc-z-tlo-handler {
  /* margin: 0rem 2.5rem 0rem 0rem; */
  margin: 0rem 1rem 0rem 0rem;
  border-top: 0.5rem solid var(--white);
  border-right: 0.4rem solid var(--transparent);
  border-left: 0.4rem solid var(--transparent);
  transform: rotate(360deg);
}
.hsnc-e-tlo-bgro.cl-ddt-hsnc-z-tlo-handler {
  left: 5%;
  width: 90%;
}
.hsnc-y.cl-ddt-hsnc-z-tlo-handler-click {
  background-color: var(--hsnc-background-color-secondary);
}
.hsnc-e-tlo-rgro.cl-ddt-hsnc-z-tlo-handler-click {
  transform: rotate(540deg);
}
.hsnc-t-blo.cl-ddt-hsnc-z-tlo-handler-click {
  opacity: 1;
}
/* ==========----- ;cl-ddt-hsnc-z-tlo-handler; -----========== */
/* ==========----- :cl-ddt-hsnc-p-blo-handler: -----========== */
.hsnc-g-blo-text.cl-ddt-hsnc-p-blo-handler {
  /* font-weight: bold; */
  text-shadow: var(--facooya-bold-white);
}
.hsnc-g-blo-rgro.cl-ddt-hsnc-p-blo-handler {
  margin: 0rem 0rem 0rem 0.5rem;
  border-top: 0.25rem solid var(--transparent);
  border-bottom: 0.25rem solid var(--transparent);
  border-left: 0.5rem solid var(--white);
  opacity: 1;
}
/* ==========----- ;cl-ddt-hsnc-p-blo-handler; -----========== */
/* ==========----- :cl-adt-hsnc-z-eco-sfro-handler: -----========== */
.hsnc-z-eco-sfro-tgro.cl-adt-hsnc-z-eco-sfro-handler {
  height: 5rem;
}
.hsnc-z-eco-sfro-bgro.cl-adt-hsnc-z-eco-sfro-handler {
  height: 5rem;
}
/* ==========----- ;cl-adt-hsnc-z-eco-sfro-handler; -----========== */
/* =============== ;Handler; =============== */
/* =============== :FACOOYA: =============== */
/* NOTE
 * CL: Class List
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* =============== ;FACOOYA; =============== */