/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* =============== :Handler: =============== */
.hsnc-item.cl-hsnc-item-container-click {
  background: #333333;
}
.hsnc-item-text.cl-hsnc-item-container-click {
  text-shadow: var(--facooya-bold-white);
}
.hsnc-item-rr.cl-hsnc-item-container-click {
  transform: scale(1, 1) rotate(360deg) !important;
}
.hsnc-item-br.cl-hsnc-item-container-click {
  left: 5%;
  width: 90%;
}
.hsnc-sub-list.cl-hsnc-item-container-click {
  opacity: 1;
}
/* =============== ;Handler; =============== */
.hsnc-item-text.cl-hsnc-item-container-set-hover-lock {
  text-shadow: var(--facooya-bold-white);
  margin: 0rem 1rem 0rem 0rem;
}
.hsnc-item-rr.cl-hsnc-item-container-set-hover-lock {
  margin: 0rem 1rem 0rem 0rem;
  transform: scale(1, 1) rotate(180deg);
  opacity: 1;
}
.hsnc-item-br.cl-hsnc-item-container-set-hover-lock {
  left: 5%;
  width: 90%;
}
/*  */
.hsnc-sub-item-text.cl-hsnc-sub-item-set-active {
  margin: 0rem 0.75rem 0rem 0rem;
}
.hsnc-sub-item-rr.cl-hsnc-sub-item-set-active {
  opacity: 1;
  transform: scale(1, 1);
}
/* =============== :Util: =============== */
.hsnc-sub-item-lr.cl-hsnc-set-sub-item-lr-enabled {
  transform: scale(1, 1);
}
.hsnc-sub-item-text.cl-hsnc-set-sub-item-lr-enabled {
  text-shadow: var(--facooya-bold-white);
}
/* =============== ;Util; =============== */
/* NOTE
 */
/* AUTHORSHIP
 * Founder: Facooya
 */