/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright 2025 Facooya and Fanone Facooya
 */
/* =============== :Handler: =============== */
/* ==========----- :cl-ddt-nptlc-exa-tno-handler: -----========== */
.nptlc-t-tno-title.cl-ddt-nptlc-e-tno-handler {
  color: var(--black);
}
/* ==========----- ;cl-ddt-nptlc-exa-tno-handler; -----========== */
.nptlc-t-tno-title.cl-nplc-on-hash-change-handler {
  color: var(--black);
}
.nptlc-t-tno-sgro.cl-nplc-on-hash-change-handler {
  border-color: var(--black);
}
.npclc-y.cl-nplc-on-hash-change-handler {
  display: grid;
}
/* =============== ;Handler; =============== */
/* =============== :FACOOYA: =============== */
/* NOTE
 * CL: Class List
 */
/* AUTHORSHIP
 * Founder: Facooya
 */
 /* =============== ;FACOOYA; =============== */